# üì• Ingest√£o e Mapeamento das Tabelas

## ‚úÖ Objetivo do Notebook

Este notebook executa as seguintes tarefas principais:

---

### 1. üîç Compara√ß√£o entre Datasets de Mesmo Tipo

Verifica se estruturas de **tabelas semelhantes podem ser empilhadas**, garantindo a consist√™ncia do schema entre tabelas fragmentadas.

---

### 2. üìù Cria√ß√£o de Arquivo `.json` com a Descri√ß√£o das Tabelas

Gera automaticamente um **arquivo com metadados estruturais** de cada tabela, incluindo nomes de colunas, tipos de dados, totais e presen√ßa de chave prim√°ria.

---

### 3. üìñ Gera√ß√£o de Dicion√°rio de Vari√°veis (em Portugu√™s)

Cria um **mapeamento interpret√°vel das vari√°veis**, facilitando a compreens√£o dos nomes t√©cnicos e tornando a an√°lise mais acess√≠vel.

### Cria√ß√£o da SparkSession

In [1]:
# Cria√ß√£o da SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploSparkSession") \
    .getOrCreate()

### Importa√ß√µes

In [2]:
from pyspark.sql.functions import col, when, count, isnan, isnull, countDistinct
import json
import pandas as pd
import os
import glob

In [3]:
diretorio = r"C:\Users\fred\meu_projeto_etl"

### üîçCompara√ß√£o entre datasets do mesmo tipo

In [12]:
## Carregamento das tabelas necess√°rias para valida√ß√£o de empilhamento
caminho = r"C:\Users\fred\meu_projeto_etl\data\raw\test"
test_base = spark.read.parquet(f"{caminho}\\test_base.parquet")
test_applprev_1_0 = spark.read.parquet(f"{caminho}\\test_applprev_1_0.parquet")
test_applprev_1_1 = spark.read.parquet(f"{caminho}\\test_applprev_1_1.parquet")
test_credit_bureau_a_1_0 = spark.read.parquet(f"{caminho}\\test_credit_bureau_a_1_0.parquet")
test_credit_bureau_a_1_1 = spark.read.parquet(f"{caminho}\\test_credit_bureau_a_1_1.parquet")
test_credit_bureau_a_2_0 = spark.read.parquet(f"{caminho}\\test_credit_bureau_a_2_0.parquet")
test_credit_bureau_b_1 = spark.read.parquet(f"{caminho}\\test_credit_bureau_b_1.parquet")
test_credit_bureau_b_2 = spark.read.parquet(f"{caminho}\\test_credit_bureau_b_2.parquet")
test_debitcard_1 = spark.read.parquet(f"{caminho}\\test_debitcard_1.parquet")
test_deposit_1 = spark.read.parquet(f"{caminho}\\test_deposit_1.parquet")
test_other_1 = spark.read.parquet(f"{caminho}\\test_other_1.parquet")
test_person_1 = spark.read.parquet(f"{caminho}\\test_person_1.parquet")
test_person_2 = spark.read.parquet(f"{caminho}\\test_person_2.parquet")
test_static_0_0 = spark.read.parquet(f"{caminho}\\test_static_0_0.parquet")
test_static_0_1 = spark.read.parquet(f"{caminho}\\test_static_0_1.parquet")
test_stati_cb_0 = spark.read.parquet(f"{caminho}\\test_static_cb_0.parquet")
test_tax_registry_a_1 = spark.read.parquet(f"{caminho}\\test_tax_registry_a_1.parquet")
test_tax_registry_b_1 = spark.read.parquet(f"{caminho}\\test_tax_registry_b_1.parquet")
test_tax_registry_c_1 = spark.read.parquet(f"{caminho}\\test_tax_registry_c_1.parquet")
test_credit_bureau_a_2_1 = spark.read.parquet(f"{caminho}\\test_credit_bureau_a_2_1.parquet")
test_credit_bureau_a_2_5 = spark.read.parquet(f"{caminho}\\test_credit_bureau_a_2_5.parquet")
test_credit_bureau_a_2_10= spark.read.parquet(f"{caminho}\\test_credit_bureau_a_2_10.parquet")

In [10]:
## Fun√ß√£o para avaliar tabelas com colunas iguais
def comparar_tabelas(tabela1, tabela2):
    colunas1 = set(tabela1)
    colunas2 = set(tabela2)
    
    if colunas1 == colunas2:
        print("‚úÖ Colunas iguais (ignora ordem).")
    else:
        print("‚úÖ Colunas diferentes (ignora ordem).")

In [22]:
comparar_tabelas(test_applprev_1_0.columns, test_applprev_1_1.columns)

‚úÖ Colunas iguais (ignora ordem).

In [7]:
comparar_tabelas(train_applprev_1_0.columns, train_applprev_1_1.columns)

‚úÖ Colunas iguais (ignora ordem).

In [8]:
comparar_tabelas(train_credit_bureau_a_1_0.columns, train_credit_bureau_a_1_1.columns)

‚úÖ Colunas iguais (ignora ordem).

In [11]:
comparar_tabelas(train_credit_bureau_a_1_0.columns, train_credit_bureau_a_2_0.columns)

‚úÖ Colunas diferentes (ignora ordem).

In [12]:
comparar_tabelas(train_static_0_0.columns, train_static_0_1.columns)

‚úÖ Colunas iguais (ignora ordem).

In [13]:
comparar_tabelas(train_tax_registry_a_1.columns, train_tax_registry_b_1.columns)

‚úÖ Colunas diferentes (ignora ordem).

In [14]:
comparar_tabelas(train_credit_bureau_a_2_0.columns, train_credit_bureau_a_2_10.columns)

‚úÖ Colunas iguais (ignora ordem).

## üìä Resultado das Compara√ß√µes
### üß© Estrutura dos Nomes dos Datasets

A nomenclatura dos arquivos segue um padr√£o que permite identificar suas subdivis√µes em grupos, com a seguinte estrutura:

(treino_ou_teste)_(fonte_de_dados)_(grupo_de_vari√°veis)(subgrupo)


treino_ou_teste: Indica se o dataset pertence ao conjunto de treino (train) ou teste (test).

fonte_de_dados: Define a origem da informa√ß√£o (por exemplo: credit_bureau, applprev, tax_registry, static).

grupo_de_vari√°veis: Agrupa vari√°veis com caracter√≠sticas semelhantes ou fun√ß√£o anal√≠tica similar.

subgrupo (opcional): Representa uma subdivis√£o ainda mais espec√≠fica, quando aplic√°vel.

### üß± Possibilidade de Empilhamento

Os datasets que compartilham o mesmo nome at√© a parte de <grupo_de_vari√°veis> podem ser empilhados (concatenados) de forma segura, pois representam a mesma estrutura sem conflito sem√¢ntico. Essa estrat√©gia √© √∫til para consolida√ß√£o e an√°lise integrada entre diferentes clientes ou aplica√ß√µes.

## üìù Cria√ß√£o de arquivo .json com a descri√ß√£o das tabelas

In [5]:
# Caminho base dos arquivos
caminho = r"C:\Users\fred\meu_projeto_etl\data\raw\test"
caminho_base = caminho

# Lista dos grupos esperados
grupos = [
    "test_applprev_1",
    "test_applprev_2",
    "test_credit_bureau_a_1",
    "test_credit_bureau_a_2",
    "test_credit_bureau_b_1",
    "test_credit_bureau_b_2",
    "test_static_0",
    "test_base",
    "test_debitcard_1",
    "test_deposit_1",
    "test_other_1",
    "test_person_1",
    "test_person_2",
    "test_static_cb_0",
    "test_tax_registry_a_1",
    "test_tax_registry_b_1",
    "test_tax_registry_c_1"
]

### Empilhamento de tabelas

In [17]:
import os, glob, re
from pyspark.sql.utils import AnalysisException
from pyspark.sql.functions import col

def _dtype_map(df):
    return {f.name: f.dataType.simpleString() for f in df.schema.fields}

def _print_coluna_problem√°tica(e_msg, dfA, dfB):
    colsA, colsB = dfA.columns, dfB.columns
    tiposA, tiposB = _dtype_map(dfA), _dtype_map(dfB)

    m = re.search(r"(\d+)(?:st|nd|rd|th) column", e_msg)
    if m:
        idx = int(m.group(1)) - 1
        nomeA = colsA[idx] if idx < len(colsA) else None
        nomeB = colsB[idx] if idx < len(colsB) else None
        if nomeA == nomeB:
            return [nomeA]

    comuns = sorted(set(colsA).intersection(colsB))
    diverg = [c for c in comuns if tiposA.get(c) != tiposB.get(c)]
    return diverg

def carregar_e_empilhar(grupo):
    padrao = os.path.join(caminho_base, f"{grupo}_*.parquet")
    arquivos = sorted(glob.glob(padrao))
    arquivo_unico = os.path.join(caminho_base, f"{grupo}.parquet")
    if os.path.exists(arquivo_unico):
        arquivos.append(arquivo_unico)
    if not arquivos:
        print(f"üö´ Nenhum arquivo encontrado para {grupo}")
        return None

    colunas_padrao = None
    dfs_validos, paths_validos = [], []

    for caminho_arquivo in arquivos:
        df = spark.read.parquet(caminho_arquivo)
        if colunas_padrao is None:
            colunas_padrao = df.columns
            dfs_validos.append(df.select(colunas_padrao))
            paths_validos.append(caminho_arquivo)
            continue

        set_padrao, set_atual = set(colunas_padrao), set(df.columns)
        if set_padrao != set_atual:
            faltando = sorted(set_padrao - set_atual)
            extras = sorted(set_atual - set_padrao)
            print(f"üö´ Colunas diferentes em: {caminho_arquivo}")
            if faltando:
                print(f"   FALTANDO: {faltando}")
            if extras:
                print(f"   EXTRAS  : {extras}")
            continue

        df = df.select(colunas_padrao)
        dfs_validos.append(df)
        paths_validos.append(caminho_arquivo)

    if not dfs_validos:
        print(f"‚ö†Ô∏è Nenhum DataFrame v√°lido para {grupo}")
        return None

    df_final = dfs_validos[0]
    for i in range(1, len(dfs_validos)):
        df_i = dfs_validos[i]
        try:
            df_final = df_final.unionByName(df_i)
        except AnalysisException as e:
            print("\n‚õî Tipos incompat√≠veis detectados durante o union.")
            colunas_problema = _print_coluna_problem√°tica(str(e), df_final, df_i)
            print(f"üîÑ Convertendo colunas para string: {colunas_problema}")

            for col_name in colunas_problema:
                df_final = df_final.withColumn(col_name, col(col_name).cast("string"))
                df_i = df_i.withColumn(col_name, col(col_name).cast("string"))

            try:
                df_final = df_final.unionByName(df_i)
                print(f"‚úÖ Union refeito com cast para string nas colunas: {colunas_problema}")
            except Exception as e2:
                print(f"‚ùå Falha mesmo ap√≥s cast: {e2}")
                return None

    print(f"‚úÖ {grupo} carregado com {len(dfs_validos)} arquivo(s).")
    return df_final

In [18]:
# Dicion√°rio com os DataFrames carregados com sucesso
variaveis_criadas = {}

# Carregar todos os grupos
for grupo in grupos:
    df = carregar_e_empilhar(grupo)
    if df is not None:
        variaveis_criadas[grupo] = df

# Exibir nomes dos DataFrames criados
print("\nüì¶ Vari√°veis carregadas:")
for nome in variaveis_criadas:
    print(f" - {nome}")

‚õî Tipos incompat√≠veis detectados durante o union.
üîÑ Convertendo colunas para string: ['isdebitcard_527L']
‚úÖ Union refeito com cast para string nas colunas: ['isdebitcard_527L']

‚õî Tipos incompat√≠veis detectados durante o union.
üîÑ Convertendo colunas para string: ['isdebitcard_527L']
‚úÖ Union refeito com cast para string nas colunas: ['isdebitcard_527L']
‚úÖ test_applprev_1 carregado com 3 arquivo(s).
‚úÖ test_applprev_2 carregado com 1 arquivo(s).
‚úÖ test_credit_bureau_a_1 carregado com 5 arquivo(s).
‚úÖ test_credit_bureau_a_2 carregado com 12 arquivo(s).
‚úÖ test_credit_bureau_b_1 carregado com 1 arquivo(s).
‚úÖ test_credit_bureau_b_2 carregado com 1 arquivo(s).

‚õî Tipos incompat√≠veis detectados durante o union.
üîÑ Convertendo colunas para string: ['isbidproductrequest_292L']
‚úÖ Union refeito com cast para string nas colunas: ['isbidproductrequest_292L']
‚úÖ test_static_0 carregado com 3 arquivo(s).
‚úÖ test_base carregado com 1 arquivo(s).
‚úÖ test_debitcard_1 carregado com 1 arquivo(s).
‚úÖ test_deposit_1 carregado com 1 arquivo(s).
‚úÖ test_other_1 carregado com 1 arquivo(s).
‚úÖ test_person_1 carregado com 1 arquivo(s).
‚úÖ test_person_2 carregado com 1 arquivo(s).
‚úÖ test_static_cb_0 carregado com 1 arquivo(s).
‚úÖ test_tax_registry_a_1 carregado com 1 arquivo(s).
‚úÖ test_tax_registry_b_1 carregado com 1 arquivo(s).
‚úÖ test_tax_registry_c_1 carregado com 1 arquivo(s).

üì¶ Vari√°veis carregadas:
 - test_applprev_1
 - test_applprev_2
 - test_credit_bureau_a_1
 - test_credit_bureau_a_2
 - test_credit_bureau_b_1
 - test_credit_bureau_b_2
 - test_static_0
 - test_base
 - test_debitcard_1
 - test_deposit_1
 - test_other_1
 - test_person_1
 - test_person_2
 - test_static_cb_0
 - test_tax_registry_a_1
 - test_tax_registry_b_1
 - test_tax_registry_c_1

In [21]:
test_applprev_1_0.count()

10

In [19]:
## Fun√ß√£o para arquivo de descri√ß√£o das tabelas
def analise_basica_spark_dict(df, nome_tabela, chave_primaria=None):
    schema = [(f.name, f.dataType.simpleString()) for f in df.schema.fields]
    n_regis = df.count()
    n_col = len(df.columns)
    print(f'Tabela: {nome_tabela}')
    print(f'N√∫mero de registros: {n_regis}')
    print(f'N√∫mero de colunas: {n_col}')
    describe_df = df.describe()
    print(describe_df)
    describe_data = {row["summary"]: {col: row[col] for col in row.asDict() if col != "summary"} for row in describe_df.collect()}

    nulls_expr = [
        ((count(when(col(c).isNull(), c)) / n_regis) * 100).alias(c)
        for c in df.columns
    ]
    nulls_df = df.select(nulls_expr)
    nulls_dict = nulls_df.collect()[0].asDict()
    nulls_filtrados = {k: round(v, 2) for k, v in nulls_dict.items() if v > 0}

    pk_status = "n√£o verificada"
    if chave_primaria:
        if chave_primaria not in df.columns:
            pk_status = "coluna inexistente"
        else:
            distinct_count = df.select(chave_primaria).distinct().count()
            pk_status = "v√°lida" if distinct_count == n_regis else "inv√°lida"

    return {
        "tabela": nome_tabela,
        "total_registros": n_regis,
        "total_colunas": n_col,
        "schema": schema,
        "describe": describe_data,
        "colunas_com_nulos": nulls_filtrados,
        "chave_primaria": {
            "coluna": chave_primaria,
            "status": pk_status
        }
    }

In [20]:
# Acumulador de resultados
resultados = {}

# Alimentar resultados a cada execu√ß√£o
for nome, df in variaveis_criadas.items():
    resultado = analise_basica_spark_dict(df, nome_tabela=nome, chave_primaria="case_id")  
    resultados[nome] = resultado

Tabela: test_applprev_1
N√∫mero de registros: 30
N√∫mero de colunas: 41
DataFrame[summary: string, case_id: string, actualdpd_943P: string, annuity_853A: string, approvaldate_319D: string, byoccupationinc_3656910L: string, cancelreason_3545846M: string, childnum_21L: string, creationdate_885D: string, credacc_actualbalance_314A: string, credacc_credlmt_575A: string, credacc_maxhisbal_375A: string, credacc_minhisbal_90A: string, credacc_status_367L: string, credacc_transactions_402L: string, credamount_590A: string, credtype_587L: string, currdebt_94A: string, dateactivated_425D: string, district_544M: string, downpmt_134A: string, dtlastpmt_581D: string, dtlastpmtallstes_3545839D: string, education_1138M: string, employedfrom_700D: string, familystate_726L: string, firstnonzeroinstldate_307D: string, inittransactioncode_279L: string, isdebitcard_527L: string, mainoccupationinc_437A: string, maxdpdtolerance_577P: string, num_group1: string, outstandingdebt_522A: string, pmtnum_8L: string, postype_4733339M: string, profession_152M: string, rejectreason_755M: string, rejectreasonclient_4145042M: string, revolvingaccount_394A: string, status_219L: string, tenor_203L: string]
Tabela: test_applprev_2
N√∫mero de registros: 10
N√∫mero de colunas: 6
DataFrame[summary: string, case_id: string, cacccardblochreas_147M: string, conts_type_509L: string, credacc_cards_status_52L: string, num_group1: string, num_group2: string]
Tabela: test_credit_bureau_a_1
N√∫mero de registros: 50
N√∫mero de colunas: 79
DataFrame[summary: string, case_id: string, annualeffectiverate_199L: string, annualeffectiverate_63L: string, classificationofcontr_13M: string, classificationofcontr_400M: string, contractst_545M: string, contractst_964M: string, contractsum_5085717L: string, credlmt_230A: string, credlmt_935A: string, dateofcredend_289D: string, dateofcredend_353D: string, dateofcredstart_181D: string, dateofcredstart_739D: string, dateofrealrepmt_138D: string, debtoutstand_525A: string, debtoverdue_47A: string, description_351M: string, dpdmax_139P: string, dpdmax_757P: string, dpdmaxdatemonth_442T: string, dpdmaxdatemonth_89T: string, dpdmaxdateyear_596T: string, dpdmaxdateyear_896T: string, financialinstitution_382M: string, financialinstitution_591M: string, instlamount_768A: string, instlamount_852A: string, interestrate_508L: string, lastupdate_1112D: string, lastupdate_388D: string, monthlyinstlamount_332A: string, monthlyinstlamount_674A: string, nominalrate_281L: string, nominalrate_498L: string, num_group1: string, numberofcontrsvalue_258L: string, numberofcontrsvalue_358L: string, numberofinstls_229L: string, numberofinstls_320L: string, numberofoutstandinstls_520L: string, numberofoutstandinstls_59L: string, numberofoverdueinstlmax_1039L: string, numberofoverdueinstlmax_1151L: string, numberofoverdueinstlmaxdat_148D: string, numberofoverdueinstlmaxdat_641D: string, numberofoverdueinstls_725L: string, numberofoverdueinstls_834L: string, outstandingamount_354A: string, outstandingamount_362A: string, overdueamount_31A: string, overdueamount_659A: string, overdueamountmax2_14A: string, overdueamountmax2_398A: string, overdueamountmax2date_1002D: string, overdueamountmax2date_1142D: string, overdueamountmax_155A: string, overdueamountmax_35A: string, overdueamountmaxdatemonth_284T: string, overdueamountmaxdatemonth_365T: string, overdueamountmaxdateyear_2T: string, overdueamountmaxdateyear_994T: string, periodicityofpmts_1102L: string, periodicityofpmts_837L: string, prolongationcount_1120L: string, prolongationcount_599L: string, purposeofcred_426M: string, purposeofcred_874M: string, refreshdate_3813885D: string, residualamount_488A: string, residualamount_856A: string, subjectrole_182M: string, subjectrole_93M: string, totalamount_6A: string, totalamount_996A: string, totaldebtoverduevalue_178A: string, totaldebtoverduevalue_718A: string, totaloutstanddebtvalue_39A: string, totaloutstanddebtvalue_668A: string]
Tabela: test_credit_bureau_a_2
N√∫mero de registros: 120
N√∫mero de colunas: 19
DataFrame[summary: string, case_id: string, collater_typofvalofguarant_298M: string, collater_typofvalofguarant_407M: string, collater_valueofguarantee_1124L: string, collater_valueofguarantee_876L: string, collaterals_typeofguarante_359M: string, collaterals_typeofguarante_669M: string, num_group1: string, num_group2: string, pmts_dpd_1073P: string, pmts_dpd_303P: string, pmts_month_158T: string, pmts_month_706T: string, pmts_overdue_1140A: string, pmts_overdue_1152A: string, pmts_year_1139T: string, pmts_year_507T: string, subjectroles_name_541M: string, subjectroles_name_838M: string]
Tabela: test_credit_bureau_b_1
N√∫mero de registros: 10
N√∫mero de colunas: 45
DataFrame[summary: string, case_id: string, amount_1115A: string, classificationofcontr_1114M: string, contractdate_551D: string, contractmaturitydate_151D: string, contractst_516M: string, contracttype_653M: string, credlmt_1052A: string, credlmt_228A: string, credlmt_3940954A: string, credor_3940957M: string, credquantity_1099L: string, credquantity_984L: string, debtpastduevalue_732A: string, debtvalue_227A: string, dpd_550P: string, dpd_733P: string, dpdmax_851P: string, dpdmaxdatemonth_804T: string, dpdmaxdateyear_742T: string, installmentamount_644A: string, installmentamount_833A: string, instlamount_892A: string, interesteffectiverate_369L: string, interestrateyearly_538L: string, lastupdate_260D: string, maxdebtpduevalodued_3940955A: string, num_group1: string, numberofinstls_810L: string, overdueamountmax_950A: string, overdueamountmaxdatemonth_494T: string, overdueamountmaxdateyear_432T: string, periodicityofpmts_997L: string, periodicityofpmts_997M: string, pmtdaysoverdue_1135P: string, pmtmethod_731M: string, pmtnumpending_403L: string, purposeofcred_722M: string, residualamount_1093A: string, residualamount_127A: string, residualamount_3940956A: string, subjectrole_326M: string, subjectrole_43M: string, totalamount_503A: string, totalamount_881A: string]
Tabela: test_credit_bureau_b_2
N√∫mero de registros: 10
N√∫mero de colunas: 6
DataFrame[summary: string, case_id: string, num_group1: string, num_group2: string, pmts_date_1107D: string, pmts_dpdvalue_108P: string, pmts_pmtsoverdue_635A: string]
Tabela: test_static_0
N√∫mero de registros: 30
N√∫mero de colunas: 168
DataFrame[summary: string, case_id: string, actualdpdtolerance_344P: string, amtinstpaidbefduel24m_4187115A: string, annuity_780A: string, annuitynextmonth_57A: string, applicationcnt_361L: string, applications30d_658L: string, applicationscnt_1086L: string, applicationscnt_464L: string, applicationscnt_629L: string, applicationscnt_867L: string, avgdbddpdlast24m_3658932P: string, avgdbddpdlast3m_4187120P: string, avgdbdtollast24m_4525197P: string, avgdpdtolclosure24_3658938P: string, avginstallast24m_3658937A: string, avglnamtstart24m_4525187A: string, avgmaxdpdlast9m_3716943P: string, avgoutstandbalancel6m_4187114A: string, avgpmtlast12m_4525200A: string, bankacctype_710L: string, cardtype_51L: string, clientscnt12m_3712952L: string, clientscnt3m_3712950L: string, clientscnt6m_3712949L: string, clientscnt_100L: string, clientscnt_1022L: string, clientscnt_1071L: string, clientscnt_1130L: string, clientscnt_136L: string, clientscnt_157L: string, clientscnt_257L: string, clientscnt_304L: string, clientscnt_360L: string, clientscnt_493L: string, clientscnt_533L: string, clientscnt_887L: string, clientscnt_946L: string, cntincpaycont9m_3716944L: string, cntpmts24_3658933L: string, commnoinclast6m_3546845L: string, credamount_770A: string, credtype_322L: string, currdebt_22A: string, currdebtcredtyperange_828A: string, datefirstoffer_1144D: string, datelastinstal40dpd_247D: string, datelastunpaid_3546854D: string, daysoverduetolerancedd_3976961L: string, deferredmnthsnum_166L: string, disbursedcredamount_1113A: string, disbursementtype_67L: string, downpmt_116A: string, dtlastpmtallstes_4499206D: string, eir_270L: string, equalityempfrom_62L: string, firstclxcampaign_1125D: string, firstdatedue_489D: string, homephncnt_628L: string, inittransactionamount_650A: string, inittransactioncode_186L: string, interestrate_311L: string, interestrategrace_34L: string, isbidproductrequest_292L: string, lastactivateddate_801D: string, lastapplicationdate_877D: string, lastapprcommoditycat_1041M: string, lastapprcommoditytypec_5251766M: string, lastapprcredamount_781A: string, lastapprdate_640D: string, lastcancelreason_561M: string, lastdelinqdate_224D: string, lastdependentsnum_448L: string, lastotherinc_902A: string, lastotherlnsexpense_631A: string, lastrejectcommoditycat_161M: string, lastrejectcommodtypec_5251769M: string, lastrejectcredamount_222A: string, lastrejectdate_50D: string, lastrejectreason_759M: string, lastrejectreasonclient_4145040M: string, lastrepayingdate_696D: string, lastst_736L: string, maininc_215A: string, mastercontrelectronic_519L: string, mastercontrexist_109L: string, maxannuity_159A: string, maxannuity_4075009A: string, maxdbddpdlast1m_3658939P: string, maxdbddpdtollast12m_3658940P: string, maxdbddpdtollast6m_4187119P: string, maxdebt4_972A: string, maxdpdfrom6mto36m_3546853P: string, maxdpdinstldate_3546855D: string, maxdpdinstlnum_3546846P: string, maxdpdlast12m_727P: string, maxdpdlast24m_143P: string, maxdpdlast3m_392P: string, maxdpdlast6m_474P: string, maxdpdlast9m_1059P: string, maxdpdtolerance_374P: string, maxinstallast24m_3658928A: string, maxlnamtstart6m_4525199A: string, maxoutstandbalancel12m_4187113A: string, maxpmtlast3m_4525190A: string, mindbddpdlast24m_3658935P: string, mindbdtollast24m_4525191P: string, mobilephncnt_593L: string, monthsannuity_845L: string, numactivecreds_622L: string, numactivecredschannel_414L: string, numactiverelcontr_750L: string, numcontrs3months_479L: string, numincomingpmts_3546848L: string, numinstlallpaidearly3d_817L: string, numinstls_657L: string, numinstlsallpaid_934L: string, numinstlswithdpd10_728L: string, numinstlswithdpd5_4187116L: string, numinstlswithoutdpd_562L: string, numinstmatpaidtearly2d_4499204L: string, numinstpaid_4499208L: string, numinstpaidearly3d_3546850L: string, numinstpaidearly3dest_4493216L: string, numinstpaidearly5d_1087L: string, numinstpaidearly5dest_4493211L: string, numinstpaidearly5dobd_4499205L: string, numinstpaidearly_338L: string, numinstpaidearlyest_4493214L: string, numinstpaidlastcontr_4325080L: string, numinstpaidlate1d_3546852L: string, numinstregularpaid_973L: string, numinstregularpaidest_4493210L: string, numinsttopaygr_769L: string, numinsttopaygrest_4493213L: string, numinstunpaidmax_3546851L: string, numinstunpaidmaxest_4493212L: string, numnotactivated_1143L: string, numpmtchanneldd_318L: string, numrejects9m_859L: string, paytype1st_925L: string, paytype_783L: string, payvacationpostpone_4187118D: string, pctinstlsallpaidearl3d_427L: string, pctinstlsallpaidlat10d_839L: string, pctinstlsallpaidlate1d_3546856L: string, pctinstlsallpaidlate4d_3546849L: string, pctinstlsallpaidlate6d_3546844L: string, pmtnum_254L: string, posfpd10lastmonth_333P: string, posfpd30lastmonth_3976960P: string, posfstqpd30lastmonth_3976962P: string, previouscontdistrict_112M: string, price_1097A: string, sellerplacecnt_915L: string, sellerplacescnt_216L: string, sumoutstandtotal_3546847A: string, sumoutstandtotalest_4493215A: string, totaldebt_9A: string, totalsettled_863A: string, totinstallast1m_4525188A: string, twobodfilling_608L: string, typesuite_864L: string, validfrom_1069D: string]

Tabela: test_base
N√∫mero de registros: 10
N√∫mero de colunas: 4
DataFrame[summary: string, case_id: string, date_decision: string, MONTH: string, WEEK_NUM: string]
Tabela: test_debitcard_1
N√∫mero de registros: 10
N√∫mero de colunas: 6
DataFrame[summary: string, case_id: string, last180dayaveragebalance_704A: string, last180dayturnover_1134A: string, last30dayturnover_651A: string, num_group1: string, openingdate_857D: string]
Tabela: test_deposit_1
N√∫mero de registros: 10
N√∫mero de colunas: 5
DataFrame[summary: string, case_id: string, amount_416A: string, contractenddate_991D: string, num_group1: string, openingdate_313D: string]
Tabela: test_other_1
N√∫mero de registros: 10
N√∫mero de colunas: 7
DataFrame[summary: string, case_id: string, amtdebitincoming_4809443A: string, amtdebitoutgoing_4809440A: string, amtdepositbalance_4809441A: string, amtdepositincoming_4809444A: string, amtdepositoutgoing_4809442A: string, num_group1: string]
Tabela: test_person_1
N√∫mero de registros: 10
N√∫mero de colunas: 37
DataFrame[summary: string, case_id: string, birth_259D: string, birthdate_87D: string, childnum_185L: string, contaddr_district_15M: string, contaddr_zipcode_807M: string, education_927M: string, empl_employedfrom_271D: string, empl_employedtotal_800L: string, empl_industry_691L: string, empladdr_district_926M: string, empladdr_zipcode_114M: string, familystate_447L: string, gender_992L: string, housetype_905L: string, housingtype_772L: string, incometype_1044T: string, language1_981M: string, mainoccupationinc_384A: string, maritalst_703L: string, num_group1: string, personindex_1023L: string, persontype_1072L: string, persontype_792L: string, registaddr_district_1083M: string, registaddr_zipcode_184M: string, relationshiptoclient_415T: string, relationshiptoclient_642T: string, role_1084L: string, role_993L: string, sex_738L: string, type_25L: string]
Tabela: test_person_2
N√∫mero de registros: 10
N√∫mero de colunas: 11
DataFrame[summary: string, case_id: string, addres_district_368M: string, addres_role_871L: string, addres_zip_823M: string, conts_role_79M: string, empls_economicalst_849M: string, empls_employedfrom_796D: string, empls_employer_name_740M: string, num_group1: string, num_group2: string, relatedpersons_role_762T: string]
Tabela: test_static_cb_0
N√∫mero de registros: 10
N√∫mero de colunas: 53
DataFrame[summary: string, case_id: string, assignmentdate_238D: string, assignmentdate_4527235D: string, assignmentdate_4955616D: string, birthdate_574D: string, contractssum_5085716L: string, dateofbirth_337D: string, dateofbirth_342D: string, days120_123L: string, days180_256L: string, days30_165L: string, days360_512L: string, days90_310L: string, description_5085714M: string, education_1103M: string, education_88M: string, firstquarter_103L: string, for3years_128L: string, for3years_504L: string, for3years_584L: string, formonth_118L: string, formonth_206L: string, formonth_535L: string, forquarter_1017L: string, forquarter_462L: string, forquarter_634L: string, fortoday_1092L: string, forweek_1077L: string, forweek_528L: string, forweek_601L: string, foryear_618L: string, foryear_818L: string, foryear_850L: string, fourthquarter_440L: string, maritalst_385M: string, maritalst_893M: string, numberofqueries_373L: string, pmtaverage_3A: string, pmtaverage_4527227A: string, pmtaverage_4955615A: string, pmtcount_4527229L: string, pmtcount_4955617L: string, pmtcount_693L: string, pmtscount_423L: string, pmtssum_45A: string, requesttype_4525192L: string, responsedate_1012D: string, responsedate_4527233D: string, responsedate_4917613D: string, riskassesment_302T: string, riskassesment_940T: string, secondquarter_766L: string, thirdquarter_1082L: string]
Tabela: test_tax_registry_a_1
N√∫mero de registros: 10
N√∫mero de colunas: 5
DataFrame[summary: string, case_id: string, amount_4527230A: string, name_4527232M: string, num_group1: string, recorddate_4527225D: string]
Tabela: test_tax_registry_b_1
N√∫mero de registros: 10
N√∫mero de colunas: 5
DataFrame[summary: string, case_id: string, amount_4917619A: string, deductiondate_4917603D: string, name_4917606M: string, num_group1: string]
Tabela: test_tax_registry_c_1
N√∫mero de registros: 0
N√∫mero de colunas: 5
DataFrame[summary: string, case_id: string, employername_160M: string, num_group1: string, pmtamount_36A: string, processingdate_168D: string]

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [22]:
# Salvar arquivo json com informa√ß√µes da descri√ß√£o das tabelas
with open(fr"{diretorio}\\docs\analise_tabelas_test.json", "w", encoding="utf-8") as f:
    json.dump(resultados, f, ensure_ascii=False, indent=4)

In [24]:
# Carrega o JSON em um dicion√°rio Python
with open(fr"{diretorio}\\docs\analise_tabelas_test.json", "r", encoding="utf-8") as f:
    dados = json.load(f)

# Transformar o dicion√°rio em uma lista de tabelas
dados_lista = list(dados.values())

# Criar DataFrame com o resumo das tabelas
df_resumo = pd.DataFrame(dados_lista)

from IPython.display import display

display(df_resumo.head(20))

,tabela,total_registros,total_colunas,schema,describe,colunas_com_nulos,chave_primaria
0,test_applprev_1,30,41,"[[case_id, bigint], [actualdpd_943P, double], ...","{'count': {'case_id': '30', 'actualdpd_943P': ...","{'approvaldate_319D': 36.67, 'byoccupationinc_...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
1,test_applprev_2,10,6,"[[case_id, bigint], [cacccardblochreas_147M, s...","{'count': {'case_id': '10', 'cacccardblochreas...","{'conts_type_509L': 40.0, 'credacc_cards_statu...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
2,test_credit_bureau_a_1,50,79,"[[case_id, bigint], [annualeffectiverate_199L,...","{'count': {'case_id': '50', 'annualeffectivera...","{'annualeffectiverate_199L': 74.0, 'annualeffe...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
3,test_credit_bureau_a_2,120,19,"[[case_id, bigint], [collater_typofvalofguaran...","{'count': {'case_id': '120', 'collater_typofva...","{'collater_valueofguarantee_1124L': 76.67, 'co...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
4,test_credit_bureau_b_1,10,45,"[[case_id, bigint], [amount_1115A, double], [c...","{'count': {'case_id': '10', 'amount_1115A': '4...","{'amount_1115A': 60.0, 'credlmt_1052A': 80.0, ...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
5,test_credit_bureau_b_2,10,6,"[[case_id, bigint], [num_group1, bigint], [num...","{'count': {'case_id': '10', 'num_group1': '10'...",{},"{'coluna': 'case_id', 'status': 'inv√°lida'}"
6,test_static_0,30,168,"[[case_id, bigint], [actualdpdtolerance_344P, ...","{'count': {'case_id': '30', 'actualdpdtoleranc...","{'amtinstpaidbefduel24m_4187115A': 20.0, 'avgd...","{'coluna': 'case_id', 'status': 'v√°lida'}"
7,test_base,10,4,"[[case_id, bigint], [date_decision, string], [...","{'count': {'case_id': '10', 'date_decision': '...",{},"{'coluna': 'case_id', 'status': 'v√°lida'}"
8,test_debitcard_1,10,6,"[[case_id, bigint], [last180dayaveragebalance_...","{'count': {'case_id': '10', 'last180dayaverage...","{'last180dayaveragebalance_704A': 100.0, 'last...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
9,test_deposit_1,10,5,"[[case_id, bigint], [amount_416A, double], [co...","{'count': {'case_id': '10', 'amount_416A': '10...",{'contractenddate_991D': 60.0},"{'coluna': 'case_id', 'status': 'inv√°lida'}"
10,test_other_1,10,7,"[[case_id, bigint], [amtdebitincoming_4809443A...","{'count': {'case_id': '10', 'amtdebitincoming_...",{},"{'coluna': 'case_id', 'status': 'inv√°lida'}"
11,test_person_1,10,37,"[[case_id, bigint], [birth_259D, string], [bir...","{'count': {'case_id': '10', 'birth_259D': '6',...","{'birth_259D': 40.0, 'birthdate_87D': 80.0, 'c...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
12,test_person_2,10,11,"[[case_id, bigint], [addres_district_368M, str...","{'count': {'case_id': '10', 'addres_district_3...","{'addres_role_871L': 20.0, 'empls_employedfrom...","{'coluna': 'case_id', 'status': 'inv√°lida'}"
13,test_static_cb_0,10,53,"[[case_id, bigint], [assignmentdate_238D, doub...","{'count': {'case_id': '10', 'assignmentdate_23...","{'assignmentdate_238D': 100.0, 'assignmentdate...","{'coluna': 'case_id', 'status': 'v√°lida'}"
14,test_tax_registry_a_1,10,5,"[[case_id, bigint], [amount_4527230A, double],...","{'count': {'case_id': '10', 'amount_4527230A':...",{},"{'coluna': 'case_id', 'status': 'inv√°lida'}"
15,test_tax_registry_b_1,10,5,"[[case_id, bigint], [amount_4917619A, double],...","{'count': {'case_id': '10', 'amount_4917619A':...",{},"{'coluna': 'case_id', 'status': 'inv√°lida'}"

## üìä Resultado da descri√ß√£o das tabelas
### üß© Estrutura da descri√ß√£o

Baseado na estudo feito anteriormente, os datasets foram empilhados conforme os par√¢metros estabelecidos no estudo gerando um panor√¢ma geral das v√°ri√°veis de cada grupo caracter√≠stico de tabelas.

O arquivo resultante desse processo √© um arquivo json. A escolha por esse formato foi mediante o grupo de informa√ß√µes que seria gerado. A estrutura do json se mostrou com melhor distribui√ß√£o do que formatos tabulares.

A maioria das tabelas apresenta valores nulos em suas colunas o que aponta para avalia√ß√£o da necessidade de tratamento ou descarte dessas vari√°veis.

A maioria das colunas n√£o possuem chave prim√°ria (relacionamento 1:N). Mas possuem todas possuem a vari√°vel case_id. Essa vari√°vel ser√° a chave prim√°ria ap√≥s o tratamento necess√°rio em cada tabela.

A tabela **train_base** ser√° a tabela semente onde as outras tabelas, que se mostrarem agregadoras, ser√£o agregadas para constru√ß√£o de uma tabela geral.