# 📥 Ingestão e Mapeamento das Tabelas

## ✅ Objetivo do Notebook

Este notebook executa as seguintes tarefas principais:

---

### 1. 🔍 Comparação entre Datasets de Mesmo Tipo

Verifica se estruturas de **tabelas semelhantes podem ser empilhadas**, garantindo a consistência do schema entre tabelas fragmentadas.

---

### 2. 📝 Criação de Arquivo `.json` com a Descrição das Tabelas

Gera automaticamente um **arquivo com metadados estruturais** de cada tabela, incluindo nomes de colunas, tipos de dados, totais e presença de chave primária.

---

### 3. 📖 Geração de Dicionário de Variáveis (em Português)

Cria um **mapeamento interpretável das variáveis**, facilitando a compreensão dos nomes técnicos e tornando a análise mais acessível.

### Criação da SparkSession

In [1]:
# Criação da SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploSparkSession") \
    .getOrCreate()

### Importações

In [67]:
from pyspark.sql.functions import col, when, count, isnan, isnull, countDistinct
import json
import pandas as pd
import os
import glob

In [71]:
diretorio = r"C:\Users\fred\meu_projeto_etl"

### 🔍Comparação entre datasets do mesmo tipo

In [21]:
## Carregamento das tabelas necessárias para validação de empilhamento
caminho = r"C:\Users\fred\meu_projeto_etl\data\raw\train"
train_base = spark.read.parquet(f"{caminho}\\train_base.parquet")
train_applprev_1_0 = spark.read.parquet(f"{caminho}\\train_applprev_1_0.parquet")
train_applprev_1_1 = spark.read.parquet(f"{caminho}\\train_applprev_1_1.parquet")
train_credit_bureau_a_1_0 = spark.read.parquet(f"{caminho}\\train_credit_bureau_a_1_0.parquet")
train_credit_bureau_a_1_1 = spark.read.parquet(f"{caminho}\\train_credit_bureau_a_1_1.parquet")
train_credit_bureau_a_2_0 = spark.read.parquet(f"{caminho}\\train_credit_bureau_a_2_0.parquet")
train_credit_bureau_b_1 = spark.read.parquet(f"{caminho}\\train_credit_bureau_b_1.parquet")
train_credit_bureau_b_2 = spark.read.parquet(f"{caminho}\\train_credit_bureau_b_2.parquet")
train_debitcard_1 = spark.read.parquet(f"{caminho}\\train_debitcard_1.parquet")
train_deposit_1 = spark.read.parquet(f"{caminho}\\train_deposit_1.parquet")
train_other_1 = spark.read.parquet(f"{caminho}\\train_other_1.parquet")
train_person_1 = spark.read.parquet(f"{caminho}\\train_person_1.parquet")
train_person_2 = spark.read.parquet(f"{caminho}\\train_person_2.parquet")
train_static_0_0 = spark.read.parquet(f"{caminho}\\train_static_0_0.parquet")
train_static_0_1 = spark.read.parquet(f"{caminho}\\train_static_0_1.parquet")
train_stati_cb_0 = spark.read.parquet(f"{caminho}\\train_static_cb_0.parquet")
train_tax_registry_a_1 = spark.read.parquet(f"{caminho}\\train_tax_registry_a_1.parquet")
train_tax_registry_b_1 = spark.read.parquet(f"{caminho}\\train_tax_registry_b_1.parquet")
train_tax_registry_c_1 = spark.read.parquet(f"{caminho}\\train_tax_registry_c_1.parquet")
train_credit_bureau_a_2_1 = spark.read.parquet(f"{caminho}\\train_credit_bureau_a_2_1.parquet")
train_credit_bureau_a_2_5 = spark.read.parquet(f"{caminho}\\train_credit_bureau_a_2_5.parquet")
train_credit_bureau_a_2_10= spark.read.parquet(f"{caminho}\\train_credit_bureau_a_2_10.parquet")

In [10]:
## Função para avaliar tabelas com colunas iguais
def comparar_tabelas(tabela1, tabela2):
    colunas1 = set(tabela1)
    colunas2 = set(tabela2)
    
    if colunas1 == colunas2:
        print("✅ Colunas iguais (ignora ordem).")
    else:
        print("✅ Colunas diferentes (ignora ordem).")

In [22]:
comparar_tabelas(train_applprev_1_0.columns, train_applprev_1_1.columns)

✅ Colunas iguais (ignora ordem).

In [7]:
comparar_tabelas(train_applprev_1_0.columns, train_applprev_1_1.columns)

✅ Colunas iguais (ignora ordem).

In [8]:
comparar_tabelas(train_credit_bureau_a_1_0.columns, train_credit_bureau_a_1_1.columns)

✅ Colunas iguais (ignora ordem).

In [11]:
comparar_tabelas(train_credit_bureau_a_1_0.columns, train_credit_bureau_a_2_0.columns)

✅ Colunas diferentes (ignora ordem).

In [12]:
comparar_tabelas(train_static_0_0.columns, train_static_0_1.columns)

✅ Colunas iguais (ignora ordem).

In [13]:
comparar_tabelas(train_tax_registry_a_1.columns, train_tax_registry_b_1.columns)

✅ Colunas diferentes (ignora ordem).

In [14]:
comparar_tabelas(train_credit_bureau_a_2_0.columns, train_credit_bureau_a_2_10.columns)

✅ Colunas iguais (ignora ordem).

## 📊 Resultado das Comparações
### 🧩 Estrutura dos Nomes dos Datasets

A nomenclatura dos arquivos segue um padrão que permite identificar suas subdivisões em grupos, com a seguinte estrutura:

(treino_ou_teste)_(fonte_de_dados)_(grupo_de_variáveis)(subgrupo)


treino_ou_teste: Indica se o dataset pertence ao conjunto de treino (train) ou teste (test).

fonte_de_dados: Define a origem da informação (por exemplo: credit_bureau, applprev, tax_registry, static).

grupo_de_variáveis: Agrupa variáveis com características semelhantes ou função analítica similar.

subgrupo (opcional): Representa uma subdivisão ainda mais específica, quando aplicável.

### 🧱 Possibilidade de Empilhamento

Os datasets que compartilham o mesmo nome até a parte de <grupo_de_variáveis> podem ser empilhados (concatenados) de forma segura, pois representam a mesma estrutura sem conflito semântico. Essa estratégia é útil para consolidação e análise integrada entre diferentes clientes ou aplicações.

## 📝 Criação de arquivo .json com a descrição das tabelas

In [64]:
# Caminho base dos arquivos
caminho_base = f"{diretorio}\\data\raw\train"

# Lista dos grupos esperados
grupos = [
    "train_applprev_1",
    "train_applprev_2",
    "train_credit_bureau_a_1",
    "train_credit_bureau_a_2",
    "train_credit_bureau_b_1",
    "train_credit_bureau_b_2",
    "train_static_0",
    "train_base",
    "train_debitcard_1",
    "train_deposit_1",
    "train_other_1",
    "train_person_1",
    "train_person_2",
    "train_static_cb_0",
    "train_tax_registry_a_1",
    "train_tax_registry_b_1",
    "train_tax_registry_c_1"
]

✅ train_applprev_1 carregado com 2 arquivo(s).
✅ train_applprev_2 carregado com 1 arquivo(s).
✅ train_credit_bureau_a_1 carregado com 4 arquivo(s).
✅ train_credit_bureau_a_2 carregado com 11 arquivo(s).
✅ train_credit_bureau_b_1 carregado com 1 arquivo(s).
✅ train_credit_bureau_b_2 carregado com 1 arquivo(s).
✅ train_static_0 carregado com 2 arquivo(s).
✅ train_base carregado com 1 arquivo(s).
✅ train_debitcard_1 carregado com 1 arquivo(s).
✅ train_deposit_1 carregado com 1 arquivo(s).
✅ train_other_1 carregado com 1 arquivo(s).
✅ train_person_1 carregado com 1 arquivo(s).
✅ train_person_2 carregado com 1 arquivo(s).
✅ train_static_cb_0 carregado com 1 arquivo(s).
✅ train_tax_registry_a_1 carregado com 1 arquivo(s).
✅ train_tax_registry_b_1 carregado com 1 arquivo(s).
✅ train_tax_registry_c_1 carregado com 1 arquivo(s).

📦 Variáveis carregadas:
 - train_applprev_1
 - train_applprev_2
 - train_credit_bureau_a_1
 - train_credit_bureau_a_2
 - train_credit_bureau_b_1
 - train_credit_bureau_b_2
 - train_static_0
 - train_base
 - train_debitcard_1
 - train_deposit_1
 - train_other_1
 - train_person_1
 - train_person_2
 - train_static_cb_0
 - train_tax_registry_a_1
 - train_tax_registry_b_1
 - train_tax_registry_c_1

### Empilhamento de tabelas

In [ ]:
# Função para carregar e empilhar arquivos de um mesmo grupo
def carregar_e_empilhar(grupo):
    padrao = os.path.join(caminho_base, f"{grupo}_*.parquet")
    arquivos = sorted(glob.glob(padrao))

    # Também tenta carregar arquivo único exato (sem sufixo)
    arquivo_unico = os.path.join(caminho_base, f"{grupo}.parquet")
    if os.path.exists(arquivo_unico):
        arquivos.append(arquivo_unico)

    if not arquivos:
        print(f"🚫 Nenhum arquivo encontrado para {grupo}")
        return None

    colunas_padrao = None
    dfs_validos = []

    for arquivo in arquivos:
        df = spark.read.parquet(arquivo)
        colunas_atuais = df.columns

        if colunas_padrao is None:
            colunas_padrao = colunas_atuais
            dfs_validos.append(df)
        elif colunas_atuais == colunas_padrao:
            dfs_validos.append(df)
        else:
            print(f"🚫 Colunas diferentes no arquivo: {arquivo}")
            print(f"    Esperado: {colunas_padrao}")
            print(f"    Encontrado: {colunas_atuais}")

    if not dfs_validos:
        print(f"⚠️ Nenhum DataFrame válido para {grupo}")
        return None

    # Empilhar os DataFrames (mesmas colunas)
    df_final = dfs_validos[0]
    for df in dfs_validos[1:]:
        df_final = df_final.unionByName(df)

    print(f"✅ {grupo} carregado com {len(dfs_validos)} arquivo(s).")
    return df_final

In [ ]:
# Dicionário com os DataFrames carregados com sucesso
variaveis_criadas = {}

# Carregar todos os grupos
for grupo in grupos:
    df = carregar_e_empilhar(grupo)
    if df is not None:
        variaveis_criadas[grupo] = df

# Exibir nomes dos DataFrames criados
print("\n📦 Variáveis carregadas:")
for nome in variaveis_criadas:
    print(f" - {nome}")

In [65]:
## Função para arquivo de descrição das tabelas
def analise_basica_spark_dict(df, nome_tabela, chave_primaria=None):
    schema = [(f.name, f.dataType.simpleString()) for f in df.schema.fields]
    n_regis = df.count()
    n_col = len(df.columns)
    print(f'Tabela: {nome_tabela}')
    print(f'Número de registros: {n_regis}')
    print(f'Número de colunas: {n_col}')
    describe_df = df.describe()
    print(describe_df)
    describe_data = {row["summary"]: {col: row[col] for col in row.asDict() if col != "summary"} for row in describe_df.collect()}

    nulls_expr = [
        ((count(when(col(c).isNull(), c)) / n_regis) * 100).alias(c)
        for c in df.columns
    ]
    nulls_df = df.select(nulls_expr)
    nulls_dict = nulls_df.collect()[0].asDict()
    nulls_filtrados = {k: round(v, 2) for k, v in nulls_dict.items() if v > 0}

    pk_status = "não verificada"
    if chave_primaria:
        if chave_primaria not in df.columns:
            pk_status = "coluna inexistente"
        else:
            distinct_count = df.select(chave_primaria).distinct().count()
            pk_status = "válida" if distinct_count == n_regis else "inválida"

    return {
        "tabela": nome_tabela,
        "total_registros": n_regis,
        "total_colunas": n_col,
        "schema": schema,
        "describe": describe_data,
        "colunas_com_nulos": nulls_filtrados,
        "chave_primaria": {
            "coluna": chave_primaria,
            "status": pk_status
        }
    }

In [68]:
# Acumulador de resultados
resultados = {}

# Alimentar resultados a cada execução
for nome, df in variaveis_criadas.items():
    resultado = analise_basica_spark_dict(df, nome_tabela=nome, chave_primaria="case_id")  
    resultados[nome] = resultado

Tabela: train_applprev_1
Número de registros: 6525979
Número de colunas: 41
DataFrame[summary: string, case_id: string, actualdpd_943P: string, annuity_853A: string, approvaldate_319D: string, byoccupationinc_3656910L: string, cancelreason_3545846M: string, childnum_21L: string, creationdate_885D: string, credacc_actualbalance_314A: string, credacc_credlmt_575A: string, credacc_maxhisbal_375A: string, credacc_minhisbal_90A: string, credacc_status_367L: string, credacc_transactions_402L: string, credamount_590A: string, credtype_587L: string, currdebt_94A: string, dateactivated_425D: string, district_544M: string, downpmt_134A: string, dtlastpmt_581D: string, dtlastpmtallstes_3545839D: string, education_1138M: string, employedfrom_700D: string, familystate_726L: string, firstnonzeroinstldate_307D: string, inittransactioncode_279L: string, mainoccupationinc_437A: string, maxdpdtolerance_577P: string, num_group1: string, outstandingdebt_522A: string, pmtnum_8L: string, postype_4733339M: string, profession_152M: string, rejectreason_755M: string, rejectreasonclient_4145042M: string, revolvingaccount_394A: string, status_219L: string, tenor_203L: string]
Tabela: train_applprev_2
Número de registros: 14075487
Número de colunas: 6
DataFrame[summary: string, case_id: string, cacccardblochreas_147M: string, conts_type_509L: string, credacc_cards_status_52L: string, num_group1: string, num_group2: string]
Tabela: train_credit_bureau_a_1
Número de registros: 15940537
Número de colunas: 79
DataFrame[summary: string, case_id: string, annualeffectiverate_199L: string, annualeffectiverate_63L: string, classificationofcontr_13M: string, classificationofcontr_400M: string, contractst_545M: string, contractst_964M: string, contractsum_5085717L: string, credlmt_230A: string, credlmt_935A: string, dateofcredend_289D: string, dateofcredend_353D: string, dateofcredstart_181D: string, dateofcredstart_739D: string, dateofrealrepmt_138D: string, debtoutstand_525A: string, debtoverdue_47A: string, description_351M: string, dpdmax_139P: string, dpdmax_757P: string, dpdmaxdatemonth_442T: string, dpdmaxdatemonth_89T: string, dpdmaxdateyear_596T: string, dpdmaxdateyear_896T: string, financialinstitution_382M: string, financialinstitution_591M: string, instlamount_768A: string, instlamount_852A: string, interestrate_508L: string, lastupdate_1112D: string, lastupdate_388D: string, monthlyinstlamount_332A: string, monthlyinstlamount_674A: string, nominalrate_281L: string, nominalrate_498L: string, num_group1: string, numberofcontrsvalue_258L: string, numberofcontrsvalue_358L: string, numberofinstls_229L: string, numberofinstls_320L: string, numberofoutstandinstls_520L: string, numberofoutstandinstls_59L: string, numberofoverdueinstlmax_1039L: string, numberofoverdueinstlmax_1151L: string, numberofoverdueinstlmaxdat_148D: string, numberofoverdueinstlmaxdat_641D: string, numberofoverdueinstls_725L: string, numberofoverdueinstls_834L: string, outstandingamount_354A: string, outstandingamount_362A: string, overdueamount_31A: string, overdueamount_659A: string, overdueamountmax2_14A: string, overdueamountmax2_398A: string, overdueamountmax2date_1002D: string, overdueamountmax2date_1142D: string, overdueamountmax_155A: string, overdueamountmax_35A: string, overdueamountmaxdatemonth_284T: string, overdueamountmaxdatemonth_365T: string, overdueamountmaxdateyear_2T: string, overdueamountmaxdateyear_994T: string, periodicityofpmts_1102L: string, periodicityofpmts_837L: string, prolongationcount_1120L: string, prolongationcount_599L: string, purposeofcred_426M: string, purposeofcred_874M: string, refreshdate_3813885D: string, residualamount_488A: string, residualamount_856A: string, subjectrole_182M: string, subjectrole_93M: string, totalamount_6A: string, totalamount_996A: string, totaldebtoverduevalue_178A: string, totaldebtoverduevalue_718A: string, totaloutstanddebtvalue_39A: string, totaloutstanddebtvalue_668A: string]
Tabela: train_credit_bureau_a_2
Número de registros: 188298452
Número de colunas: 19
DataFrame[summary: string, case_id: string, collater_typofvalofguarant_298M: string, collater_typofvalofguarant_407M: string, collater_valueofguarantee_1124L: string, collater_valueofguarantee_876L: string, collaterals_typeofguarante_359M: string, collaterals_typeofguarante_669M: string, num_group1: string, num_group2: string, pmts_dpd_1073P: string, pmts_dpd_303P: string, pmts_month_158T: string, pmts_month_706T: string, pmts_overdue_1140A: string, pmts_overdue_1152A: string, pmts_year_1139T: string, pmts_year_507T: string, subjectroles_name_541M: string, subjectroles_name_838M: string]
Tabela: train_credit_bureau_b_1
Número de registros: 85791
Número de colunas: 45
DataFrame[summary: string, case_id: string, amount_1115A: string, classificationofcontr_1114M: string, contractdate_551D: string, contractmaturitydate_151D: string, contractst_516M: string, contracttype_653M: string, credlmt_1052A: string, credlmt_228A: string, credlmt_3940954A: string, credor_3940957M: string, credquantity_1099L: string, credquantity_984L: string, debtpastduevalue_732A: string, debtvalue_227A: string, dpd_550P: string, dpd_733P: string, dpdmax_851P: string, dpdmaxdatemonth_804T: string, dpdmaxdateyear_742T: string, installmentamount_644A: string, installmentamount_833A: string, instlamount_892A: string, interesteffectiverate_369L: string, interestrateyearly_538L: string, lastupdate_260D: string, maxdebtpduevalodued_3940955A: string, num_group1: string, numberofinstls_810L: string, overdueamountmax_950A: string, overdueamountmaxdatemonth_494T: string, overdueamountmaxdateyear_432T: string, periodicityofpmts_997L: string, periodicityofpmts_997M: string, pmtdaysoverdue_1135P: string, pmtmethod_731M: string, pmtnumpending_403L: string, purposeofcred_722M: string, residualamount_1093A: string, residualamount_127A: string, residualamount_3940956A: string, subjectrole_326M: string, subjectrole_43M: string, totalamount_503A: string, totalamount_881A: string]
Tabela: train_credit_bureau_b_2
Número de registros: 1286755
Número de colunas: 6
DataFrame[summary: string, case_id: string, num_group1: string, num_group2: string, pmts_date_1107D: string, pmts_dpdvalue_108P: string, pmts_pmtsoverdue_635A: string]
Tabela: train_static_0
Número de registros: 1526659
Número de colunas: 168
DataFrame[summary: string, case_id: string, actualdpdtolerance_344P: string, amtinstpaidbefduel24m_4187115A: string, annuity_780A: string, annuitynextmonth_57A: string, applicationcnt_361L: string, applications30d_658L: string, applicationscnt_1086L: string, applicationscnt_464L: string, applicationscnt_629L: string, applicationscnt_867L: string, avgdbddpdlast24m_3658932P: string, avgdbddpdlast3m_4187120P: string, avgdbdtollast24m_4525197P: string, avgdpdtolclosure24_3658938P: string, avginstallast24m_3658937A: string, avglnamtstart24m_4525187A: string, avgmaxdpdlast9m_3716943P: string, avgoutstandbalancel6m_4187114A: string, avgpmtlast12m_4525200A: string, bankacctype_710L: string, cardtype_51L: string, clientscnt12m_3712952L: string, clientscnt3m_3712950L: string, clientscnt6m_3712949L: string, clientscnt_100L: string, clientscnt_1022L: string, clientscnt_1071L: string, clientscnt_1130L: string, clientscnt_136L: string, clientscnt_157L: string, clientscnt_257L: string, clientscnt_304L: string, clientscnt_360L: string, clientscnt_493L: string, clientscnt_533L: string, clientscnt_887L: string, clientscnt_946L: string, cntincpaycont9m_3716944L: string, cntpmts24_3658933L: string, commnoinclast6m_3546845L: string, credamount_770A: string, credtype_322L: string, currdebt_22A: string, currdebtcredtyperange_828A: string, datefirstoffer_1144D: string, datelastinstal40dpd_247D: string, datelastunpaid_3546854D: string, daysoverduetolerancedd_3976961L: string, deferredmnthsnum_166L: string, disbursedcredamount_1113A: string, disbursementtype_67L: string, downpmt_116A: string, dtlastpmtallstes_4499206D: string, eir_270L: string, firstclxcampaign_1125D: string, firstdatedue_489D: string, homephncnt_628L: string, inittransactionamount_650A: string, inittransactioncode_186L: string, interestrate_311L: string, interestrategrace_34L: string, lastactivateddate_801D: string, lastapplicationdate_877D: string, lastapprcommoditycat_1041M: string, lastapprcommoditytypec_5251766M: string, lastapprcredamount_781A: string, lastapprdate_640D: string, lastcancelreason_561M: string, lastdelinqdate_224D: string, lastdependentsnum_448L: string, lastotherinc_902A: string, lastotherlnsexpense_631A: string, lastrejectcommoditycat_161M: string, lastrejectcommodtypec_5251769M: string, lastrejectcredamount_222A: string, lastrejectdate_50D: string, lastrejectreason_759M: string, lastrejectreasonclient_4145040M: string, lastrepayingdate_696D: string, lastst_736L: string, maininc_215A: string, mastercontrelectronic_519L: string, mastercontrexist_109L: string, maxannuity_159A: string, maxannuity_4075009A: string, maxdbddpdlast1m_3658939P: string, maxdbddpdtollast12m_3658940P: string, maxdbddpdtollast6m_4187119P: string, maxdebt4_972A: string, maxdpdfrom6mto36m_3546853P: string, maxdpdinstldate_3546855D: string, maxdpdinstlnum_3546846P: string, maxdpdlast12m_727P: string, maxdpdlast24m_143P: string, maxdpdlast3m_392P: string, maxdpdlast6m_474P: string, maxdpdlast9m_1059P: string, maxdpdtolerance_374P: string, maxinstallast24m_3658928A: string, maxlnamtstart6m_4525199A: string, maxoutstandbalancel12m_4187113A: string, maxpmtlast3m_4525190A: string, mindbddpdlast24m_3658935P: string, mindbdtollast24m_4525191P: string, mobilephncnt_593L: string, monthsannuity_845L: string, numactivecreds_622L: string, numactivecredschannel_414L: string, numactiverelcontr_750L: string, numcontrs3months_479L: string, numincomingpmts_3546848L: string, numinstlallpaidearly3d_817L: string, numinstls_657L: string, numinstlsallpaid_934L: string, numinstlswithdpd10_728L: string, numinstlswithdpd5_4187116L: string, numinstlswithoutdpd_562L: string, numinstmatpaidtearly2d_4499204L: string, numinstpaid_4499208L: string, numinstpaidearly3d_3546850L: string, numinstpaidearly3dest_4493216L: string, numinstpaidearly5d_1087L: string, numinstpaidearly5dest_4493211L: string, numinstpaidearly5dobd_4499205L: string, numinstpaidearly_338L: string, numinstpaidearlyest_4493214L: string, numinstpaidlastcontr_4325080L: string, numinstpaidlate1d_3546852L: string, numinstregularpaid_973L: string, numinstregularpaidest_4493210L: string, numinsttopaygr_769L: string, numinsttopaygrest_4493213L: string, numinstunpaidmax_3546851L: string, numinstunpaidmaxest_4493212L: string, numnotactivated_1143L: string, numpmtchanneldd_318L: string, numrejects9m_859L: string, paytype1st_925L: string, paytype_783L: string, payvacationpostpone_4187118D: string, pctinstlsallpaidearl3d_427L: string, pctinstlsallpaidlat10d_839L: string, pctinstlsallpaidlate1d_3546856L: string, pctinstlsallpaidlate4d_3546849L: string, pctinstlsallpaidlate6d_3546844L: string, pmtnum_254L: string, posfpd10lastmonth_333P: string, posfpd30lastmonth_3976960P: string, posfstqpd30lastmonth_3976962P: string, previouscontdistrict_112M: string, price_1097A: string, sellerplacecnt_915L: string, sellerplacescnt_216L: string, sumoutstandtotal_3546847A: string, sumoutstandtotalest_4493215A: string, totaldebt_9A: string, totalsettled_863A: string, totinstallast1m_4525188A: string, twobodfilling_608L: string, typesuite_864L: string, validfrom_1069D: string]

Tabela: train_base
Número de registros: 1526659
Número de colunas: 5
DataFrame[summary: string, case_id: string, date_decision: string, MONTH: string, WEEK_NUM: string, target: string]
Tabela: train_debitcard_1
Número de registros: 157302
Número de colunas: 6
DataFrame[summary: string, case_id: string, last180dayaveragebalance_704A: string, last180dayturnover_1134A: string, last30dayturnover_651A: string, num_group1: string, openingdate_857D: string]
Tabela: train_deposit_1
Número de registros: 145086
Número de colunas: 5
DataFrame[summary: string, case_id: string, amount_416A: string, contractenddate_991D: string, num_group1: string, openingdate_313D: string]
Tabela: train_other_1
Número de registros: 51109
Número de colunas: 7
DataFrame[summary: string, case_id: string, amtdebitincoming_4809443A: string, amtdebitoutgoing_4809440A: string, amtdepositbalance_4809441A: string, amtdepositincoming_4809444A: string, amtdepositoutgoing_4809442A: string, num_group1: string]
Tabela: train_person_1
Número de registros: 2973991
Número de colunas: 37
DataFrame[summary: string, case_id: string, birth_259D: string, birthdate_87D: string, childnum_185L: string, contaddr_district_15M: string, contaddr_zipcode_807M: string, education_927M: string, empl_employedfrom_271D: string, empl_employedtotal_800L: string, empl_industry_691L: string, empladdr_district_926M: string, empladdr_zipcode_114M: string, familystate_447L: string, gender_992L: string, housetype_905L: string, housingtype_772L: string, incometype_1044T: string, language1_981M: string, mainoccupationinc_384A: string, maritalst_703L: string, num_group1: string, personindex_1023L: string, persontype_1072L: string, persontype_792L: string, registaddr_district_1083M: string, registaddr_zipcode_184M: string, relationshiptoclient_415T: string, relationshiptoclient_642T: string, role_1084L: string, role_993L: string, sex_738L: string, type_25L: string]
Tabela: train_person_2
Número de registros: 1643410
Número de colunas: 11
DataFrame[summary: string, case_id: string, addres_district_368M: string, addres_role_871L: string, addres_zip_823M: string, conts_role_79M: string, empls_economicalst_849M: string, empls_employedfrom_796D: string, empls_employer_name_740M: string, num_group1: string, num_group2: string, relatedpersons_role_762T: string]
Tabela: train_static_cb_0
Número de registros: 1500476
Número de colunas: 53
DataFrame[summary: string, case_id: string, assignmentdate_238D: string, assignmentdate_4527235D: string, assignmentdate_4955616D: string, birthdate_574D: string, contractssum_5085716L: string, dateofbirth_337D: string, dateofbirth_342D: string, days120_123L: string, days180_256L: string, days30_165L: string, days360_512L: string, days90_310L: string, description_5085714M: string, education_1103M: string, education_88M: string, firstquarter_103L: string, for3years_128L: string, for3years_504L: string, for3years_584L: string, formonth_118L: string, formonth_206L: string, formonth_535L: string, forquarter_1017L: string, forquarter_462L: string, forquarter_634L: string, fortoday_1092L: string, forweek_1077L: string, forweek_528L: string, forweek_601L: string, foryear_618L: string, foryear_818L: string, foryear_850L: string, fourthquarter_440L: string, maritalst_385M: string, maritalst_893M: string, numberofqueries_373L: string, pmtaverage_3A: string, pmtaverage_4527227A: string, pmtaverage_4955615A: string, pmtcount_4527229L: string, pmtcount_4955617L: string, pmtcount_693L: string, pmtscount_423L: string, pmtssum_45A: string, requesttype_4525192L: string, responsedate_1012D: string, responsedate_4527233D: string, responsedate_4917613D: string, riskassesment_302T: string, riskassesment_940T: string, secondquarter_766L: string, thirdquarter_1082L: string]
Tabela: train_tax_registry_a_1
Número de registros: 3275770
Número de colunas: 5
DataFrame[summary: string, case_id: string, amount_4527230A: string, name_4527232M: string, num_group1: string, recorddate_4527225D: string]
Tabela: train_tax_registry_b_1
Número de registros: 1107933
Número de colunas: 5
DataFrame[summary: string, case_id: string, amount_4917619A: string, deductiondate_4917603D: string, name_4917606M: string, num_group1: string]
Tabela: train_tax_registry_c_1
Número de registros: 3343800
Número de colunas: 5
DataFrame[summary: string, case_id: string, employername_160M: string, num_group1: string, pmtamount_36A: string, processingdate_168D: string]

In [69]:
# Salvar arquivo json com informações da descrição das tabelas
with open(f"{diretorio}\\docs\analise_tabelas.json", "w", encoding="utf-8") as f:
    json.dump(resultados, f, ensure_ascii=False, indent=4)

In [70]:
# Carrega o JSON em um dicionário Python
with open(f"{diretorio}\\docs\analise_tabelas.json", "r", encoding="utf-8") as f:
    dados = json.load(f)

# Transformar o dicionário em uma lista de tabelas
dados_lista = list(dados.values())

# Criar DataFrame com o resumo das tabelas
df_resumo = pd.DataFrame(dados_lista)

from IPython.display import display

display(df_resumo.head(20))

,tabela,total_registros,total_colunas,schema,describe,colunas_com_nulos,chave_primaria
0,train_applprev_1,6525979,41,"[[case_id, bigint], [actualdpd_943P, double], ...","{'count': {'case_id': '6525979', 'actualdpd_94...","{'actualdpd_943P': 0.04, 'annuity_853A': 3.84,...","{'coluna': 'case_id', 'status': 'inválida'}"
1,train_applprev_2,14075487,6,"[[case_id, bigint], [cacccardblochreas_147M, s...","{'count': {'case_id': '14075487', 'cacccardblo...","{'cacccardblochreas_147M': 0.78, 'conts_type_5...","{'coluna': 'case_id', 'status': 'inválida'}"
2,train_credit_bureau_a_1,15940537,79,"[[case_id, bigint], [annualeffectiverate_199L,...","{'count': {'case_id': '15940537', 'annualeffec...","{'annualeffectiverate_199L': 95.44, 'annualeff...","{'coluna': 'case_id', 'status': 'inválida'}"
3,train_credit_bureau_a_2,188298452,19,"[[case_id, bigint], [collater_typofvalofguaran...","{'count': {'case_id': '188298452', 'collater_t...","{'collater_valueofguarantee_1124L': 98.54, 'co...","{'coluna': 'case_id', 'status': 'inválida'}"
4,train_credit_bureau_b_1,85791,45,"[[case_id, bigint], [amount_1115A, double], [c...","{'count': {'case_id': '85791', 'amount_1115A':...","{'amount_1115A': 49.08, 'contractdate_551D': 4...","{'coluna': 'case_id', 'status': 'inválida'}"
5,train_credit_bureau_b_2,1286755,6,"[[case_id, bigint], [num_group1, bigint], [num...","{'count': {'case_id': '1286755', 'num_group1':...","{'pmts_dpdvalue_108P': 0.42, 'pmts_pmtsoverdue...","{'coluna': 'case_id', 'status': 'inválida'}"
6,train_static_0,1526659,168,"[[case_id, bigint], [actualdpdtolerance_344P, ...","{'count': {'case_id': '1526659', 'actualdpdtol...","{'actualdpdtolerance_344P': 27.39, 'amtinstpai...","{'coluna': 'case_id', 'status': 'válida'}"
7,train_base,1526659,5,"[[case_id, bigint], [date_decision, string], [...","{'count': {'case_id': '1526659', 'date_decisio...",{},"{'coluna': 'case_id', 'status': 'válida'}"
8,train_debitcard_1,157302,6,"[[case_id, bigint], [last180dayaveragebalance_...","{'count': {'case_id': '157302', 'last180dayave...","{'last180dayaveragebalance_704A': 92.23, 'last...","{'coluna': 'case_id', 'status': 'inválida'}"
9,train_deposit_1,145086,5,"[[case_id, bigint], [amount_416A, double], [co...","{'count': {'case_id': '145086', 'amount_416A':...",{'contractenddate_991D': 54.92},"{'coluna': 'case_id', 'status': 'inválida'}"
10,train_other_1,51109,7,"[[case_id, bigint], [amtdebitincoming_4809443A...","{'count': {'case_id': '51109', 'amtdebitincomi...",{},"{'coluna': 'case_id', 'status': 'válida'}"
11,train_person_1,2973991,37,"[[case_id, bigint], [birth_259D, string], [bir...","{'count': {'case_id': '2973991', 'birth_259D':...","{'birth_259D': 48.67, 'birthdate_87D': 99.16, ...","{'coluna': 'case_id', 'status': 'inválida'}"
12,train_person_2,1643410,11,"[[case_id, bigint], [addres_district_368M, str...","{'count': {'case_id': '1643410', 'addres_distr...","{'addres_role_871L': 95.88, 'empls_employedfro...","{'coluna': 'case_id', 'status': 'inválida'}"
13,train_static_cb_0,1500476,53,"[[case_id, bigint], [assignmentdate_238D, stri...","{'count': {'case_id': '1500476', 'assignmentda...","{'assignmentdate_238D': 90.87, 'assignmentdate...","{'coluna': 'case_id', 'status': 'válida'}"
14,train_tax_registry_a_1,3275770,5,"[[case_id, bigint], [amount_4527230A, double],...","{'count': {'case_id': '3275770', 'amount_45272...",{},"{'coluna': 'case_id', 'status': 'inválida'}"
15,train_tax_registry_b_1,1107933,5,"[[case_id, bigint], [amount_4917619A, double],...","{'count': {'case_id': '1107933', 'amount_49176...",{},"{'coluna': 'case_id', 'status': 'inválida'}"
16,train_tax_registry_c_1,3343800,5,"[[case_id, bigint], [employername_160M, string...","{'count': {'case_id': '3343800', 'employername...",{},"{'coluna': 'case_id', 'status': 'inválida'}"

## 📊 Resultado da descrição das tabelas
### 🧩 Estrutura da descrição

Baseado na estudo feito anteriormente, os datasets foram empilhados conforme os parâmetros estabelecidos no estudo gerando um panorâma geral das váriáveis de cada grupo característico de tabelas.

O arquivo resultante desse processo é um arquivo json. A escolha por esse formato foi mediante o grupo de informações que seria gerado. A estrutura do json se mostrou com melhor distribuição do que formatos tabulares.

A maioria das tabelas apresenta valores nulos em suas colunas o que aponta para avaliação da necessidade de tratamento ou descarte dessas variáveis.

A maioria das colunas não possuem chave primária (relacionamento 1:N). Mas possuem todas possuem a variável case_id. Essa variável será a chave primária após o tratamento necessário em cada tabela.

A tabela **train_base** será a tabela semente onde as outras tabelas, que se mostrarem agregadoras, serão agregadas para construção de uma tabela geral.

## 📖 Geração de dicionário de variáveis (em português)

In [15]:
# Carregando dicionário de variáveies
descricao = spark.read.csv(f"{diretorio}\\data\raw\feature_definitions.csv", header = True)

In [16]:
# Transformar os itens da descrição de tabelas em lista e iterar por índice
estrutura_tabelas = []

tabelas_lista = list(tabelas.items())

for i in range(len(tabelas_lista)):
    nome_tabela, df = tabelas_lista[i]
    for campo in df.schema.fields:
        estrutura_tabelas.append((nome_tabela, campo.name, campo.dataType.simpleString()))

# Cria DataFrame com o índice de posição
estrutura_df = spark.createDataFrame(estrutura_tabelas, ["tabela", "coluna", "tipo_dado"])
estrutura_df.show(truncate=False)

+------------------+--------------------------+---------+
|tabela            |coluna                    |tipo_dado|
+------------------+--------------------------+---------+
|train_base        |case_id                   |bigint   |
|train_base        |date_decision             |string   |
|train_base        |MONTH                     |bigint   |
|train_base        |WEEK_NUM                  |bigint   |
|train_base        |target                    |bigint   |
|train_applprev_1_0|case_id                   |bigint   |
|train_applprev_1_0|actualdpd_943P            |double   |
|train_applprev_1_0|annuity_853A              |double   |
|train_applprev_1_0|approvaldate_319D         |string   |
|train_applprev_1_0|byoccupationinc_3656910L  |double   |
|train_applprev_1_0|cancelreason_3545846M     |string   |
|train_applprev_1_0|childnum_21L              |double   |
|train_applprev_1_0|creationdate_885D         |string   |
|train_applprev_1_0|credacc_actualbalance_314A|double   |
|train_applprev_1_0|credacc_credlmt_575A      |double   |
|train_applprev_1_0|credacc_maxhisbal_375A    |double   |
|train_applprev_1_0|credacc_minhisbal_90A     |double   |
|train_applprev_1_0|credacc_status_367L       |string   |
|train_applprev_1_0|credacc_transactions_402L |double   |
|train_applprev_1_0|credamount_590A           |double   |
+------------------+--------------------------+---------+
only showing top 20 rows

In [17]:
# Junção da descrição das tabelas com o dicionário 
dicionario_variaveis = estrutura_df.join(descricao, estrutura_df.coluna == descricao.Variable, how='left')

In [18]:
dicionario_variaveis = dicionario_variaveis.drop('Variable')

In [19]:
dicionario_variaveis.show()

+------------------+--------------------+---------+--------------------+
|            tabela|              coluna|tipo_dado|         Description|
+------------------+--------------------+---------+--------------------+
|        train_base|             case_id|   bigint|                NULL|
|        train_base|       date_decision|   string|                NULL|
|        train_base|               MONTH|   bigint|                NULL|
|        train_base|            WEEK_NUM|   bigint|                NULL|
|        train_base|              target|   bigint|                NULL|
|train_applprev_1_0|             case_id|   bigint|                NULL|
|train_applprev_1_0|      actualdpd_943P|   double|Days Past Due (DP...|
|train_applprev_1_0|        annuity_853A|   double|Monthly annuity f...|
|train_applprev_1_0|   approvaldate_319D|   string|Approval Date of ...|
|train_applprev_1_0|byoccupationinc_3...|   double|Applicant's incom...|
|train_applprev_1_0|cancelreason_3545...|   string|Application cance...|
|train_applprev_1_0|        childnum_21L|   double|Number of childre...|
|train_applprev_1_0|   creationdate_885D|   string|Date when previou...|
|train_applprev_1_0|credacc_actualbal...|   double|Actual balance on...|
|train_applprev_1_0|credacc_credlmt_575A|   double|Credit card credi...|
|train_applprev_1_0|credacc_maxhisbal...|   double|Maximal historica...|
|train_applprev_1_0|credacc_minhisbal...|   double|Minimum historica...|
|train_applprev_1_0| credacc_status_367L|   string|Account status of...|
|train_applprev_1_0|credacc_transacti...|   double|Number of transac...|
|train_applprev_1_0|     credamount_590A|   double|Loan amount or ca...|
+------------------+--------------------+---------+--------------------+
only showing top 20 rows

In [21]:
# Instalar pacate para tradução da coluna "Description"
!pip install deep-translator

Requirement already satisfied: deep-translator in c:\users\fred\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in c:\users\fred\anaconda3\lib\site-packages (from deep-translator) (4.11.1)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\fred\anaconda3\lib\site-packages (from deep-translator) (2.32.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\fred\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\fred\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fred\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\fred\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fred\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2023.5.7)

In [22]:
# Tradução dos valores da coluna "Description"
from deep_translator import GoogleTranslator
from pyspark.sql.functions import col
import pandas as pd

# Extrair valores únicos da coluna Description (não nulos)
descricoes_unicas = (dicionario_variaveis
                     .select("Description")
                     .where(col("Description").isNotNull())
                     .distinct()
                     .rdd.flatMap(lambda x: x)
                     .collect())

# Traduzir usando GoogleTranslator
mapa_traducao = {desc: GoogleTranslator(source='en', target='pt').translate(desc) for desc in descricoes_unicas}

In [23]:
# Criação da coluna "Descricao"
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# UDF para mapear as traduções
@udf(StringType())
def traduzir_udf(desc):
    return mapa_traducao.get(desc, None)

# Criar nova coluna com as traduções
tabela_descritiva = dicionario_variaveis.withColumn("Descricao", traduzir_udf(col("Description")))

In [24]:
tabela_descritiva.select("coluna", "Description", "Descricao").show(truncate=False)

+--------------------------+------------------------------------------------------------------------------+-----------------------------------------------------------------------------+
|coluna                    |Description                                                                   |Descricao                                                                    |
+--------------------------+------------------------------------------------------------------------------+-----------------------------------------------------------------------------+
|case_id                   |NULL                                                                          |NULL                                                                         |
|date_decision             |NULL                                                                          |NULL                                                                         |
|MONTH                     |NULL                                                                          |NULL                                                                         |
|WEEK_NUM                  |NULL                                                                          |NULL                                                                         |
|target                    |NULL                                                                          |NULL                                                                         |
|case_id                   |NULL                                                                          |NULL                                                                         |
|actualdpd_943P            |Days Past Due (DPD) of previous contract (actual).                            |Dias vencidos (DPD) do contrato anterior (real).                             |
|annuity_853A              |Monthly annuity for previous applications.                                    |Anuidade mensal para aplicativos anteriores.                                 |
|approvaldate_319D         |Approval Date of Previous Application                                         |Data de aprovação do pedido anterior                                         |
|byoccupationinc_3656910L  |Applicant's income from previous applications.                                |Receita do candidato de aplicações anteriores.                               |
|cancelreason_3545846M     |Application cancellation reason.                                              |Razão de cancelamento do aplicativo.                                         |
|childnum_21L              |Number of children in the previous application.                               |Número de crianças na aplicação anterior.                                    |
|creationdate_885D         |Date when previous application was created.                                   |Data em que o aplicativo anterior foi criado.                                |
|credacc_actualbalance_314A|Actual balance on credit account.                                             |BALANÇO REAL RECUTA DE CRÉDITO.                                              |
|credacc_credlmt_575A      |Credit card credit limit provided for previous applications.                  |Limite de crédito do cartão de crédito fornecido para aplicativos anteriores.|
|credacc_maxhisbal_375A    |Maximal historical balance of previous credit account                         |Balanço histórico máximo da conta de crédito anterior                        |
|credacc_minhisbal_90A     |Minimum historical balance of previous credit accounts.                       |Saldo histórico mínimo de contas de crédito anteriores.                      |
|credacc_status_367L       |Account status of previous credit applications.                               |Status da conta de pedidos de crédito anteriores.                            |
|credacc_transactions_402L |Number of transactions made with the previous credit account of the applicant.|Número de transações feitas com a conta de crédito anterior do requerente.   |
|credamount_590A           |Loan amount or card limit of previous applications.                           |Valor do empréstimo ou limite de cartão de pedidos anteriores.               |
+--------------------------+------------------------------------------------------------------------------+-----------------------------------------------------------------------------+
only showing top 20 rows

In [25]:
# Transformação em arquivos Pandas para salvar em .md
tabela_descritiva_pd = tabela_descritiva.toPandas()

In [26]:
# Salvar como Markdown
md_path = f"{diretorio}\\docs\tabela_descritiva.md"


with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

## 📊 Resultado da Geração de dicionário de variáveis
### 🧩 Estrutura de execução

O dicionário gerado foi baseado no arquivo **feature_definitions.csv** disponibilizado na base de dados originalizados no kaggle.
A tradução da coluna **Description** foi realizada utilizando a biblioteca **deep-translator** gerando assim a variável **Descricao**
Após esse tratamento, foi gerado o arquivo **tabela_descritiva.md** encontrada em:
**f"{diretorio}\\data\raw\feature_definitions.csv"**