# üßπ Tratamento e Transforma√ß√£o das Tabelas

## üéØ Objetivo do Notebook

Este notebook executa as seguintes tarefas principais:

---

### 1. üß± Tratamento da Tabela Base

Realiza o tratamento e a defini√ß√£o da **tabela base**, com base no dataset `train_base`.

---

### 2. üõ∞Ô∏è Tratamento das Tabelas Sat√©lites Menos Relevantes

Executa tratamento **b√°sico e padronizado** para datasets sat√©lites com menor impacto direto na modelagem.

---

### 3. üåê Tratamento das Tabelas Sat√©lites Mais Relevantes

Aplica transforma√ß√µes e enriquecimentos em **datasets sat√©lites considerados mais relevantes** para construir uma tabela base mais informativa e robusta.

---


### 4. üìñ Atualiza√ß√£o de Dicion√°rio de Vari√°veis (em Portugu√™s)

Gera um **mapeamento interpret√°vel** com descri√ß√µes das vari√°veis criadas nesta fase, tornando a an√°lise mais acess√≠vel e compreens√≠vel.

In [2]:
# Cria√ß√£o da SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploSparkSession") \
    .getOrCreate()

In [48]:
# Importa√ß√µes
from pyspark.sql.functions import col, when, count, isnan, isnull, countDistinct, to_date, format_string, to_date, datediff, lit, coalesce
from pyspark.sql.types import FloatType, DoubleType
import pandas as pd
import os
import glob

In [16]:
caminho = r"C:\Users\fred\meu_projeto_etl"

### üß™ Fun√ß√£o: `avaliar_dataset`

Esta fun√ß√£o tem como objetivo realizar uma **an√°lise explorat√≥ria detalhada** de um DataFrame Spark, focando em qualidade e integridade dos dados. √â uma ferramenta √∫til para engenheiros e cientistas de dados durante as etapas iniciais do pipeline de dados.

#### ‚úÖ O que a fun√ß√£o faz:

- Exibe o **schema** (colunas e seus tipos de dados)
- Conta:
  - Total de registros
  - **Nulos e % de nulos por coluna**
  - **Valores distintos** por coluna
- Mostra **exemplos de valores** n√£o nulos por coluna
- Verifica **unicidade da chave prim√°ria** (se especificada)
- Mostra **amostras de colunas de data**, ignorando nulos
- Retorna:
  - Um **DataFrame Pandas** com o diagn√≥stico completo por coluna
  - Um **dicion√°rio resumo** com m√©tricas globais

#### üì• Par√¢metros:
- `df`: DataFrame Spark a ser avaliado
- `pk` *(str, opcional)*: Nome da coluna chave prim√°ria a ser validada
- `colunas_data` *(list[str], opcional)*: Lista de colunas com datas para exibir amostras
- `amostras_data` *(int, opcional)*: N√∫mero de registros a exibir por coluna de data (padr√£o: 5)

#### üß† Observa√ß√µes:
- A verifica√ß√£o de duplicatas √© feita **somente na chave prim√°ria** (n√£o em registros completos, para evitar sobrecarga de mem√≥ria).

In [4]:
from pyspark.sql.functions import col, isnull, isnan
import pandas as pd

def avaliar_dataset(df, pk=None, colunas_data=None, amostras_data=5):

    print("üìä Avalia√ß√£o do DataFrame...")
    total_registros = df.count()
    schema = dict(df.dtypes)
    resultados = []

    for c in df.columns:
        tipo = schema[c]
        cond = isnull(col(c))
        if tipo in ("float", "double"):
            cond = cond | isnan(col(c))

        nulos = df.filter(cond).count()
        distintos = df.select(c).distinct().count()

        # Captura de exemplos distintos e n√£o nulos
        try:
            exemplos_df = df.select(c).where(col(c).isNotNull()).distinct().limit(3)
            exemplo = exemplos_df.toPandas()[c].tolist()
        except:
            exemplo = []

        resultados.append({
            "coluna": c,
            "tipo": tipo,
            "% nulos": round(nulos / total_registros * 100, 2),
            "qtd_nulos": nulos,
            "valores_distintos": distintos,
            "exemplo_valores": exemplo,
            "observacoes": ""
        })

    resultados_df = pd.DataFrame(resultados)

    # üîç Resumo geral
    resumo = {
        "total_registros": total_registros,
        "colunas_com_nulos": resultados_df[resultados_df["qtd_nulos"] > 0].shape[0],
        "colunas_totalmente_nulas": resultados_df[resultados_df["qtd_nulos"] == total_registros].shape[0],
        "duplicatas_pk": None
    }

    # Verifica√ß√£o de chave prim√°ria
    if pk and pk in df.columns:
        duplicatas_pk = df.groupBy(pk).count().filter(col("count") > 1).count()
        resumo["duplicatas_pk"] = duplicatas_pk
        print(f"\nüîç Chave prim√°ria '{pk}':")
        if duplicatas_pk > 0:
            print(f"‚ö†Ô∏è Encontradas {duplicatas_pk} duplicatas com base na chave '{pk}'")
        else:
            print("‚úÖ Chave prim√°ria √© √∫nica.")
    elif pk:
        print(f"‚ö†Ô∏è A coluna '{pk}' n√£o est√° presente no DataFrame.")

    # Amostra de colunas de data
    if colunas_data:
        print("\nüìÖ Amostras de colunas de data (sem nulos):")
        for data_col in colunas_data:
            if data_col in df.columns:
                print(f"üìÜ {data_col}:")
                try:
                    df.filter(col(data_col).isNotNull()).select(data_col).show(amostras_data, truncate=False)
                except Exception as e:
                    print(f"‚ö†Ô∏è Erro ao exibir {data_col}: {e}")
            else:
                print(f"‚ö†Ô∏è Coluna {data_col} n√£o encontrada.")

    return resultados_df, resumo

## 1. üß± Tratamento da Tabela Base

In [5]:
#Importa√ß√£o da tabela base
train_base = spark.read.parquet(r"C:\Users\fred\Documents\Estudo de dados\projeto_credito\data\raw\train\train_base.parquet")

### Tratamento de nulos e duplicidade

In [8]:
# Executar
tabela_resultado, resumo = avaliar_dataset(
    df=train_base,
    pk="case_id",
    colunas_data=["date_decision", "MONTH"])

# Visualizar a tabela
import pandas as pd
from IPython.display import display
display(tabela_resultado)

# Exibir resumo
print(resumo)
avaliar_dataset(train_base, pk="case_id", colunas_data=["date_decision", "MONTH"])

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚úÖ Chave prim√°ria √© √∫nica.

üìÖ Amostras de colunas de data (sem nulos):
üìÜ date_decision:
+-------------+
|date_decision|
+-------------+
|2019-01-03   |
|2019-01-03   |
|2019-01-04   |
|2019-01-03   |
|2019-01-04   |
+-------------+
only showing top 5 rows

üìÜ MONTH:
+------+
|MONTH |
+------+
|201901|
|201901|
|201901|
|201901|
|201901|
+------+
only showing top 5 rows

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.0,0,1526659,"[26, 29, 474]",
1,date_decision,string,0.0,0,644,"[2019-08-08, 2019-08-22, 2019-08-23]",
2,MONTH,bigint,0.0,0,22,"[201910, 201905, 202003]",
3,WEEK_NUM,bigint,0.0,0,92,"[26, 29, 65]",
4,target,bigint,0.0,0,2,"[0, 1]",

{'total_registros': 1526659, 'colunas_com_nulos': 0, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 0}
üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚úÖ Chave prim√°ria √© √∫nica.

üìÖ Amostras de colunas de data (sem nulos):
üìÜ date_decision:
+-------------+
|date_decision|
+-------------+
|2019-01-03   |
|2019-01-03   |
|2019-01-04   |
|2019-01-03   |
|2019-01-04   |
+-------------+
only showing top 5 rows

üìÜ MONTH:
+------+
|MONTH |
+------+
|201901|
|201901|
|201901|
|201901|
|201901|
+------+
only showing top 5 rows

(          coluna    tipo  % nulos  qtd_nulos  valores_distintos  \
 0        case_id  bigint      0.0          0            1526659
 1  date_decision  string      0.0          0                644
 2          MONTH  bigint      0.0          0                 22
 3       WEEK_NUM  bigint      0.0          0                 92
 4         target  bigint      0.0          0                  2

                         exemplo_valores observacoes
 0                         [26, 29, 474]
 1  [2019-08-08, 2019-08-22, 2019-08-23]
 2              [201910, 201905, 202003]
 3                          [26, 29, 65]
 4                                [0, 1]              ,
 {'total_registros': 1526659,
  'colunas_com_nulos': 0,
  'colunas_totalmente_nulas': 0,
  'duplicatas_pk': 0})

### Tratamento de tipos de dados

In [9]:
# Altera√ß√£o de tipo da coluna date_decision
train_base_date = train_base.withColumn('date_decision', to_date(col('date_decision'), 'yyyy-MM-dd'))

In [10]:
# Verifica√ß√£o da altera√ß√£o do tipo
train_base_date.printSchema()

root
 |-- case_id: long (nullable = true)
 |-- date_decision: date (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- WEEK_NUM: long (nullable = true)
 |-- target: long (nullable = true)

In [11]:
# Verifica√ß√£o do formato do m√™s
train_base_date.select('MONTH').show()

+------+
| MONTH|
+------+
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
|201901|
+------+
only showing top 20 rows

In [12]:
# Altera√ß√£o de tipo da coluna MONTH
train_base_date = train_base_date.withColumn(
    "MONTH",
    to_date(format_string("%06d", col("MONTH")), "yyyyMM")
)

In [13]:
train_base_date.select('MONTH').distinct().orderBy('MONTH').show(20, truncate=False)

+----------+
|MONTH     |
+----------+
|2019-01-01|
|2019-02-01|
|2019-03-01|
|2019-04-01|
|2019-05-01|
|2019-06-01|
|2019-07-01|
|2019-08-01|
|2019-09-01|
|2019-10-01|
|2019-11-01|
|2019-12-01|
|2020-01-01|
|2020-02-01|
|2020-03-01|
|2020-04-01|
|2020-05-01|
|2020-06-01|
|2020-07-01|
|2020-08-01|
+----------+
only showing top 20 rows

In [14]:
# Verifica√ß√£o da altera√ß√£o do tipo
train_base_date.printSchema()

root
 |-- case_id: long (nullable = true)
 |-- date_decision: date (nullable = true)
 |-- MONTH: date (nullable = true)
 |-- WEEK_NUM: long (nullable = true)
 |-- target: long (nullable = true)

In [17]:
# Monta o caminho completo at√© o diret√≥rio de sa√≠da
caminho_saida = os.path.join(caminho, "data", "interim", "train_base_tratada")

# Salva o DataFrame Spark em formato Parquet no local desejado
train_base_date.write.mode("overwrite").parquet(caminho_saida)

## 2. üõ∞Ô∏è  Tratamento das tabelas "Sat√©lite"

### Tabela de descri√ß√£o de vari√°veis

In [18]:
import pandas as pd

# Ler o arquivo markdown como texto
df_pd = pd.read_table(r"C:\Users\fred\Documents\Estudo de dados\projeto_credito\docs\tabela_descritiva.md", sep="|", engine="python", skipinitialspace=True)
df_pd = df_pd.loc[:, ~df_pd.columns.str.contains('^Unnamed')]
df_pd.columns = df_pd.columns.str.strip()
df_pd = df_pd.applymap(lambda x: x.strip() if isinstance(x, str) else x)

tabela_descritiva = spark.createDataFrame(df_pd)
tabela_descritiva.printSchema()
tabela_descritiva.show()

root
 |-- tabela: string (nullable = true)
 |-- coluna: string (nullable = true)
 |-- tipo_dado: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Descricao: string (nullable = true)

+--------------------+--------------------+-------------+--------------------+--------------------+
|              tabela|              coluna|    tipo_dado|         Description|           Descricao|
+--------------------+--------------------+-------------+--------------------+--------------------+
|:----------------...|:----------------...|:------------|:----------------...|:----------------...|
|          train_base|             case_id|       bigint|                 NaN|                 NaN|
|          train_base|       date_decision|       string|                 NaN|                 NaN|
|          train_base|               MONTH|       bigint|                 NaN|                 NaN|
|          train_base|            WEEK_NUM|       bigint|                 NaN|                 NaN|
|          train_base|              target|       bigint|                 NaN|                 NaN|
|  train_applprev_1_0|             case_id|       bigint|                 NaN|                 NaN|
|  train_applprev_1_0|      actualdpd_943P|       double|Days Past Due (DP...|Dias vencidos (DP...|
|  train_applprev_1_0|        annuity_853A|       double|Monthly annuity f...|Anuidade mensal p...|
|  train_applprev_1_0|   approvaldate_319D|       string|Approval Date of ...|Data de aprova√ß√£o...|
|  train_applprev_1_0|byoccupationinc_3...|       double|Applicant's incom...|Receita do candid...|
|  train_applprev_1_0|cancelreason_3545...|       string|Application cance...|Raz√£o de cancelam...|
|  train_applprev_1_0|        childnum_21L|       double|Number of childre...|N√∫mero de crian√ßa...|
|  train_applprev_1_0|   creationdate_885D|       string|Date when previou...|Data em que o apl...|
|  train_applprev_1_0|credacc_actualbal...|       double|Actual balance on...|BALAN√áO REAL RECU...|
|  train_applprev_1_0|credacc_credlmt_575A|       double|Credit card credi...|Limite de cr√©dito...|
|  train_applprev_1_0|credacc_maxhisbal...|       double|Maximal historica...|Balan√ßo hist√≥rico...|
|  train_applprev_1_0|credacc_minhisbal...|       double|Minimum historica...|Saldo hist√≥rico m...|
|  train_applprev_1_0| credacc_status_367L|       string|Account status of...|Status da conta d...|
|  train_applprev_1_0|credacc_transacti...|       double|Number of transac...|N√∫mero de transa√ß...|
+--------------------+--------------------+-------------+--------------------+--------------------+
only showing top 20 rows

## Tratamento da tabela train_applprev_1_0

In [19]:
tabela_descritiva.columns

['tabela', 'coluna', 'tipo_dado', 'Description', 'Descricao']

In [20]:
# Filtrar e selecionar
tabela_descritiva_filtrada = tabela_descritiva.filter(
    col('tabela') == 'train_applprev_1_0'
).select('coluna', 'tipo_dado', 'Descricao')

# Mostrar para inspe√ß√£o
tabela_descritiva_filtrada.show(45, truncate=False)

# Transformar em Pandas
tabela_descritiva_pd = tabela_descritiva_filtrada.toPandas()

# Salvar como Markdown
md_path = r"C:\Users\fred\Documents\Estudo de dados\projeto_credito\docs\tabela_descritiva1.md"

with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

+---------------------------+---------+--------------------------------------------------------------------------------------------------------+
|coluna                     |tipo_dado|Descricao                                                                                               |
+---------------------------+---------+--------------------------------------------------------------------------------------------------------+
|case_id                    |bigint   |NaN                                                                                                     |
|actualdpd_943P             |double   |Dias vencidos (DPD) do contrato anterior (real).                                                        |
|annuity_853A               |double   |Anuidade mensal para aplicativos anteriores.                                                            |
|approvaldate_319D          |string   |Data de aprova√ß√£o do pedido anterior                                                                    |
|byoccupationinc_3656910L   |double   |Receita do candidato de aplica√ß√µes anteriores.                                                          |
|cancelreason_3545846M      |string   |Raz√£o de cancelamento do aplicativo.                                                                    |
|childnum_21L               |double   |N√∫mero de crian√ßas na aplica√ß√£o anterior.                                                               |
|creationdate_885D          |string   |Data em que o aplicativo anterior foi criado.                                                           |
|credacc_actualbalance_314A |double   |BALAN√áO REAL RECUTA DE CR√âDITO.                                                                         |
|credacc_credlmt_575A       |double   |Limite de cr√©dito do cart√£o de cr√©dito fornecido para aplicativos anteriores.                           |
|credacc_maxhisbal_375A     |double   |Balan√ßo hist√≥rico m√°ximo da conta de cr√©dito anterior                                                   |
|credacc_minhisbal_90A      |double   |Saldo hist√≥rico m√≠nimo de contas de cr√©dito anteriores.                                                 |
|credacc_status_367L        |string   |Status da conta de pedidos de cr√©dito anteriores.                                                       |
|credacc_transactions_402L  |double   |N√∫mero de transa√ß√µes feitas com a conta de cr√©dito anterior do requerente.                              |
|credamount_590A            |double   |Valor do empr√©stimo ou limite de cart√£o de pedidos anteriores.                                          |
|credtype_587L              |string   |Tipo de cr√©dito de aplica√ß√£o anterior.                                                                  |
|currdebt_94A               |double   |D√≠vida atual do aplicativo anterior.                                                                    |
|dateactivated_425D         |string   |Data de ativa√ß√£o do contrato da aplica√ß√£o anterior do requerente.                                       |
|district_544M              |string   |Distrito do endere√ßo usado no pedido de empr√©stimo anterior.                                            |
|downpmt_134A               |double   |Valor anterior de pagamento do aplicativo.                                                              |
|dtlastpmt_581D             |string   |Data do √∫ltimo pagamento feito pelo requerente.                                                         |
|dtlastpmtallstes_3545839D  |string   |Data do √∫ltimo pagamento do requerente.                                                                 |
|education_1138M            |string   |N√≠vel de educa√ß√£o do candidato a partir de sua aplica√ß√£o anterior.                                      |
|employedfrom_700D          |string   |Data de in√≠cio do emprego do aplicativo anterior.                                                       |
|familystate_726L           |string   |Estado familiar na aplica√ß√£o anterior do candidato.                                                     |
|firstnonzeroinstldate_307D |string   |Data da primeira parcela no aplicativo anterior.                                                        |
|inittransactioncode_279L   |string   |Tipo da transa√ß√£o inicial feita na aplica√ß√£o anterior do cliente.                                       |
|isbidproduct_390L          |boolean  |Sinalizador para determinar se o produto √© uma venda cruzada em aplicativos anteriores.                 |
|isdebitcard_527L           |boolean  |Sinalizador de aplicativo anterior indicando se o produto que est√° sendo aplicado √© um cart√£o de d√©bito.|
|mainoccupationinc_437A     |double   |O valor da renda principal do cliente em seu aplicativo anterior.                                       |
|maxdpdtolerance_577P       |double   |DPD m√°ximo com toler√¢ncia (em aplica√ß√£o anterior).                                                      |
|num_group1                 |bigint   |NaN                                                                                                     |
|outstandingdebt_522A       |double   |Valor de d√≠vida pendente no aplicativo anterior do cliente.                                             |
|pmtnum_8L                  |double   |N√∫mero de pagamentos feitos para o aplicativo anterior.                                                 |
|postype_4733339M           |string   |Tipo de ponto de venda.                                                                                 |
|profession_152M            |string   |Profiss√£o do cliente durante o pedido de empr√©stimo anterior.                                           |
|rejectreason_755M          |string   |Raz√£o para rejei√ß√£o anterior de aplicativos.                                                            |
|rejectreasonclient_4145042M|string   |Raz√£o para a rejei√ß√£o do aplicativo anterior do cliente.                                                |
|revolvingaccount_394A      |double   |Conta rotativa que estava presente no aplicativo anterior do candidato.                                 |
|status_219L                |string   |Status anterior do aplicativo.                                                                          |
|tenor_203L                 |double   |N√∫mero de parcelas no aplicativo anterior.                                                              |
+---------------------------+---------+--------------------------------------------------------------------------------------------------------+

In [21]:
# Carregando e unindo tabelas
train_applprev_1_0 = spark.read.parquet(r"C:\Users\fred\Documents\Estudo de dados\projeto_credito\data\raw\train\train_applprev_1_0.parquet")
train_applprev_1_1 = spark.read.parquet(r"C:\Users\fred\Documents\Estudo de dados\projeto_credito\data\raw\train\train_applprev_1_1.parquet")
train_applprev_1 = train_applprev_1_0.unionByName(train_applprev_1_1)

In [22]:
# Executar
tabela_resultado, resumo = avaliar_dataset(
    df=train_applprev_1,
    pk="case_id",
    colunas_data=["approvaldate_319D", "creationdate_885D", "dateactivated_425D", "dtlastpmt_581D","dtlastpmtallstes_3545839D", "employedfrom_700D", "firstnonzeroinstldate_307D"])

# Visualizar a tabela
import pandas as pd
from IPython.display import display
display(tabela_resultado)

# Exibir resumo
print(resumo)

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 991955 duplicatas com base na chave 'case_id'

üìÖ Amostras de colunas de data (sem nulos):
üìÜ approvaldate_319D:
+-----------------+
|approvaldate_319D|
+-----------------+
|2019-01-11       |
|2018-10-11       |
|2018-12-31       |
|2018-11-02       |
|2018-12-11       |
+-----------------+
only showing top 5 rows

üìÜ creationdate_885D:
+-----------------+
|creationdate_885D|
+-----------------+
|2013-04-03       |
|2013-04-03       |
|2019-01-07       |
|2019-01-08       |
|2019-01-16       |
+-----------------+
only showing top 5 rows

üìÜ dateactivated_425D:
+------------------+
|dateactivated_425D|
+------------------+
|2018-10-19        |
|2018-11-07        |
|2018-12-28        |
|2018-10-09        |
|2018-11-16        |
+------------------+
only showing top 5 rows

üìÜ dtlastpmt_581D:
+--------------+
|dtlastpmt_581D|
+--------------+
|2019-01-10    |
|2019-01-03    |
|2019-01-08    |
|2018-12-05    |
|2018-12-26    |
+--------------+
only showing top 5 rows

üìÜ dtlastpmtallstes_3545839D:
+-------------------------+
|dtlastpmtallstes_3545839D|
+-------------------------+
|2019-01-10               |
|2018-12-29               |
|2019-01-03               |
|2019-01-08               |
|2019-01-05               |
+-------------------------+
only showing top 5 rows

üìÜ employedfrom_700D:
+-----------------+
|employedfrom_700D|
+-----------------+
|2010-02-15       |
|2010-02-15       |
|2018-05-15       |
|2012-09-15       |
|2013-09-15       |
+-----------------+
only showing top 5 rows

üìÜ firstnonzeroinstldate_307D:
+--------------------------+
|firstnonzeroinstldate_307D|
+--------------------------+
|2013-05-04                |
|2013-05-04                |
|2019-02-07                |
|2019-02-08                |
|2014-12-18                |
+--------------------------+
only showing top 5 rows

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1221522,"[29, 964, 2453]",
1,actualdpd_943P,double,0.04,2500,190,"[160.0, 8.0, 70.0]",
2,annuity_853A,double,3.84,250736,89298,"[7171.0, 3069.6, 5482.2]",
3,approvaldate_319D,string,46.13,3010294,5403,"[2019-08-08, 2019-08-22, 2017-05-14]",
4,byoccupationinc_3656910L,double,76.49,4991531,29700,"[24923.0, 45953.0, 7542.62]",
5,cancelreason_3545846M,string,0.00,0,76,"[P205_40_167, P150_0_30, P60_137_164]",
6,childnum_21L,double,54.54,3559424,21,"[8.0, 0.0, 7.0]",
7,creationdate_885D,string,0.00,66,5406,"[2016-08-17, 2015-05-01, 2017-12-05]",
8,credacc_actualbalance_314A,double,95.10,6205945,93622,"[49.598003, 157.66801, 24594.0]",
9,credacc_credlmt_575A,double,2.97,194132,52332,"[14452.0, 24594.0, 16754.6]",
10,credacc_maxhisbal_375A,double,95.10,6205945,77168,"[49.598003, 4.0020003, 5360.0]",
11,credacc_minhisbal_90A,double,95.10,6205945,75234,"[-999.938, -20427.059, 49.598003]",
12,credacc_status_367L,string,95.10,6205945,7,"[PCL, CL, CA]",
13,credacc_transactions_402L,double,95.10,6205945,103,"[8.0, 0.0, 69.0]",
14,credamount_590A,double,3.10,202198,252461,"[56994.0, 42594.0, 11323.8]",
15,credtype_587L,string,3.10,202198,4,"[REL, CAL, COL]",
16,currdebt_94A,double,34.42,2246512,531481,"[25781.904, 5315.7983, 872.6401]",
17,dateactivated_425D,string,48.14,3141753,4257,"[2019-08-08, 2019-08-23, 2019-08-22]",
18,district_544M,string,0.00,0,1063,"[P87_135_164, P181_5_55, P59_58_91]",
19,downpmt_134A,double,3.10,202198,22976,"[4800.0, 1300.6, 971.2]",
20,dtlastpmt_581D,string,72.79,4750384,2555,"[2019-08-08, 2019-08-22, 2019-08-23]",
21,dtlastpmtallstes_3545839D,string,61.96,4043621,2571,"[2019-08-08, 2019-08-22, 2019-08-23]",
22,education_1138M,string,0.00,0,6,"[P97_36_170, P33_146_175, P157_18_172]",
23,employedfrom_700D,string,59.55,3886478,10308,"[2010-09-24, 1979-05-15, 2009-06-23]",
24,familystate_726L,string,36.68,2393892,6,"[WIDOWED, SINGLE, MARRIED]",
25,firstnonzeroinstldate_307D,string,10.00,652482,5166,"[2007-04-29, 2017-12-05, 2015-05-01]",
26,inittransactioncode_279L,string,3.10,202198,4,"[CASH, POS, NDF]",
27,isbidproduct_390L,boolean,0.00,66,3,"[True, False]",
28,isdebitcard_527L,boolean,92.91,6062966,3,"[True, False]",
29,mainoccupationinc_437A,double,1.56,101983,28718,"[147000.0, 4800.0, 28979.8]",
30,maxdpdtolerance_577P,double,47.44,3095704,3644,"[496.0, 934.0, 305.0]",
31,num_group1,bigint,0.00,0,20,"[19, 0, 7]",
32,outstandingdebt_522A,double,34.60,2258268,384591,"[14241.572, 12892.639, 33372.6]",
33,pmtnum_8L,double,8.46,551820,61,"[8.0, 7.0, 49.0]",
34,postype_4733339M,string,0.00,0,9,"[P46_145_78, P169_115_83, P177_117_192]",
35,profession_152M,string,0.00,0,11508,"[P135_113_37, P133_97_187, P91_94_116]",
36,rejectreason_755M,string,0.00,0,18,"[P48_22_32, P30_86_84, P5_143_178]",
37,rejectreasonclient_4145042M,string,0.00,0,14,"[P30_86_84, P5_143_178, P84_14_61]",
38,revolvingaccount_394A,double,95.45,6229229,80701,"[780735800.0, 780787140.0, 742696200.0]",
39,status_219L,string,0.00,66,12,"[K, Q, T]",
40,tenor_203L,double,8.46,551820,61,"[8.0, 7.0, 49.0]",

{'total_registros': 6525979, 'colunas_com_nulos': 32, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 991955}

In [23]:
# Converter todas as colunas de data para DateType (assumindo formato yyyy-MM-dd)
train_applprev_1_date = train_applprev_1.withColumn("approvaldate_319D", to_date("approvaldate_319D")) \
       .withColumn("creationdate_885D", to_date("creationdate_885D")) \
       .withColumn("dateactivated_425D", to_date("dateactivated_425D")) \
       .withColumn("dtlastpmt_581D", to_date("dtlastpmt_581D")) \
       .withColumn("dtlastpmtallstes_3545839D", to_date("dtlastpmtallstes_3545839D")) \
       .withColumn("employedfrom_700D", to_date("employedfrom_700D")) \
       .withColumn("firstnonzeroinstldate_307D", to_date("firstnonzeroinstldate_307D"))

In [24]:
# Dias contados
train_applprev_1 = train_applprev_1_date.withColumn("dias_para_aprovacao", datediff("approvaldate_319D", "creationdate_885D")) \
       .withColumn("dias_ate_ativacao", datediff("dateactivated_425D", "creationdate_885D")) \
       .withColumn("dias_ult_pagamento", datediff("dtlastpmt_581D", "creationdate_885D")) \
       .withColumn("dias_ult_pagamento_all", datediff("dtlastpmtallstes_3545839D", "creationdate_885D")) \
       .withColumn("dias_desde_inicio_emprego", datediff("creationdate_885D", "employedfrom_700D")) \
       .withColumn("dias_para_primeira_parcela", datediff("firstnonzeroinstldate_307D", "creationdate_885D"))

In [25]:
# Cria√ß√£o de flags
train_applprev_1 = train_applprev_1 \
  .withColumn("sem_aprovacao_flag", when(col("approvaldate_319D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_ativacao_flag", when(col("dateactivated_425D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_pagamento_flag", when(col("dtlastpmt_581D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_pagamento_total_flag", when(col("dtlastpmtallstes_3545839D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_emprego_flag", when(col("employedfrom_700D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_parcela_flag", when(col("firstnonzeroinstldate_307D").isNull(), 1).otherwise(0))

In [26]:
colunas_float = [
    "credamount_590A",
    "currdebt_94A",
    "outstandingdebt_522A",
    "mainoccupationinc_437A",
    "byoccupationinc_3656910L",
    "annuity_853A",
    "revolvingaccount_394A"
]

for c in colunas_float:
    train_applprev_1 = train_applprev_1.withColumn(c, col(c).cast("double"))

In [27]:
# Flags de nulo/cruzamento
train_applprev_1 = train_applprev_1 \
    .withColumn("mainoccupationinc_null_flag", when(col("mainoccupationinc_437A").isNull(), 1).otherwise(0)) \
    .withColumn("byoccupationinc_null_flag", when(col("byoccupationinc_3656910L").isNull(), 1).otherwise(0)) \
    .withColumn("tem_revolving_flag", when(col("revolvingaccount_394A").isNotNull(), 1).otherwise(0))

In [28]:
from pyspark.sql.functions import coalesce

train_applprev_1 = train_applprev_1.withColumn("divida_total",
                   coalesce(col("currdebt_94A"), lit(0)) + coalesce(col("outstandingdebt_522A"), lit(0)))

In [29]:
# Cria√ß√£o de flag
train_applprev_1 = train_applprev_1 \
  .withColumn("limite_cartao_credito_flag", when(col("approvaldate_319D").isNull(), 1).otherwise(0))

In [30]:
from pyspark.sql.functions import when

categoricas_com_nulos = [
    "credtype_587L",
    "familystate_726L",
    "inittransactioncode_279L"
]

for c in categoricas_com_nulos:
    train_applprev_1 = train_applprev_1.withColumn(
        c,
        when(col(c).isNull(), "Desconhecido").otherwise(col(c))
    )

In [31]:
from pyspark.sql.types import StringType

categoricas_todas = [
    "cancelreason_3545846M", "credtype_587L", "district_544M",
    "education_1138M", "familystate_726L", "inittransactioncode_279L",
    "postype_4733339M", "profession_152M", "rejectreason_755M", "rejectreasonclient_4145042M"
]

for c in categoricas_todas:
    train_applprev_1 = train_applprev_1.withColumn(c, col(c).cast(StringType()))

In [32]:
from pyspark.sql.functions import when, col

# üîπ 1. Tratamento de flags booleanas (transformar em 0/1)
train_applprev_1 = train_applprev_1 \
    .withColumn("isbidproduct_390L", when(col("isbidproduct_390L") == True, 1)
                                      .when(col("isbidproduct_390L") == False, 0)
                                      .otherwise(0)) \
    .withColumn("isdebitcard_527L", when(col("isdebitcard_527L") == True, 1)
                                     .when(col("isdebitcard_527L") == False, 0)
                                     .otherwise(0))

# üîπ 2. Tratamento de colunas de contagem (nulos ‚Üí 0, cast para int)
cols_contagem = [
    "childnum_21L",
    "pmtnum_8L",
    "tenor_203L",
    "credacc_transactions_402L"
]

for c in cols_contagem:
    train_applprev_1 = train_applprev_1.withColumn(
        c,
        (when(col(c).isNull(), 0).otherwise(col(c))).cast("int")
    )

# üîπ 3. Tratamento de categorias discretas com valor num√©rico (nulos ‚Üí -1, cast para int)
train_applprev_1 = train_applprev_1 \
    .withColumn("credacc_status_367L", (when(col("credacc_status_367L").isNull(), -1)
                                        .otherwise(col("credacc_status_367L"))).cast("int")) \
    .withColumn("status_219L", (when(col("status_219L").isNull(), -1)
                                .otherwise(col("status_219L"))).cast("int"))

In [33]:
from pyspark.sql.functions import col, when, lit, first, avg, collect_set

from pyspark.sql.functions import when, col

# Define as colunas que indicam hist√≥rico de cr√©dito anterior
colunas_credito = [
    "credacc_actualbalance_314A",
    "credacc_maxhisbal_375A",
    "credacc_minhisbal_90A",
    "downpmt_134A",
    "maxdpdtolerance_577P"
]

# Cria uma condi√ß√£o para verificar se TODAS est√£o nulas
condicao_sem_credito = None
for c in colunas_credito:
    condicao_sem_credito = col(c).isNull() if condicao_sem_credito is None else (condicao_sem_credito & col(c).isNull())

# Cria a flag bin√°ria
train_applprev_1 = train_applprev_1.withColumn(
    "sem_historico_credito_flag",
    when(condicao_sem_credito, 1).otherwise(0)
)

In [34]:
# Categ√≥ricas: preenchimento de nulo e cast para string
colunas_categoricas = [
    "district_544M",
    "education_1138M",
    "profession_152M",
    "postype_4733339M",
    "rejectreason_755M",
    "rejectreasonclient_4145042M"
]

for c in colunas_categoricas:
    train_applprev_1 = train_applprev_1.withColumn(c, when(col(c).isNull(), "Desconhecido").otherwise(col(c)).cast("string"))

In [35]:
train_applprev_1.coalesce(1).write.mode("overwrite").parquet(r"C:\Users\fred\meu_projeto_etl\data\interim\train_applprev_1.parquet")

## Tratamento da tabela train_applprev_2

In [38]:
train_applprev_2 = spark.read.parquet(r"C:\Users\fred\meu_projeto_etl\data\raw\train\train_applprev_2.parquet")

In [40]:
# Executar
tabela_resultado, resumo = avaliar_dataset(
    df=train_applprev_2,
    pk="case_id",
    colunas_data=[])

# Visualizar a tabela
import pandas as pd
from IPython.display import display
display(tabela_resultado)

# Exibir resumo
print(resumo)

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 1182243 duplicatas com base na chave 'case_id'

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1221522,"[29, 964, 2453]",
1,cacccardblochreas_147M,string,0.78,109249,10,"[P19_60_110, P41_107_150, P33_145_161]",
2,conts_type_509L,string,17.01,2394056,10,"[EMPLOYMENT_PHONE, WHATSAPP, PRIMARY_MOBILE]",
3,credacc_cards_status_52L,string,97.57,13733404,7,"[UNCONFIRMED, INACTIVE, BLOCKED]",
4,num_group1,bigint,0.00,0,20,"[19, 0, 7]",
5,num_group2,bigint,0.00,0,12,"[0, 7, 6]",

{'total_registros': 14075487, 'colunas_com_nulos': 3, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 1182243}

### An√°lise da tabela train_applprev_2
#### N√£o foram tomadas a√ß√µes sobre a tabela por baixa relev√¢ncia de suas informa√ß√µes e impossibilidade de cria√ß√£o de chave prim√°ria

## Tratamento da tabela train_credit_bureau_a_1

In [53]:
train_credit_bureau_a_1 = spark.read.parquet(r"C:\Users\fred\meu_projeto_etl\data\raw\train\train_credit_bureau_a_1_*.parquet")

In [56]:
# Filtrar e selecionar
tabela_descritiva_filtrada = tabela_descritiva.filter(
    col('tabela') == 'train_credit_bureau_a_1_0'
).select('coluna', 'tipo_dado', 'Descricao')

# Mostrar para inspe√ß√£o
tabela_descritiva_filtrada.show(45, truncate=False)

# Transformar em Pandas
tabela_descritiva_pd = tabela_descritiva_filtrada.toPandas()

# Salvar como Markdown
md_path = r"C:\Users\fred\Documents\Estudo de dados\projeto_credito\docs\tabela_descritiva_train_credit_bureau_a_1.md"

with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

+-------------------------------+---------+-------------------------------------------------------------------------------------------+
|coluna                         |tipo_dado|Descricao                                                                                  |
+-------------------------------+---------+-------------------------------------------------------------------------------------------+
|case_id                        |bigint   |NaN                                                                                        |
|annualeffectiverate_199L       |double   |Taxa de juros dos contratos fechados.                                                      |
|annualeffectiverate_63L        |double   |Taxa de juros para os contratos ativos.                                                    |
|classificationofcontr_13M      |string   |Classifica√ß√£o do contrato ativo.                                                           |
|classificationofcontr_400M     |string   |Classifica√ß√£o do contrato fechado.                                                         |
|contractst_545M                |string   |Status do contrato.                                                                        |
|contractst_964M                |string   |Status do contrato do contrato de cr√©dito rescindido.                                      |
|contractsum_5085717L           |double   |Soma de outros valores do contrato.                                                        |
|credlmt_230A                   |double   |Limite de cr√©dito dos contratos de cr√©dito fechado do Credit Bureau.                       |
|credlmt_935A                   |double   |Limite de cr√©dito para empr√©stimo ativo.                                                   |
|dateofcredend_289D             |string   |Data final de um contrato de cr√©dito ativo.                                                |
|dateofcredend_353D             |string   |Data final de um contrato de cr√©dito fechado.                                              |
|dateofcredstart_181D           |string   |Data em que o contrato de cr√©dito foi fechado.                                             |
|dateofcredstart_739D           |string   |Data de in√≠cio de um contrato de cr√©dito fechado.                                          |
|dateofrealrepmt_138D           |string   |Data de fechamento do cr√©dito (data de rescis√£o do contrato).                              |
|debtoutstand_525A              |double   |Quantidade pendente de contrato existente.                                                 |
|debtoverdue_47A                |double   |Atualmente, o valor vencido no contrato de cr√©dito existente de um cliente.                |
|description_351M               |string   |Categoriza√ß√£o de clientes pelo Credit Bureau.                                              |
|dpdmax_139P                    |double   |Dias m√°ximos que prev√™em para contrato ativo.                                              |
|dpdmax_757P                    |double   |Dias m√°ximos vencidos por um contrato fechado.                                             |
|dpdmaxdatemonth_442T           |double   |M√™s de ocorr√™ncia de DPD m√°ximo para contratos rescindidos dos dados da ag√™ncia de cr√©dito.|
|dpdmaxdatemonth_89T            |double   |M√™s em que o m√°ximo de dias passados ocorreu no contrato ativo com o Credit Bureau.        |
|dpdmaxdateyear_596T            |double   |Ano em que ocorreu o m√°ximo de dias vencidos (DPD) para o contrato ativo.                  |
|dpdmaxdateyear_896T            |double   |Ano de dias m√°ximos, devido ao contrato fechado obtido do Credit Bureau.                   |
|financialinstitution_382M      |string   |Nome da institui√ß√£o financeira que est√° ligada a um contrato fechado.                      |
|financialinstitution_591M      |string   |Nome da institui√ß√£o financeira do contrato ativo.                                          |
|instlamount_768A               |double   |Valor parcelado para o contrato ativo em Credit Bureau.                                    |
|instlamount_852A               |double   |Valor de parcela para contrato fechado.                                                    |
|interestrate_508L              |double   |Taxa de juros para um contrato fechado no departamento de cr√©dito.                         |
|lastupdate_1112D               |string   |Data da √∫ltima atualiza√ß√£o para um contrato ativo do Credit Bureau.                        |
|lastupdate_388D                |string   |Data da √∫ltima atualiza√ß√£o para um contrato fechado no Credit Bureau.                      |
|monthlyinstlamount_332A        |double   |Valor mensal de parcelamento para contrato ativo.                                          |
|monthlyinstlamount_674A        |double   |Montante mensal de pagamento parcelado em um contrato fechado.                             |
|nominalrate_281L               |double   |Taxa de juros do contrato ativo.                                                           |
|nominalrate_498L               |double   |Taxa de juros para contrato fechado.                                                       |
|num_group1                     |bigint   |NaN                                                                                        |
|numberofcontrsvalue_258L       |double   |N√∫mero de contratos ativos no Credit Bureau.                                               |
|numberofcontrsvalue_358L       |double   |N√∫mero de contratos de cr√©dito fechado.                                                    |
|numberofinstls_229L            |double   |N√∫mero de parcelas em contrato fechado.                                                    |
|numberofinstls_320L            |double   |N√∫mero de parcelas do contrato ativo.                                                      |
|numberofoutstandinstls_520L    |double   |N√∫mero de parcelas pendentes para contrato fechado.                                        |
|numberofoutstandinstls_59L     |double   |N√∫mero de parcelas pendentes para os contratos ativos.                                     |
|numberofoverdueinstlmax_1039L  |double   |N√∫mero de parcelas pendentes para contratos ativos.                                        |
|numberofoverdueinstlmax_1151L  |double   |N√∫mero m√°ximo de parcelas vencidas para um contrato fechado.                               |
|numberofoverdueinstlmaxdat_148D|string   |Data do n√∫mero m√°ximo de parcelas de vencimento para o contrato fechado.                   |
+-------------------------------+---------+-------------------------------------------------------------------------------------------+
only showing top 45 rows

In [58]:
# Executar
tabela_resultado, resumo = avaliar_dataset(
    df=train_credit_bureau_a_1,
    pk="case_id",
    colunas_data=["approvaldate_319D", "creationdate_885D", "dateactivated_425D", "dtlastpmt_581D","dtlastpmtallstes_3545839D", "employedfrom_700D", "firstnonzeroinstldate_307D"])

# Visualizar a tabela
import pandas as pd
from IPython.display import display
display(tabela_resultado)

# Exibir resumo
print(resumo)

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 1386081 duplicatas com base na chave 'case_id'

üìÖ Amostras de colunas de data (sem nulos):
‚ö†Ô∏è Coluna approvaldate_319D n√£o encontrada.
‚ö†Ô∏è Coluna creationdate_885D n√£o encontrada.
‚ö†Ô∏è Coluna dateactivated_425D n√£o encontrada.
‚ö†Ô∏è Coluna dtlastpmt_581D n√£o encontrada.
‚ö†Ô∏è Coluna dtlastpmtallstes_3545839D n√£o encontrada.
‚ö†Ô∏è Coluna employedfrom_700D n√£o encontrada.
‚ö†Ô∏è Coluna firstnonzeroinstldate_307D n√£o encontrada.

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1386273,"[964, 1697, 1806]",
1,annualeffectiverate_199L,double,95.44,15213904,6598,"[9.13, 46.15, 13.4]",
2,annualeffectiverate_63L,double,98.05,15629294,5654,"[17.56, 41.89, 9.13]",
3,classificationofcontr_13M,string,0.00,0,11,"[be7b251d, ea6782cc, 1cf4e481]",
4,classificationofcontr_400M,string,0.00,0,389,"[51590aa9, acba4f13, ffee884a]",
...,...,...,...,...,...,...,...
74,totalamount_996A,double,91.19,14536246,283564,"[7747.1743, 300000.0, 197134.4]",
75,totaldebtoverduevalue_178A,double,91.81,14635534,51535,"[7565.216, 1406.9241, 2043.5801]",
76,totaldebtoverduevalue_718A,double,92.00,14664995,951,"[40637.5, 2.4, 65.200005]",
77,totaloutstanddebtvalue_39A,double,91.81,14635534,1081141,"[91101.96, 3130.3062, 13.2699995]",
78,totaloutstanddebtvalue_668A,double,92.00,14664995,694,"[14760.0, 10866.389, 2.4]",

{'total_registros': 15940537, 'colunas_com_nulos': 66, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 1386081}