# üßπ Tratamento e Transforma√ß√£o de Tabelas
## üìå Vis√£o Geral

### Este notebook tem como objetivo padronizar, tratar e transformar os datasets que comp√µem o projeto de cr√©dito.
### O processo √© orientado pelas melhores pr√°ticas de Engenharia de Dados, garantindo qualidade, confiabilidade e rastreabilidade para suportar an√°lises avan√ßadas e modelos preditivos.

## üéØ Objetivos

### Constru√ß√£o da Tabela Base
Estruturar e validar a tabela principal (train_base), assegurando a unicidade da chave prim√°ria, tratamento de valores nulos e convers√£o de tipos de dados.

### Integra√ß√£o e Tratamento de Tabelas Sat√©lites
Aplicar fun√ß√µes padronizadas de avalia√ß√£o, transforma√ß√£o e cria√ß√£o de vari√°veis derivadas, permitindo consist√™ncia na manipula√ß√£o de diferentes datasets.

### Documenta√ß√£o Automatizada de Vari√°veis
Atualizar o dicion√°rio de dados com descri√ß√µes em portugu√™s, assegurando maior clareza, interpretabilidade e alinhamento entre equipes de neg√≥cio e tecnologia.

## üõ†Ô∏è Benef√≠cios

Confiabilidade dos Dados: identifica√ß√£o e tratamento de inconsist√™ncias, duplicidades e nulos.

Escalabilidade: uso de fun√ß√µes reutiliz√°veis para diferentes tabelas, reduzindo retrabalho e aumentando efici√™ncia.

Transpar√™ncia: documenta√ß√£o clara das regras aplicadas e exporta√ß√£o de relat√≥rios para consulta.

Performance: persist√™ncia das tabelas tratadas em formato Parquet, otimizando consumo em pipelines anal√≠ticos.

## ‚úÖ Entreg√°veis

Tabela base tratada e consolidada.

Tabelas sat√©lites padronizadas, enriquecidas e integradas.

Dicion√°rio de vari√°veis atualizado, em formato leg√≠vel para consulta por stakeholders t√©cnicos e de neg√≥cio.

In [1]:
# Cria√ß√£o da SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploSparkSession") \
    .getOrCreate()

In [2]:
# Importa√ß√µes
from pyspark.sql.functions import col, when, count, isnan, isnull, countDistinct, to_date, format_string, to_date, datediff, lit, coalesce, isnan
from pyspark.sql.types import FloatType, DoubleType
from datetime import datetime
import pandas as pd
import os
import glob

In [3]:
caminho = r"C:\Users\fred\meu_projeto_etl"

### üìå Fun√ß√£o `avaliar_dataset(df, pk=None)`

Essa fun√ß√£o tem como objetivo **avaliar a qualidade e as caracter√≠sticas de um DataFrame Spark**.  
Ela gera um diagn√≥stico √∫til para entender a estrutura, a presen√ßa de valores nulos e a consist√™ncia dos dados.  

---

#### üîé O que a fun√ß√£o faz:

1. **Resumo inicial**
   - Conta o n√∫mero total de registros do DataFrame.  
   - Obt√©m o schema (nome e tipo de cada coluna).  

2. **An√°lise coluna a coluna**  
   Para cada coluna do DataFrame, calcula:  
   - **Tipo de dado** (ex.: string, integer, double).  
   - **% de valores nulos** e a **quantidade absoluta de nulos**.  
     - Para colunas num√©ricas (`float`, `double`), tamb√©m verifica valores `NaN`.  
   - **Quantidade de valores distintos** (cardinalidade da coluna).  
   - **Exemplo de at√© 3 valores distintos n√£o nulos** (√∫til para inspecionar rapidamente o conte√∫do).  
   - Campo reservado para **observa√ß√µes** (pode ser usado futuramente para anota√ß√µes manuais).  

   üëâ Todos esses resultados s√£o consolidados em um **DataFrame Pandas**, facilitando a visualiza√ß√£o tabular no notebook.

3. **Resumo geral do dataset**  
   Retorna um dicion√°rio com:  
   - Total de registros.  
   - Quantidade de colunas que possuem valores nulos.  
   - Quantidade de colunas totalmente nulas (100% nulos).  
   - N√∫mero de duplicatas na chave prim√°ria (se informada).  

4. **Verifica√ß√£o de chave prim√°ria (opcional)**  
   - Se o par√¢metro `pk` for passado e a coluna existir:  
     - Conta o n√∫mero de duplicatas na coluna que deveria ser √∫nica.  
     - Informa no console se a chave √© v√°lida (sem duplicatas) ou se h√° problemas.  
   - Caso a coluna informada n√£o exista no DataFrame, emite um alerta.  

---

#### ‚úÖ Exemplos de uso

```python
# Avalia√ß√£o b√°sica
resultados, resumo = avaliar_dataset(df)

# Avalia√ß√£o com verifica√ß√£o de chave prim√°ria
resultados, resumo = avaliar_dataset(df, pk="id_cliente")

# Exibir resultados
display(resultados)  # tabela detalhada por coluna
print(resumo)        # resumo geral

In [4]:
def avaliar_dataset(df, pk=None):

    print("üìä Avalia√ß√£o do DataFrame...")
    total_registros = df.count()
    schema = dict(df.dtypes)
    resultados = []

    for c in df.columns:
        tipo = schema[c]
        cond = isnull(col(c))
        if tipo in ("float", "double"):
            cond = cond | isnan(col(c))

        nulos = df.filter(cond).count()
        distintos = df.select(c).distinct().count()

        # Captura de exemplos distintos e n√£o nulos
        try:
            exemplos_df = df.select(c).where(col(c).isNotNull()).distinct().limit(3)
            exemplo = exemplos_df.toPandas()[c].tolist()
        except:
            exemplo = []

        resultados.append({
            "coluna": c,
            "tipo": tipo,
            "% nulos": round(nulos / total_registros * 100, 2),
            "qtd_nulos": nulos,
            "valores_distintos": distintos,
            "exemplo_valores": exemplo,
            "observacoes": ""
        })

    resultados_df = pd.DataFrame(resultados)

    # üîç Resumo geral
    resumo = {
        "total_registros": total_registros,
        "colunas_com_nulos": resultados_df[resultados_df["qtd_nulos"] > 0].shape[0],
        "colunas_totalmente_nulas": resultados_df[resultados_df["qtd_nulos"] == total_registros].shape[0],
        "duplicatas_pk": None
    }

    # Verifica√ß√£o de chave prim√°ria
    if pk and pk in df.columns:
        duplicatas_pk = df.groupBy(pk).count().filter(col("count") > 1).count()
        resumo["duplicatas_pk"] = duplicatas_pk
        print(f"\nüîç Chave prim√°ria '{pk}':")
        if duplicatas_pk > 0:
            print(f"‚ö†Ô∏è Encontradas {duplicatas_pk} duplicatas com base na chave '{pk}'")
        else:
            print("‚úÖ Chave prim√°ria √© √∫nica.")
    elif pk:
        print(f"‚ö†Ô∏è A coluna '{pk}' n√£o est√° presente no DataFrame.")


    return resultados_df, resumo

### üìå Fun√ß√£o `criar_flags_nulos(df)`

Essa fun√ß√£o tem como objetivo **criar colunas auxiliares ("flags") que indicam a presen√ßa de valores nulos ou `NaN` em cada coluna de um DataFrame Spark**.  

---

#### üîé O que a fun√ß√£o faz:

1. **Itera√ß√£o sobre as colunas do DataFrame**  
   Para cada coluna:
   - Define uma condi√ß√£o `cond` que identifica registros onde o valor √© **nulo** (`isNull`) ou **NaN** (`isnan`).  

2. **Verifica√ß√£o de exist√™ncia de valores ausentes**  
   - Se a coluna tiver ao menos um valor ausente:  
     - Cria uma **nova coluna flag** com o sufixo `_flag`.  
       - Valor `1` ‚Üí quando o registro √© nulo/NaN.  
       - Valor `0` ‚Üí quando o registro √© v√°lido.  
     - Exemplo: se a coluna original for `idade`, ser√° criada `idade_flag`.  
   - Caso n√£o haja valores ausentes:  
     - Nenhuma coluna extra √© criada.  
     - Um aviso √© impresso no console informando que a coluna est√° 100% completa.  

3. **Retorno**  
   - O DataFrame atualizado com as colunas de flags adicionadas.  

---

#### ‚úÖ Exemplo de uso

```python
# Executar a fun√ß√£o
df_flags = criar_flags_nulos(df)

# Listar todas as flags criadas
flags_criadas = [c for c in df_flags.columns if c.endswith("_flag")]
print("Flags criadas:", flags_criadas)

# Se quiser inspecionar algumas flags espec√≠ficas:
df_flags.select(flags_criadas).limit(5).toPandas()

In [5]:
def criar_flags_nulos(df):
    for c in df.columns:
        # Define a condi√ß√£o de aus√™ncia (null ou NaN)
        cond = col(c).isNull() | isnan(col(c))

        # Verifica se existe ao menos um valor ausente
        if df.filter(cond).count() > 0:
            nova_coluna = f"{c}_flag"
            df = df.withColumn(nova_coluna, when(cond, 1).otherwise(0))
            print(f"‚úÖ Flag criada: {nova_coluna}")
        else:
            print(f"üü© Sem valores ausentes em: {c} (flag n√£o criada)")
    return df

### üìå Fun√ß√£o `detectar_e_converter_datas(df, formatos_tentados=None, max_amostras=None)`

Esta fun√ß√£o tem como objetivo **detectar automaticamente colunas do tipo string que parecem representar datas** e convert√™-las para o tipo `date` do PySpark.  
Ela √© √∫til em datasets que chegam com campos de datas em formato textual e podem variar entre diferentes padr√µes (ex.: `yyyy-MM-dd`, `dd/MM/yyyy`, etc.).

---

#### üîé O que a fun√ß√£o faz

1. **Par√¢metros**
   - `df`: DataFrame Spark de entrada.
   - `formatos_tentados`: lista de formatos de data aceitos.  
     - Se n√£o informado, usa um conjunto padr√£o que cobre formatos comuns no Brasil e no exterior.
   - `max_amostras`: n√∫mero m√°ximo de registros n√£o nulos usados como amostra por coluna (default: 100).  
     - Evita trazer todo o dataset para o driver.

2. **Pr√©-processamento**
   - Considera apenas colunas do tipo `string`.  
   - Coleta at√© `max_amostras` valores n√£o nulos da coluna, converte para string, remove espa√ßos extras e transforma em lista.  
   - Se o valor cont√©m hor√°rio (`2024-01-01 12:00:00` ou `2024-01-01T12:00:00`), apenas a parte da data √© considerada.

3. **Valida√ß√£o de formatos**
   - Para cada formato da lista:
     - Tenta converter as amostras para `datetime` no Python (fazendo o mapeamento de tokens `yyyy ‚Üí %Y`, `MM ‚Üí %m`, `dd ‚Üí %d`).  
     - Caso especial: formatos `yyyy-MM` s√£o completados com `-01` (assumindo o primeiro dia do m√™s) apenas para valida√ß√£o.
     - Conta quantos valores foram parseados com sucesso e est√£o dentro de um intervalo plaus√≠vel (anos entre 1950 e 2050).

4. **Crit√©rio de convers√£o**
   - Se **‚â•70% das amostras** de uma coluna forem v√°lidas em algum formato, a fun√ß√£o assume que esse √© o padr√£o da coluna.  
   - A coluna √© convertida no Spark com `to_date(coluna, formato)`.  
   - O nome da coluna √© mantido (substituindo os valores originais).  
   - O processo √© interrompido ap√≥s o primeiro formato v√°lido.

5. **Retorno**
   - Um novo DataFrame com as colunas convertidas para `date`.  
   - Uma lista com os nomes das colunas que foram convertidas.

---

#### ‚úÖ Exemplo de uso

```python
df_convertido, colunas = detectar_e_converter_datas(df)

print("Colunas convertidas:", colunas)
df_convertido.printSchema()

# Visualizar uma amostra das colunas de data
df_convertido.select(colunas).show(10, truncate=False)

In [6]:
from pyspark.sql.functions import col, to_date

def detectar_e_converter_datas(df, formatos_tentados=None, max_amostras=None):
    """
    Detecta colunas string que parecem datas e converte para date.
    """
    # Define formatos padr√£o caso nenhum seja passado
    if formatos_tentados is None:
        formatos_tentados = [
            "yyyy-MM-dd",
            "dd/MM/yyyy",   # formato comum no Brasil
            "dd-MM-yyyy",
            "yyyy/MM/dd",
            "MM/dd/yyyy",
            "yyyy-MM",      # ano e m√™s apenas
            "yyyyMMdd",     # formato compacto
            "ddMMyyyy",
        ]
    # Define quantidade m√°xima de amostras por coluna
    if max_amostras is None:
        max_amostras = 100

    colunas_convertidas = []

    # Cache do schema (tipos de colunas)
    schema = dict(df.dtypes)

    for c in df.columns:
        # S√≥ analisa colunas string
        if schema.get(c) != "string":
            continue

        # Coleta amostras n√£o nulas da coluna
        try:
            amostras = (
                df.select(c)
                  .where(col(c).isNotNull())
                  .limit(max_amostras)
                  .toPandas()[c]
                  .dropna()
                  .astype(str)    # garante string
                  .str.strip()    # remove espa√ßos extras
                  .tolist()
            )
        except Exception:
            amostras = []

        if not amostras:
            continue

        # Fun√ß√£o auxiliar: remove parte de hor√°rio (ex.: "2024-01-01 12:00:00")
        def _limpo(v: str) -> str:
            if " " in v:
                v = v.split(" ", 1)[0]
            if "T" in v:
                v = v.split("T", 1)[0]
            return v

        amostras = [_limpo(v) for v in amostras if v]

        # Testa cada formato da lista
        for fmt in formatos_tentados:
            convertidos_validos = 0
            # Ajusta formato Spark -> formato Python
            py_fmt = fmt.replace("yyyy", "%Y").replace("MM", "%m").replace("dd", "%d")

            for valor in amostras:
                v = valor
                try:
                    # Caso especial: formato "yyyy-MM" precisa de dia para validar
                    if fmt == "yyyy-MM":
                        dt = datetime.strptime(v + "-01", "%Y-%m-%d")
                    else:
                        dt = datetime.strptime(v, py_fmt)

                    # Valida√ß√£o de faixa (anos plaus√≠veis)
                    if 1950 <= dt.year <= 2050 and 1 <= dt.month <= 12 and 1 <= dt.day <= 31:
                        convertidos_validos += 1
                except Exception:
                    continue

            # Converte se >=70% das amostras forem v√°lidas
            if convertidos_validos >= int(0.7 * len(amostras)):
                print(f"‚úÖ Coluna '{c}' convertida com formato: {fmt}")
                df = df.withColumn(c, to_date(col(c), fmt))  # convers√£o Spark
                colunas_convertidas.append(c)
                break  # para de testar formatos ap√≥s o primeiro sucesso

    return df, colunas_convertidas

## 1. üß± Tratamento da Tabela Base

In [7]:
#Importa√ß√£o da tabela base
train_base = spark.read.parquet(fr"{caminho}\\data\raw\train\train_base.parquet")

### Tratamento de nulos e duplicidade

In [8]:
# Fun√ß√£o avaliar_dataset
df = train_base
nome_dataset = "train_base"

# Avalia√ß√£o
tabela_resultado, resumo = avaliar_dataset(df=df, pk="case_id")

# Visualiza√ß√£o
from IPython.display import display
display(tabela_resultado)
print(resumo)

# Nome e caminho do arquivo
nome_arquivo = f"{nome_dataset}_avaliar"
caminho_saida = fr"{caminho}\\docs\\{nome_arquivo}.csv"

# Salvar CSV
tabela_resultado.to_csv(caminho_saida, index=False, encoding="utf-8-sig")
print(f"‚úÖ Tabela salva em: {caminho_saida}")

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚úÖ Chave prim√°ria √© √∫nica.

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.0,0,1526659,"[26, 29, 474]",
1,date_decision,string,0.0,0,644,"[2019-08-08, 2019-08-22, 2019-08-23]",
2,MONTH,bigint,0.0,0,22,"[201910, 201905, 202003]",
3,WEEK_NUM,bigint,0.0,0,92,"[26, 29, 65]",
4,target,bigint,0.0,0,2,"[0, 1]",

{'total_registros': 1526659, 'colunas_com_nulos': 0, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 0}
‚úÖ Tabela salva em: C:\Users\fred\meu_projeto_etl\\docs\\train_base_avaliar.csv

### Tratamento de tipos de dados

In [9]:
# Altera√ß√£o de tipo da coluna date_decision
train_base_date = train_base.withColumn('date_decision', to_date(col('date_decision'), 'yyyy-MM-dd'))

In [10]:
# Verifica√ß√£o da altera√ß√£o do tipo
train_base_date.printSchema()

root
 |-- case_id: long (nullable = true)
 |-- date_decision: date (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- WEEK_NUM: long (nullable = true)
 |-- target: long (nullable = true)

In [11]:
# Altera√ß√£o de tipo da coluna MONTH
train_base_date = train_base_date.withColumn(
    "MONTH",
    to_date(format_string("%06d", col("MONTH")), "yyyyMM")
)

In [12]:
train_base_date.select('MONTH').distinct().orderBy('MONTH').show(20, truncate=False)

+----------+
|MONTH     |
+----------+
|2019-01-01|
|2019-02-01|
|2019-03-01|
|2019-04-01|
|2019-05-01|
|2019-06-01|
|2019-07-01|
|2019-08-01|
|2019-09-01|
|2019-10-01|
|2019-11-01|
|2019-12-01|
|2020-01-01|
|2020-02-01|
|2020-03-01|
|2020-04-01|
|2020-05-01|
|2020-06-01|
|2020-07-01|
|2020-08-01|
+----------+
only showing top 20 rows

In [13]:
# Verifica√ß√£o da altera√ß√£o do tipo
train_base_date.printSchema()

root
 |-- case_id: long (nullable = true)
 |-- date_decision: date (nullable = true)
 |-- MONTH: date (nullable = true)
 |-- WEEK_NUM: long (nullable = true)
 |-- target: long (nullable = true)

In [14]:
# Monta o caminho completo at√© o diret√≥rio de sa√≠da
caminho_saida = os.path.join(caminho, "data", "interim", "train_base_tratada")

# Salva o DataFrame Spark em formato Parquet no local desejado
train_base_date.write.mode("overwrite").parquet(caminho_saida)

### üìå Resumo do tratamento da tabela *Base*

- ‚úÖ Ap√≥s an√°lise e verifica√ß√£o de **unicidade**, a coluna **`case_id`** foi definida como **chave prim√°ria**.  
- ‚úÖ As **colunas de datas** foram identificadas e convertidas para o tipo **`date`**.  
- ‚úÖ A tabela tratada foi salva em formato **Parquet**.

## 2. üõ∞Ô∏è  Tratamento das tabelas "Sat√©lite"

### Tabela de descri√ß√£o de vari√°veis

In [15]:
# Ler o arquivo markdown como texto
df_pd = pd.read_table(fr"{caminho}\\docs\tabela_descritiva.md", sep="|", engine="python", skipinitialspace=True)
df_pd = df_pd.loc[:, ~df_pd.columns.str.contains('^Unnamed')]
df_pd.columns = df_pd.columns.str.strip()
df_pd = df_pd.applymap(lambda x: x.strip() if isinstance(x, str) else x)

tabela_descritiva = spark.createDataFrame(df_pd)
tabela_descritiva.printSchema()
tabela_descritiva.show()

root
 |-- tabela: string (nullable = true)
 |-- coluna: string (nullable = true)
 |-- tipo_dado: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Descricao: string (nullable = true)

+--------------------+--------------------+-------------+--------------------+--------------------+
|              tabela|              coluna|    tipo_dado|         Description|           Descricao|
+--------------------+--------------------+-------------+--------------------+--------------------+
|:----------------...|:----------------...|:------------|:----------------...|:----------------...|
|          train_base|             case_id|       bigint|                 NaN|                 NaN|
|          train_base|       date_decision|       string|                 NaN|                 NaN|
|          train_base|               MONTH|       bigint|                 NaN|                 NaN|
|          train_base|            WEEK_NUM|       bigint|                 NaN|                 NaN|
|          train_base|              target|       bigint|                 NaN|                 NaN|
|  train_applprev_1_0|             case_id|       bigint|                 NaN|                 NaN|
|  train_applprev_1_0|      actualdpd_943P|       double|Days Past Due (DP...|Dias vencidos (DP...|
|  train_applprev_1_0|        annuity_853A|       double|Monthly annuity f...|Anuidade mensal p...|
|  train_applprev_1_0|   approvaldate_319D|       string|Approval Date of ...|Data de aprova√ß√£o...|
|  train_applprev_1_0|byoccupationinc_3...|       double|Applicant's incom...|Receita do candid...|
|  train_applprev_1_0|cancelreason_3545...|       string|Application cance...|Raz√£o de cancelam...|
|  train_applprev_1_0|        childnum_21L|       double|Number of childre...|N√∫mero de crian√ßa...|
|  train_applprev_1_0|   creationdate_885D|       string|Date when previou...|Data em que o apl...|
|  train_applprev_1_0|credacc_actualbal...|       double|Actual balance on...|BALAN√áO REAL RECU...|
|  train_applprev_1_0|credacc_credlmt_575A|       double|Credit card credi...|Limite de cr√©dito...|
|  train_applprev_1_0|credacc_maxhisbal...|       double|Maximal historica...|Balan√ßo hist√≥rico...|
|  train_applprev_1_0|credacc_minhisbal...|       double|Minimum historica...|Saldo hist√≥rico m...|
|  train_applprev_1_0| credacc_status_367L|       string|Account status of...|Status da conta d...|
|  train_applprev_1_0|credacc_transacti...|       double|Number of transac...|N√∫mero de transa√ß...|
+--------------------+--------------------+-------------+--------------------+--------------------+
only showing top 20 rows

## Tratamento da tabela train_applprev_1_0

In [16]:
tabela_descritiva.columns

['tabela', 'coluna', 'tipo_dado', 'Description', 'Descricao']

In [17]:
# Filtrar e selecionar
tabela_descritiva_filtrada = tabela_descritiva.filter(
    col('tabela') == 'train_applprev_1_0'
).select('coluna', 'tipo_dado', 'Descricao')

# Mostrar para inspe√ß√£o
tabela_descritiva_filtrada.show(45, truncate=False)

# Transformar em Pandas
tabela_descritiva_pd = tabela_descritiva_filtrada.toPandas()

# Salvar como Markdown
md_path = fr"{caminho}\\docs\tabela_descritiva1.md"

with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

+---------------------------+---------+--------------------------------------------------------------------------------------------------------+
|coluna                     |tipo_dado|Descricao                                                                                               |
+---------------------------+---------+--------------------------------------------------------------------------------------------------------+
|case_id                    |bigint   |NaN                                                                                                     |
|actualdpd_943P             |double   |Dias vencidos (DPD) do contrato anterior (real).                                                        |
|annuity_853A               |double   |Anuidade mensal para aplicativos anteriores.                                                            |
|approvaldate_319D          |string   |Data de aprova√ß√£o do pedido anterior                                                                    |
|byoccupationinc_3656910L   |double   |Receita do candidato de aplica√ß√µes anteriores.                                                          |
|cancelreason_3545846M      |string   |Raz√£o de cancelamento do aplicativo.                                                                    |
|childnum_21L               |double   |N√∫mero de crian√ßas na aplica√ß√£o anterior.                                                               |
|creationdate_885D          |string   |Data em que o aplicativo anterior foi criado.                                                           |
|credacc_actualbalance_314A |double   |BALAN√áO REAL RECUTA DE CR√âDITO.                                                                         |
|credacc_credlmt_575A       |double   |Limite de cr√©dito do cart√£o de cr√©dito fornecido para aplicativos anteriores.                           |
|credacc_maxhisbal_375A     |double   |Balan√ßo hist√≥rico m√°ximo da conta de cr√©dito anterior                                                   |
|credacc_minhisbal_90A      |double   |Saldo hist√≥rico m√≠nimo de contas de cr√©dito anteriores.                                                 |
|credacc_status_367L        |string   |Status da conta de pedidos de cr√©dito anteriores.                                                       |
|credacc_transactions_402L  |double   |N√∫mero de transa√ß√µes feitas com a conta de cr√©dito anterior do requerente.                              |
|credamount_590A            |double   |Valor do empr√©stimo ou limite de cart√£o de pedidos anteriores.                                          |
|credtype_587L              |string   |Tipo de cr√©dito de aplica√ß√£o anterior.                                                                  |
|currdebt_94A               |double   |D√≠vida atual do aplicativo anterior.                                                                    |
|dateactivated_425D         |string   |Data de ativa√ß√£o do contrato da aplica√ß√£o anterior do requerente.                                       |
|district_544M              |string   |Distrito do endere√ßo usado no pedido de empr√©stimo anterior.                                            |
|downpmt_134A               |double   |Valor anterior de pagamento do aplicativo.                                                              |
|dtlastpmt_581D             |string   |Data do √∫ltimo pagamento feito pelo requerente.                                                         |
|dtlastpmtallstes_3545839D  |string   |Data do √∫ltimo pagamento do requerente.                                                                 |
|education_1138M            |string   |N√≠vel de educa√ß√£o do candidato a partir de sua aplica√ß√£o anterior.                                      |
|employedfrom_700D          |string   |Data de in√≠cio do emprego do aplicativo anterior.                                                       |
|familystate_726L           |string   |Estado familiar na aplica√ß√£o anterior do candidato.                                                     |
|firstnonzeroinstldate_307D |string   |Data da primeira parcela no aplicativo anterior.                                                        |
|inittransactioncode_279L   |string   |Tipo da transa√ß√£o inicial feita na aplica√ß√£o anterior do cliente.                                       |
|isbidproduct_390L          |boolean  |Sinalizador para determinar se o produto √© uma venda cruzada em aplicativos anteriores.                 |
|isdebitcard_527L           |boolean  |Sinalizador de aplicativo anterior indicando se o produto que est√° sendo aplicado √© um cart√£o de d√©bito.|
|mainoccupationinc_437A     |double   |O valor da renda principal do cliente em seu aplicativo anterior.                                       |
|maxdpdtolerance_577P       |double   |DPD m√°ximo com toler√¢ncia (em aplica√ß√£o anterior).                                                      |
|num_group1                 |bigint   |NaN                                                                                                     |
|outstandingdebt_522A       |double   |Valor de d√≠vida pendente no aplicativo anterior do cliente.                                             |
|pmtnum_8L                  |double   |N√∫mero de pagamentos feitos para o aplicativo anterior.                                                 |
|postype_4733339M           |string   |Tipo de ponto de venda.                                                                                 |
|profession_152M            |string   |Profiss√£o do cliente durante o pedido de empr√©stimo anterior.                                           |
|rejectreason_755M          |string   |Raz√£o para rejei√ß√£o anterior de aplicativos.                                                            |
|rejectreasonclient_4145042M|string   |Raz√£o para a rejei√ß√£o do aplicativo anterior do cliente.                                                |
|revolvingaccount_394A      |double   |Conta rotativa que estava presente no aplicativo anterior do candidato.                                 |
|status_219L                |string   |Status anterior do aplicativo.                                                                          |
|tenor_203L                 |double   |N√∫mero de parcelas no aplicativo anterior.                                                              |
+---------------------------+---------+--------------------------------------------------------------------------------------------------------+

In [18]:
# Carregando e unindo tabelas
train_applprev_1_0 = spark.read.parquet(fr"{caminho}\\data\raw\train\train_applprev_1_0.parquet")
train_applprev_1_1 = spark.read.parquet(fr"{caminho}\\data\raw\train\train_applprev_1_1.parquet")
train_applprev_1 = train_applprev_1_0.unionByName(train_applprev_1_1)

In [19]:
# Fun√ß√£o avaliar_dataset
df = train_applprev_1
nome_dataset = "train_applprev_1"

# Avalia√ß√£o
tabela_resultado, resumo = avaliar_dataset(df=df, pk="case_id")

# Visualiza√ß√£o
from IPython.display import display
display(tabela_resultado)
print(resumo)

# Nome e caminho do arquivo
nome_arquivo = f"{nome_dataset}_avaliar"
caminho_saida = fr"{caminho}\\docs\\{nome_arquivo}.csv"

# Salvar CSV
tabela_resultado.to_csv(caminho_saida, index=False, encoding="utf-8-sig")
print(f"‚úÖ Tabela salva em: {caminho_saida}")

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 991955 duplicatas com base na chave 'case_id'

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1221522,"[29, 964, 2453]",
1,actualdpd_943P,double,0.04,2500,190,"[160.0, 8.0, 70.0]",
2,annuity_853A,double,3.84,250736,89298,"[7171.0, 3069.6, 5482.2]",
3,approvaldate_319D,string,46.13,3010294,5403,"[2019-08-08, 2019-08-22, 2017-05-14]",
4,byoccupationinc_3656910L,double,76.49,4991531,29700,"[24923.0, 45953.0, 7542.62]",
5,cancelreason_3545846M,string,0.00,0,76,"[P205_40_167, P150_0_30, P60_137_164]",
6,childnum_21L,double,54.54,3559424,21,"[8.0, 0.0, 7.0]",
7,creationdate_885D,string,0.00,66,5406,"[2016-08-17, 2015-05-01, 2017-12-05]",
8,credacc_actualbalance_314A,double,95.10,6205945,93622,"[49.598003, 157.66801, 24594.0]",
9,credacc_credlmt_575A,double,2.97,194132,52332,"[14452.0, 24594.0, 16754.6]",
10,credacc_maxhisbal_375A,double,95.10,6205945,77168,"[49.598003, 4.0020003, 5360.0]",
11,credacc_minhisbal_90A,double,95.10,6205945,75234,"[-999.938, -20427.059, 49.598003]",
12,credacc_status_367L,string,95.10,6205945,7,"[PCL, CL, CA]",
13,credacc_transactions_402L,double,95.10,6205945,103,"[8.0, 0.0, 69.0]",
14,credamount_590A,double,3.10,202198,252461,"[56994.0, 42594.0, 11323.8]",
15,credtype_587L,string,3.10,202198,4,"[REL, CAL, COL]",
16,currdebt_94A,double,34.42,2246512,531481,"[25781.904, 5315.7983, 872.6401]",
17,dateactivated_425D,string,48.14,3141753,4257,"[2019-08-08, 2019-08-23, 2019-08-22]",
18,district_544M,string,0.00,0,1063,"[P87_135_164, P181_5_55, P59_58_91]",
19,downpmt_134A,double,3.10,202198,22976,"[4800.0, 1300.6, 971.2]",
20,dtlastpmt_581D,string,72.79,4750384,2555,"[2019-08-08, 2019-08-22, 2019-08-23]",
21,dtlastpmtallstes_3545839D,string,61.96,4043621,2571,"[2019-08-08, 2019-08-22, 2019-08-23]",
22,education_1138M,string,0.00,0,6,"[P97_36_170, P33_146_175, P157_18_172]",
23,employedfrom_700D,string,59.55,3886478,10308,"[2010-09-24, 1979-05-15, 2009-06-23]",
24,familystate_726L,string,36.68,2393892,6,"[WIDOWED, SINGLE, MARRIED]",
25,firstnonzeroinstldate_307D,string,10.00,652482,5166,"[2007-04-29, 2017-12-05, 2015-05-01]",
26,inittransactioncode_279L,string,3.10,202198,4,"[CASH, POS, NDF]",
27,isbidproduct_390L,boolean,0.00,66,3,"[True, False]",
28,isdebitcard_527L,boolean,92.91,6062966,3,"[True, False]",
29,mainoccupationinc_437A,double,1.56,101983,28718,"[147000.0, 4800.0, 28979.8]",
30,maxdpdtolerance_577P,double,47.44,3095704,3644,"[496.0, 934.0, 305.0]",
31,num_group1,bigint,0.00,0,20,"[19, 0, 7]",
32,outstandingdebt_522A,double,34.60,2258268,384591,"[14241.572, 12892.639, 33372.6]",
33,pmtnum_8L,double,8.46,551820,61,"[8.0, 7.0, 49.0]",
34,postype_4733339M,string,0.00,0,9,"[P46_145_78, P169_115_83, P177_117_192]",
35,profession_152M,string,0.00,0,11508,"[P135_113_37, P133_97_187, P91_94_116]",
36,rejectreason_755M,string,0.00,0,18,"[P48_22_32, P30_86_84, P5_143_178]",
37,rejectreasonclient_4145042M,string,0.00,0,14,"[P30_86_84, P5_143_178, P84_14_61]",
38,revolvingaccount_394A,double,95.45,6229229,80701,"[780735800.0, 780787140.0, 742696200.0]",
39,status_219L,string,0.00,66,12,"[K, Q, T]",
40,tenor_203L,double,8.46,551820,61,"[8.0, 7.0, 49.0]",

{'total_registros': 6525979, 'colunas_com_nulos': 32, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 991955}
‚úÖ Tabela salva em: C:\Users\fred\meu_projeto_etl\\docs\\train_applprev_1_avaliar.csv

In [20]:
# Converter todas as colunas de data para DateType (assumindo formato yyyy-MM-dd)
train_applprev_1_date = train_applprev_1.withColumn("approvaldate_319D", to_date("approvaldate_319D")) \
       .withColumn("creationdate_885D", to_date("creationdate_885D")) \
       .withColumn("dateactivated_425D", to_date("dateactivated_425D")) \
       .withColumn("dtlastpmt_581D", to_date("dtlastpmt_581D")) \
       .withColumn("dtlastpmtallstes_3545839D", to_date("dtlastpmtallstes_3545839D")) \
       .withColumn("employedfrom_700D", to_date("employedfrom_700D")) \
       .withColumn("firstnonzeroinstldate_307D", to_date("firstnonzeroinstldate_307D"))

In [21]:
# Dias contados
train_applprev_1 = train_applprev_1_date.withColumn("dias_para_aprovacao", datediff("approvaldate_319D", "creationdate_885D")) \
       .withColumn("dias_ate_ativacao", datediff("dateactivated_425D", "creationdate_885D")) \
       .withColumn("dias_ult_pagamento", datediff("dtlastpmt_581D", "creationdate_885D")) \
       .withColumn("dias_ult_pagamento_all", datediff("dtlastpmtallstes_3545839D", "creationdate_885D")) \
       .withColumn("dias_desde_inicio_emprego", datediff("creationdate_885D", "employedfrom_700D")) \
       .withColumn("dias_para_primeira_parcela", datediff("firstnonzeroinstldate_307D", "creationdate_885D"))

In [22]:
# Cria√ß√£o de flags
train_applprev_1 = train_applprev_1 \
  .withColumn("sem_aprovacao_flag", when(col("approvaldate_319D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_ativacao_flag", when(col("dateactivated_425D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_pagamento_flag", when(col("dtlastpmt_581D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_pagamento_total_flag", when(col("dtlastpmtallstes_3545839D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_emprego_flag", when(col("employedfrom_700D").isNull(), 1).otherwise(0)) \
  .withColumn("sem_parcela_flag", when(col("firstnonzeroinstldate_307D").isNull(), 1).otherwise(0))

In [23]:
colunas_float = [
    "credamount_590A",
    "currdebt_94A",
    "outstandingdebt_522A",
    "mainoccupationinc_437A",
    "byoccupationinc_3656910L",
    "annuity_853A",
    "revolvingaccount_394A"
]

for c in colunas_float:
    train_applprev_1 = train_applprev_1.withColumn(c, col(c).cast("double"))

In [24]:
# Flags de nulo/cruzamento
train_applprev_1 = train_applprev_1 \
    .withColumn("mainoccupationinc_null_flag", when(col("mainoccupationinc_437A").isNull(), 1).otherwise(0)) \
    .withColumn("byoccupationinc_null_flag", when(col("byoccupationinc_3656910L").isNull(), 1).otherwise(0)) \
    .withColumn("tem_revolving_flag", when(col("revolvingaccount_394A").isNotNull(), 1).otherwise(0))

In [25]:
from pyspark.sql.functions import coalesce

train_applprev_1 = train_applprev_1.withColumn("divida_total",
                   coalesce(col("currdebt_94A"), lit(0)) + coalesce(col("outstandingdebt_522A"), lit(0)))

In [26]:
# Cria√ß√£o de flag
train_applprev_1 = train_applprev_1 \
  .withColumn("limite_cartao_credito_flag", when(col("approvaldate_319D").isNull(), 1).otherwise(0))

In [27]:
from pyspark.sql.functions import when

categoricas_com_nulos = [
    "credtype_587L",
    "familystate_726L",
    "inittransactioncode_279L"
]

for c in categoricas_com_nulos:
    train_applprev_1 = train_applprev_1.withColumn(
        c,
        when(col(c).isNull(), "Desconhecido").otherwise(col(c))
    )

In [28]:
from pyspark.sql.types import StringType

categoricas_todas = [
    "cancelreason_3545846M", "credtype_587L", "district_544M",
    "education_1138M", "familystate_726L", "inittransactioncode_279L",
    "postype_4733339M", "profession_152M", "rejectreason_755M", "rejectreasonclient_4145042M"
]

for c in categoricas_todas:
    train_applprev_1 = train_applprev_1.withColumn(c, col(c).cast(StringType()))

In [29]:
from pyspark.sql.functions import when, col

# üîπ 1. Tratamento de flags booleanas (transformar em 0/1)
train_applprev_1 = train_applprev_1 \
    .withColumn("isbidproduct_390L", when(col("isbidproduct_390L") == True, 1)
                                      .when(col("isbidproduct_390L") == False, 0)
                                      .otherwise(0)) \
    .withColumn("isdebitcard_527L", when(col("isdebitcard_527L") == True, 1)
                                     .when(col("isdebitcard_527L") == False, 0)
                                     .otherwise(0))

# üîπ 2. Tratamento de colunas de contagem (nulos ‚Üí 0, cast para int)
cols_contagem = [
    "childnum_21L",
    "pmtnum_8L",
    "tenor_203L",
    "credacc_transactions_402L"
]

for c in cols_contagem:
    train_applprev_1 = train_applprev_1.withColumn(
        c,
        (when(col(c).isNull(), 0).otherwise(col(c))).cast("int")
    )

# üîπ 3. Tratamento de categorias discretas com valor num√©rico (nulos ‚Üí -1, cast para int)
train_applprev_1 = train_applprev_1 \
    .withColumn("credacc_status_367L", (when(col("credacc_status_367L").isNull(), -1)
                                        .otherwise(col("credacc_status_367L"))).cast("int")) \
    .withColumn("status_219L", (when(col("status_219L").isNull(), -1)
                                .otherwise(col("status_219L"))).cast("int"))

In [30]:
from pyspark.sql.functions import col, when, lit, first, avg, collect_set

from pyspark.sql.functions import when, col

# Define as colunas que indicam hist√≥rico de cr√©dito anterior
colunas_credito = [
    "credacc_actualbalance_314A",
    "credacc_maxhisbal_375A",
    "credacc_minhisbal_90A",
    "downpmt_134A",
    "maxdpdtolerance_577P"
]

# Cria uma condi√ß√£o para verificar se TODAS est√£o nulas
condicao_sem_credito = None
for c in colunas_credito:
    condicao_sem_credito = col(c).isNull() if condicao_sem_credito is None else (condicao_sem_credito & col(c).isNull())

# Cria a flag bin√°ria
train_applprev_1 = train_applprev_1.withColumn(
    "sem_historico_credito_flag",
    when(condicao_sem_credito, 1).otherwise(0)
)

In [31]:
# Categ√≥ricas: preenchimento de nulo e cast para string
colunas_categoricas = [
    "district_544M",
    "education_1138M",
    "profession_152M",
    "postype_4733339M",
    "rejectreason_755M",
    "rejectreasonclient_4145042M"
]

for c in colunas_categoricas:
    train_applprev_1 = train_applprev_1.withColumn(c, when(col(c).isNull(), "Desconhecido").otherwise(col(c)).cast("string"))

In [32]:
train_applprev_1.coalesce(1).write.mode("overwrite").parquet(fr"{caminho}\\data\interim\train_applprev_1.parquet")

### üìå Resumo do tratamento da tabela *train_applprev_1*

- ‚úÖ Os **datasets particionados** foram carregados em uma √∫nica vari√°vel, permitindo que o tratamento fosse feito de forma **unificada**.  
- ‚úÖ A fun√ß√£o de **avalia√ß√£o** foi executada para observar o **comportamento e formato** dos dados.  
- ‚úÖ As **colunas que apresentaram formato de data** foram convertidas para o tipo **`date`**.  
- ‚úÖ Foi criada uma **coluna de tempo (em dias)** para compara√ß√£o entre **datas iniciais e finais**.  
- ‚úÖ Foram criadas **flags** para indicar a presen√ßa de **valores nulos**.  
- ‚úÖ Foi criada uma coluna de **d√≠vida total**.  
- ‚úÖ Colunas que tinham valores **num√©ricos mas eram categ√≥ricas** foram convertidas para **string**.  
- ‚úÖ A tabela tratada foi salva em formato **Parquet**.

## Tratamento da tabela train_applprev_2

In [33]:
train_applprev_2 = spark.read.parquet(fr"{caminho}\\data\raw\train\train_applprev_2.parquet")

In [34]:
# Fun√ß√£o avaliar_dataset
df = train_applprev_2
nome_dataset = "train_applprev_2"

# Avalia√ß√£o
tabela_resultado, resumo = avaliar_dataset(df=df, pk="case_id")

# Visualiza√ß√£o
from IPython.display import display
display(tabela_resultado)
print(resumo)

# Nome e caminho do arquivo
nome_arquivo = f"{nome_dataset}_avaliar"
caminho_saida = fr"{caminho}\\docs\\{nome_arquivo}.csv"

# Salvar CSV
tabela_resultado.to_csv(caminho_saida, index=False, encoding="utf-8-sig")
print(f"‚úÖ Tabela salva em: {caminho_saida}")

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 1182243 duplicatas com base na chave 'case_id'

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1221522,"[29, 964, 2453]",
1,cacccardblochreas_147M,string,0.78,109249,10,"[P19_60_110, P41_107_150, P33_145_161]",
2,conts_type_509L,string,17.01,2394056,10,"[EMPLOYMENT_PHONE, WHATSAPP, PRIMARY_MOBILE]",
3,credacc_cards_status_52L,string,97.57,13733404,7,"[UNCONFIRMED, INACTIVE, BLOCKED]",
4,num_group1,bigint,0.00,0,20,"[19, 0, 7]",
5,num_group2,bigint,0.00,0,12,"[0, 7, 6]",

{'total_registros': 14075487, 'colunas_com_nulos': 3, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 1182243}
‚úÖ Tabela salva em: C:\Users\fred\meu_projeto_etl\\docs\\train_applprev_2_avaliar.csv

### üìå Resumo do tratamento da tabela *train_applprev_2*

- ‚úÖ A tabela foi **avaliada** com a fun√ß√£o de profiling (`avaliar_dataset`).  
- ‚ùå **N√£o foi incorporada ao pipeline de tratamento**, devido √†:  
  - Baixa relev√¢ncia das informa√ß√µes.  
  - Impossibilidade de defini√ß√£o de uma chave prim√°ria.

## Tratamento da tabela train_credit_bureau_a_1

In [35]:
train_credit_bureau_a_1 = spark.read.parquet(fr"{caminho}\\data\raw\train\train_credit_bureau_a_1_*.parquet")

In [36]:
# Filtrar e selecionar
tabela_descritiva_filtrada = tabela_descritiva.filter(
    col('tabela') == 'train_credit_bureau_a_1_0'
).select('coluna', 'tipo_dado', 'Descricao')

# Mostrar para inspe√ß√£o
tabela_descritiva_filtrada.show(100, truncate=False)

# Transformar em Pandas
tabela_descritiva_pd = tabela_descritiva_filtrada.toPandas()

# Salvar como Markdown
md_path = fr"{caminho}\\docs\tabela_descritiva1.md"

with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

+-------------------------------+---------+-------------------------------------------------------------------------------------------+
|coluna                         |tipo_dado|Descricao                                                                                  |
+-------------------------------+---------+-------------------------------------------------------------------------------------------+
|case_id                        |bigint   |NaN                                                                                        |
|annualeffectiverate_199L       |double   |Taxa de juros dos contratos fechados.                                                      |
|annualeffectiverate_63L        |double   |Taxa de juros para os contratos ativos.                                                    |
|classificationofcontr_13M      |string   |Classifica√ß√£o do contrato ativo.                                                           |
|classificationofcontr_400M     |string   |Classifica√ß√£o do contrato fechado.                                                         |
|contractst_545M                |string   |Status do contrato.                                                                        |
|contractst_964M                |string   |Status do contrato do contrato de cr√©dito rescindido.                                      |
|contractsum_5085717L           |double   |Soma de outros valores do contrato.                                                        |
|credlmt_230A                   |double   |Limite de cr√©dito dos contratos de cr√©dito fechado do Credit Bureau.                       |
|credlmt_935A                   |double   |Limite de cr√©dito para empr√©stimo ativo.                                                   |
|dateofcredend_289D             |string   |Data final de um contrato de cr√©dito ativo.                                                |
|dateofcredend_353D             |string   |Data final de um contrato de cr√©dito fechado.                                              |
|dateofcredstart_181D           |string   |Data em que o contrato de cr√©dito foi fechado.                                             |
|dateofcredstart_739D           |string   |Data de in√≠cio de um contrato de cr√©dito fechado.                                          |
|dateofrealrepmt_138D           |string   |Data de fechamento do cr√©dito (data de rescis√£o do contrato).                              |
|debtoutstand_525A              |double   |Quantidade pendente de contrato existente.                                                 |
|debtoverdue_47A                |double   |Atualmente, o valor vencido no contrato de cr√©dito existente de um cliente.                |
|description_351M               |string   |Categoriza√ß√£o de clientes pelo Credit Bureau.                                              |
|dpdmax_139P                    |double   |Dias m√°ximos que prev√™em para contrato ativo.                                              |
|dpdmax_757P                    |double   |Dias m√°ximos vencidos por um contrato fechado.                                             |
|dpdmaxdatemonth_442T           |double   |M√™s de ocorr√™ncia de DPD m√°ximo para contratos rescindidos dos dados da ag√™ncia de cr√©dito.|
|dpdmaxdatemonth_89T            |double   |M√™s em que o m√°ximo de dias passados ocorreu no contrato ativo com o Credit Bureau.        |
|dpdmaxdateyear_596T            |double   |Ano em que ocorreu o m√°ximo de dias vencidos (DPD) para o contrato ativo.                  |
|dpdmaxdateyear_896T            |double   |Ano de dias m√°ximos, devido ao contrato fechado obtido do Credit Bureau.                   |
|financialinstitution_382M      |string   |Nome da institui√ß√£o financeira que est√° ligada a um contrato fechado.                      |
|financialinstitution_591M      |string   |Nome da institui√ß√£o financeira do contrato ativo.                                          |
|instlamount_768A               |double   |Valor parcelado para o contrato ativo em Credit Bureau.                                    |
|instlamount_852A               |double   |Valor de parcela para contrato fechado.                                                    |
|interestrate_508L              |double   |Taxa de juros para um contrato fechado no departamento de cr√©dito.                         |
|lastupdate_1112D               |string   |Data da √∫ltima atualiza√ß√£o para um contrato ativo do Credit Bureau.                        |
|lastupdate_388D                |string   |Data da √∫ltima atualiza√ß√£o para um contrato fechado no Credit Bureau.                      |
|monthlyinstlamount_332A        |double   |Valor mensal de parcelamento para contrato ativo.                                          |
|monthlyinstlamount_674A        |double   |Montante mensal de pagamento parcelado em um contrato fechado.                             |
|nominalrate_281L               |double   |Taxa de juros do contrato ativo.                                                           |
|nominalrate_498L               |double   |Taxa de juros para contrato fechado.                                                       |
|num_group1                     |bigint   |NaN                                                                                        |
|numberofcontrsvalue_258L       |double   |N√∫mero de contratos ativos no Credit Bureau.                                               |
|numberofcontrsvalue_358L       |double   |N√∫mero de contratos de cr√©dito fechado.                                                    |
|numberofinstls_229L            |double   |N√∫mero de parcelas em contrato fechado.                                                    |
|numberofinstls_320L            |double   |N√∫mero de parcelas do contrato ativo.                                                      |
|numberofoutstandinstls_520L    |double   |N√∫mero de parcelas pendentes para contrato fechado.                                        |
|numberofoutstandinstls_59L     |double   |N√∫mero de parcelas pendentes para os contratos ativos.                                     |
|numberofoverdueinstlmax_1039L  |double   |N√∫mero de parcelas pendentes para contratos ativos.                                        |
|numberofoverdueinstlmax_1151L  |double   |N√∫mero m√°ximo de parcelas vencidas para um contrato fechado.                               |
|numberofoverdueinstlmaxdat_148D|string   |Data do n√∫mero m√°ximo de parcelas de vencimento para o contrato fechado.                   |
|numberofoverdueinstlmaxdat_641D|string   |Data do n√∫mero m√°ximo de parcelas vencidas para o contrato ativo.                          |
|numberofoverdueinstls_725L     |double   |N√∫mero m√°ximo de parcelas vencidas para um contrato ativo.                                 |
|numberofoverdueinstls_834L     |double   |N√∫mero de parcelas vencidas para um contrato fechado.                                      |
|outstandingamount_354A         |double   |Montante pendente para contrato de cr√©dito fechado em Credit Bureau.                       |
|outstandingamount_362A         |double   |O valor pendente do contrato ativo.                                                        |
|overdueamount_31A              |double   |O valor vencido por um contrato fechado.                                                   |
|overdueamount_659A             |double   |O vencimento devido ao contrato ativo.                                                     |
|overdueamountmax2_14A          |double   |Valor m√°ximo de vencimento m√°ximo para um contrato ativo.                                  |
|overdueamountmax2_398A         |double   |Valor m√°ximo vencido por um contrato fechado.                                              |
|overdueamountmax2date_1002D    |string   |Data do valor vencido m√°ximo para um contrato fechado                                      |
|overdueamountmax2date_1142D    |string   |Data do valor vencido m√°ximo para um contrato ativo.                                       |
|overdueamountmax_155A          |double   |Valor m√°ximo de vencimento m√°ximo para contrato ativo.                                     |
|overdueamountmax_35A           |double   |Valor m√°ximo de vencimento m√°ximo para um contrato fechado.                                |
|overdueamountmaxdatemonth_284T |double   |M√™s em que ocorreu o valor m√°ximo de vencimento para um contrato fechado.                  |
|overdueamountmaxdatemonth_365T |double   |M√™s em que ocorreu o valor vencido no m√°ximo para um contrato ativo.                       |
|overdueamountmaxdateyear_2T    |double   |Ano em que ocorreu o valor m√°ximo devido para contratos ativos.                            |
|overdueamountmaxdateyear_994T  |double   |Ano em que ocorreu o valor m√°ximo de vencimento para contrato fechado.                     |
|periodicityofpmts_1102L        |double   |Frequ√™ncia de parcelas para um contrato fechado.                                           |
|periodicityofpmts_837L         |double   |Frequ√™ncia de parcelas para um contrato ativo.                                             |
|prolongationcount_1120L        |double   |Contagem de prolongamentos no contrato rescindido de acordo com o Credit Bureau.           |
|prolongationcount_599L         |double   |Contagem de prolongamentos de contrato ativo.                                              |
|purposeofcred_426M             |string   |Objetivo de cr√©dito para contrato ativo.                                                   |
|purposeofcred_874M             |string   |Objetivo de cr√©dito em um contrato fechado.                                                |
|refreshdate_3813885D           |string   |Data em que as fontes p√∫blicas do Bureau de Cr√©dito foram atualizadas pela √∫ltima vez.     |
|residualamount_488A            |double   |Quantidade residual de um contrato fechado.                                                |
|residualamount_856A            |double   |Valor residual para o contrato ativo.                                                      |
|subjectrole_182M               |string   |Fun√ß√£o de sujeito no contrato de cr√©dito ativo.                                            |
|subjectrole_93M                |string   |Fun√ß√£o de sujeito no contrato de cr√©dito fechado.                                          |
|totalamount_6A                 |double   |Quantidade total de contratos fechados.                                                    |
|totalamount_996A               |double   |Quantidade total de contratos ativos no departamento de cr√©dito.                           |
|totaldebtoverduevalue_178A     |double   |Valor total da d√≠vida vencida em contratos ativos.                                         |
|totaldebtoverduevalue_718A     |double   |Valor total da d√≠vida em atraso para contratos de cr√©dito fechados.                        |
|totaloutstanddebtvalue_39A     |double   |D√≠vida total pendente para contratos ativos no Credit Bureau.                              |
|totaloutstanddebtvalue_668A    |double   |D√≠vida total pendente para os contratos fechados no Credit Bureau.                         |
+-------------------------------+---------+-------------------------------------------------------------------------------------------+

In [37]:
# Fun√ß√£o avaliar_dataset
df = train_credit_bureau_a_1
nome_dataset = "train_credit_bureau_a_1"

# Avalia√ß√£o
tabela_resultado, resumo = avaliar_dataset(df=df, pk="case_id")

# Visualiza√ß√£o
from IPython.display import display
display(tabela_resultado)
print(resumo)

# Nome e caminho do arquivo
nome_arquivo = f"{nome_dataset}_avaliar"
caminho_saida = fr"{caminho}\\docs\\{nome_arquivo}.csv"

# Salvar CSV
tabela_resultado.to_csv(caminho_saida, index=False, encoding="utf-8-sig")
print(f"‚úÖ Tabela salva em: {caminho_saida}")

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 1386081 duplicatas com base na chave 'case_id'

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1386273,"[964, 1697, 1806]",
1,annualeffectiverate_199L,double,95.44,15213904,6598,"[9.13, 46.15, 13.4]",
2,annualeffectiverate_63L,double,98.05,15629294,5654,"[17.56, 41.89, 9.13]",
3,classificationofcontr_13M,string,0.00,0,11,"[be7b251d, ea6782cc, 1cf4e481]",
4,classificationofcontr_400M,string,0.00,0,389,"[51590aa9, acba4f13, ffee884a]",
...,...,...,...,...,...,...,...
74,totalamount_996A,double,91.19,14536246,283564,"[7747.1743, 300000.0, 197134.4]",
75,totaldebtoverduevalue_178A,double,91.81,14635534,51535,"[7565.216, 1406.9241, 2043.5801]",
76,totaldebtoverduevalue_718A,double,92.00,14664995,951,"[40637.5, 2.4, 65.200005]",
77,totaloutstanddebtvalue_39A,double,91.81,14635534,1081141,"[91101.96, 3130.3062, 13.2699995]",
78,totaloutstanddebtvalue_668A,double,92.00,14664995,694,"[14760.0, 10866.389, 2.4]",

{'total_registros': 15940537, 'colunas_com_nulos': 66, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 1386081}
‚úÖ Tabela salva em: C:\Users\fred\meu_projeto_etl\\docs\\train_credit_bureau_a_1_avaliar.csv

In [38]:
# Executar a fun√ß√£o criar_flags_nulos
train_credit_bureau_a_1_flags = criar_flags_nulos(train_credit_bureau_a_1)

# Listar todas as flags criadas
flags_criadas = [c for c in train_credit_bureau_a_1_flags.columns if c.endswith("_flag")]
print("Flags criadas:", flags_criadas)

# Se quiser inspecionar algumas flags espec√≠ficas:
train_credit_bureau_a_1_flags.select(flags_criadas).limit(5).toPandas()

üü© Sem valores ausentes em: case_id (flag n√£o criada)
‚úÖ Flag criada: annualeffectiverate_199L_flag
‚úÖ Flag criada: annualeffectiverate_63L_flag
üü© Sem valores ausentes em: classificationofcontr_13M (flag n√£o criada)
üü© Sem valores ausentes em: classificationofcontr_400M (flag n√£o criada)
üü© Sem valores ausentes em: contractst_545M (flag n√£o criada)
üü© Sem valores ausentes em: contractst_964M (flag n√£o criada)
‚úÖ Flag criada: contractsum_5085717L_flag
‚úÖ Flag criada: credlmt_230A_flag
‚úÖ Flag criada: credlmt_935A_flag
‚úÖ Flag criada: dateofcredend_289D_flag
‚úÖ Flag criada: dateofcredend_353D_flag
‚úÖ Flag criada: dateofcredstart_181D_flag
‚úÖ Flag criada: dateofcredstart_739D_flag
‚úÖ Flag criada: dateofrealrepmt_138D_flag
‚úÖ Flag criada: debtoutstand_525A_flag
‚úÖ Flag criada: debtoverdue_47A_flag
üü© Sem valores ausentes em: description_351M (flag n√£o criada)
‚úÖ Flag criada: dpdmax_139P_flag
‚úÖ Flag criada: dpdmax_757P_flag
‚úÖ Flag criada: dpdmaxdatemonth_442T_flag
‚úÖ Flag criada: dpdmaxdatemonth_89T_flag
‚úÖ Flag criada: dpdmaxdateyear_596T_flag
‚úÖ Flag criada: dpdmaxdateyear_896T_flag
üü© Sem valores ausentes em: financialinstitution_382M (flag n√£o criada)
üü© Sem valores ausentes em: financialinstitution_591M (flag n√£o criada)
‚úÖ Flag criada: instlamount_768A_flag
‚úÖ Flag criada: instlamount_852A_flag
‚úÖ Flag criada: interestrate_508L_flag
‚úÖ Flag criada: lastupdate_1112D_flag
‚úÖ Flag criada: lastupdate_388D_flag
‚úÖ Flag criada: monthlyinstlamount_332A_flag
‚úÖ Flag criada: monthlyinstlamount_674A_flag
‚úÖ Flag criada: nominalrate_281L_flag
‚úÖ Flag criada: nominalrate_498L_flag
üü© Sem valores ausentes em: num_group1 (flag n√£o criada)
‚úÖ Flag criada: numberofcontrsvalue_258L_flag
‚úÖ Flag criada: numberofcontrsvalue_358L_flag
‚úÖ Flag criada: numberofinstls_229L_flag
‚úÖ Flag criada: numberofinstls_320L_flag
‚úÖ Flag criada: numberofoutstandinstls_520L_flag
‚úÖ Flag criada: numberofoutstandinstls_59L_flag
‚úÖ Flag criada: numberofoverdueinstlmax_1039L_flag
‚úÖ Flag criada: numberofoverdueinstlmax_1151L_flag
‚úÖ Flag criada: numberofoverdueinstlmaxdat_148D_flag
‚úÖ Flag criada: numberofoverdueinstlmaxdat_641D_flag
‚úÖ Flag criada: numberofoverdueinstls_725L_flag
‚úÖ Flag criada: numberofoverdueinstls_834L_flag
‚úÖ Flag criada: outstandingamount_354A_flag
‚úÖ Flag criada: outstandingamount_362A_flag
‚úÖ Flag criada: overdueamount_31A_flag
‚úÖ Flag criada: overdueamount_659A_flag
‚úÖ Flag criada: overdueamountmax2_14A_flag
‚úÖ Flag criada: overdueamountmax2_398A_flag
‚úÖ Flag criada: overdueamountmax2date_1002D_flag
‚úÖ Flag criada: overdueamountmax2date_1142D_flag
‚úÖ Flag criada: overdueamountmax_155A_flag
‚úÖ Flag criada: overdueamountmax_35A_flag
‚úÖ Flag criada: overdueamountmaxdatemonth_284T_flag
‚úÖ Flag criada: overdueamountmaxdatemonth_365T_flag
‚úÖ Flag criada: overdueamountmaxdateyear_2T_flag
‚úÖ Flag criada: overdueamountmaxdateyear_994T_flag
‚úÖ Flag criada: periodicityofpmts_1102L_flag
‚úÖ Flag criada: periodicityofpmts_837L_flag
‚úÖ Flag criada: prolongationcount_1120L_flag
‚úÖ Flag criada: prolongationcount_599L_flag
üü© Sem valores ausentes em: purposeofcred_426M (flag n√£o criada)
üü© Sem valores ausentes em: purposeofcred_874M (flag n√£o criada)
‚úÖ Flag criada: refreshdate_3813885D_flag
‚úÖ Flag criada: residualamount_488A_flag
‚úÖ Flag criada: residualamount_856A_flag
üü© Sem valores ausentes em: subjectrole_182M (flag n√£o criada)
üü© Sem valores ausentes em: subjectrole_93M (flag n√£o criada)
‚úÖ Flag criada: totalamount_6A_flag
‚úÖ Flag criada: totalamount_996A_flag
‚úÖ Flag criada: totaldebtoverduevalue_178A_flag
‚úÖ Flag criada: totaldebtoverduevalue_718A_flag
‚úÖ Flag criada: totaloutstanddebtvalue_39A_flag
‚úÖ Flag criada: totaloutstanddebtvalue_668A_flag
Flags criadas: ['annualeffectiverate_199L_flag', 'annualeffectiverate_63L_flag', 'contractsum_5085717L_flag', 'credlmt_230A_flag', 'credlmt_935A_flag', 'dateofcredend_289D_flag', 'dateofcredend_353D_flag', 'dateofcredstart_181D_flag', 'dateofcredstart_739D_flag', 'dateofrealrepmt_138D_flag', 'debtoutstand_525A_flag', 'debtoverdue_47A_flag', 'dpdmax_139P_flag', 'dpdmax_757P_flag', 'dpdmaxdatemonth_442T_flag', 'dpdmaxdatemonth_89T_flag', 'dpdmaxdateyear_596T_flag', 'dpdmaxdateyear_896T_flag', 'instlamount_768A_flag', 'instlamount_852A_flag', 'interestrate_508L_flag', 'lastupdate_1112D_flag', 'lastupdate_388D_flag', 'monthlyinstlamount_332A_flag', 'monthlyinstlamount_674A_flag', 'nominalrate_281L_flag', 'nominalrate_498L_flag', 'numberofcontrsvalue_258L_flag', 'numberofcontrsvalue_358L_flag', 'numberofinstls_229L_flag', 'numberofinstls_320L_flag', 'numberofoutstandinstls_520L_flag', 'numberofoutstandinstls_59L_flag', 'numberofoverdueinstlmax_1039L_flag', 'numberofoverdueinstlmax_1151L_flag', 'numberofoverdueinstlmaxdat_148D_flag', 'numberofoverdueinstlmaxdat_641D_flag', 'numberofoverdueinstls_725L_flag', 'numberofoverdueinstls_834L_flag', 'outstandingamount_354A_flag', 'outstandingamount_362A_flag', 'overdueamount_31A_flag', 'overdueamount_659A_flag', 'overdueamountmax2_14A_flag', 'overdueamountmax2_398A_flag', 'overdueamountmax2date_1002D_flag', 'overdueamountmax2date_1142D_flag', 'overdueamountmax_155A_flag', 'overdueamountmax_35A_flag', 'overdueamountmaxdatemonth_284T_flag', 'overdueamountmaxdatemonth_365T_flag', 'overdueamountmaxdateyear_2T_flag', 'overdueamountmaxdateyear_994T_flag', 'periodicityofpmts_1102L_flag', 'periodicityofpmts_837L_flag', 'prolongationcount_1120L_flag', 'prolongationcount_599L_flag', 'refreshdate_3813885D_flag', 'residualamount_488A_flag', 'residualamount_856A_flag', 'totalamount_6A_flag', 'totalamount_996A_flag', 'totaldebtoverduevalue_178A_flag', 'totaldebtoverduevalue_718A_flag', 'totaloutstanddebtvalue_39A_flag', 'totaloutstanddebtvalue_668A_flag']

,annualeffectiverate_199L_flag,annualeffectiverate_63L_flag,contractsum_5085717L_flag,credlmt_230A_flag,credlmt_935A_flag,dateofcredend_289D_flag,dateofcredend_353D_flag,dateofcredstart_181D_flag,dateofcredstart_739D_flag,dateofrealrepmt_138D_flag,...,prolongationcount_599L_flag,refreshdate_3813885D_flag,residualamount_488A_flag,residualamount_856A_flag,totalamount_6A_flag,totalamount_996A_flag,totaldebtoverduevalue_178A_flag,totaldebtoverduevalue_718A_flag,totaloutstanddebtvalue_39A_flag,totaloutstanddebtvalue_668A_flag
0,1,1,1,1,0,0,1,1,0,1,...,1,1,1,0,1,1,1,1,1,1
1,1,1,1,1,1,0,1,1,0,1,...,1,1,1,1,1,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1

In [39]:
# Executar a fun√ß√£o detectar_e_converter_datas
train_credit_bureau_a_1_date, cols_conv = detectar_e_converter_datas(train_credit_bureau_a_1_flags)

print("Colunas convertidas:", cols_conv)

# Verificar schema ap√≥s convers√£o
print(train_credit_bureau_a_1_date.printSchema())

# Exibir amostra das colunas convertidas (sem coletar tudo)
train_credit_bureau_a_1_date.select(*cols_conv).show(10, truncate=False)

‚úÖ Coluna 'dateofcredend_289D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'dateofcredend_353D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'dateofcredstart_181D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'dateofcredstart_739D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'dateofrealrepmt_138D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'lastupdate_1112D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'lastupdate_388D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'numberofoverdueinstlmaxdat_148D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'numberofoverdueinstlmaxdat_641D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'overdueamountmax2date_1002D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'overdueamountmax2date_1142D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'refreshdate_3813885D' convertida com formato: yyyy-MM-dd
Colunas convertidas: ['dateofcredend_289D', 'dateofcredend_353D', 'dateofcredstart_181D', 'dateofcredstart_739D', 'dateofrealrepmt_138D', 'lastupdate_1112D', 'lastupdate_388D', 'numberofoverdueinstlmaxdat_148D', 'numberofoverdueinstlmaxdat_641D', 'overdueamountmax2date_1002D', 'overdueamountmax2date_1142D', 'refreshdate_3813885D']
root
 |-- case_id: long (nullable = true)
 |-- annualeffectiverate_199L: double (nullable = true)
 |-- annualeffectiverate_63L: double (nullable = true)
 |-- classificationofcontr_13M: string (nullable = true)
 |-- classificationofcontr_400M: string (nullable = true)
 |-- contractst_545M: string (nullable = true)
 |-- contractst_964M: string (nullable = true)
 |-- contractsum_5085717L: double (nullable = true)
 |-- credlmt_230A: double (nullable = true)
 |-- credlmt_935A: double (nullable = true)
 |-- dateofcredend_289D: date (nullable = true)
 |-- dateofcredend_353D: date (nullable = true)
 |-- dateofcredstart_181D: date (nullable = true)
 |-- dateofcredstart_739D: date (nullable = true)
 |-- dateofrealrepmt_138D: date (nullable = true)
 |-- debtoutstand_525A: double (nullable = true)
 |-- debtoverdue_47A: double (nullable = true)
 |-- description_351M: string (nullable = true)
 |-- dpdmax_139P: double (nullable = true)
 |-- dpdmax_757P: double (nullable = true)
 |-- dpdmaxdatemonth_442T: double (nullable = true)
 |-- dpdmaxdatemonth_89T: double (nullable = true)
 |-- dpdmaxdateyear_596T: double (nullable = true)
 |-- dpdmaxdateyear_896T: double (nullable = true)
 |-- financialinstitution_382M: string (nullable = true)
 |-- financialinstitution_591M: string (nullable = true)
 |-- instlamount_768A: double (nullable = true)
 |-- instlamount_852A: double (nullable = true)
 |-- interestrate_508L: double (nullable = true)
 |-- lastupdate_1112D: date (nullable = true)
 |-- lastupdate_388D: date (nullable = true)
 |-- monthlyinstlamount_332A: double (nullable = true)
 |-- monthlyinstlamount_674A: double (nullable = true)
 |-- nominalrate_281L: double (nullable = true)
 |-- nominalrate_498L: double (nullable = true)
 |-- num_group1: long (nullable = true)
 |-- numberofcontrsvalue_258L: double (nullable = true)
 |-- numberofcontrsvalue_358L: double (nullable = true)
 |-- numberofinstls_229L: double (nullable = true)
 |-- numberofinstls_320L: double (nullable = true)
 |-- numberofoutstandinstls_520L: double (nullable = true)
 |-- numberofoutstandinstls_59L: double (nullable = true)
 |-- numberofoverdueinstlmax_1039L: double (nullable = true)
 |-- numberofoverdueinstlmax_1151L: double (nullable = true)
 |-- numberofoverdueinstlmaxdat_148D: date (nullable = true)
 |-- numberofoverdueinstlmaxdat_641D: date (nullable = true)
 |-- numberofoverdueinstls_725L: double (nullable = true)
 |-- numberofoverdueinstls_834L: double (nullable = true)
 |-- outstandingamount_354A: double (nullable = true)
 |-- outstandingamount_362A: double (nullable = true)
 |-- overdueamount_31A: double (nullable = true)
 |-- overdueamount_659A: double (nullable = true)
 |-- overdueamountmax2_14A: double (nullable = true)
 |-- overdueamountmax2_398A: double (nullable = true)
 |-- overdueamountmax2date_1002D: date (nullable = true)
 |-- overdueamountmax2date_1142D: date (nullable = true)
 |-- overdueamountmax_155A: double (nullable = true)
 |-- overdueamountmax_35A: double (nullable = true)
 |-- overdueamountmaxdatemonth_284T: double (nullable = true)
 |-- overdueamountmaxdatemonth_365T: double (nullable = true)
 |-- overdueamountmaxdateyear_2T: double (nullable = true)
 |-- overdueamountmaxdateyear_994T: double (nullable = true)
 |-- periodicityofpmts_1102L: double (nullable = true)
 |-- periodicityofpmts_837L: double (nullable = true)
 |-- prolongationcount_1120L: double (nullable = true)
 |-- prolongationcount_599L: double (nullable = true)
 |-- purposeofcred_426M: string (nullable = true)
 |-- purposeofcred_874M: string (nullable = true)
 |-- refreshdate_3813885D: date (nullable = true)
 |-- residualamount_488A: double (nullable = true)
 |-- residualamount_856A: double (nullable = true)
 |-- subjectrole_182M: string (nullable = true)
 |-- subjectrole_93M: string (nullable = true)
 |-- totalamount_6A: double (nullable = true)
 |-- totalamount_996A: double (nullable = true)
 |-- totaldebtoverduevalue_178A: double (nullable = true)
 |-- totaldebtoverduevalue_718A: double (nullable = true)
 |-- totaloutstanddebtvalue_39A: double (nullable = true)
 |-- totaloutstanddebtvalue_668A: double (nullable = true)
 |-- annualeffectiverate_199L_flag: integer (nullable = false)
 |-- annualeffectiverate_63L_flag: integer (nullable = false)
 |-- contractsum_5085717L_flag: integer (nullable = false)
 |-- credlmt_230A_flag: integer (nullable = false)
 |-- credlmt_935A_flag: integer (nullable = false)
 |-- dateofcredend_289D_flag: integer (nullable = false)
 |-- dateofcredend_353D_flag: integer (nullable = false)
 |-- dateofcredstart_181D_flag: integer (nullable = false)
 |-- dateofcredstart_739D_flag: integer (nullable = false)
 |-- dateofrealrepmt_138D_flag: integer (nullable = false)
 |-- debtoutstand_525A_flag: integer (nullable = false)
 |-- debtoverdue_47A_flag: integer (nullable = false)
 |-- dpdmax_139P_flag: integer (nullable = false)
 |-- dpdmax_757P_flag: integer (nullable = false)
 |-- dpdmaxdatemonth_442T_flag: integer (nullable = false)
 |-- dpdmaxdatemonth_89T_flag: integer (nullable = false)
 |-- dpdmaxdateyear_596T_flag: integer (nullable = false)
 |-- dpdmaxdateyear_896T_flag: integer (nullable = false)
 |-- instlamount_768A_flag: integer (nullable = false)
 |-- instlamount_852A_flag: integer (nullable = false)
 |-- interestrate_508L_flag: integer (nullable = false)
 |-- lastupdate_1112D_flag: integer (nullable = false)
 |-- lastupdate_388D_flag: integer (nullable = false)
 |-- monthlyinstlamount_332A_flag: integer (nullable = false)
 |-- monthlyinstlamount_674A_flag: integer (nullable = false)
 |-- nominalrate_281L_flag: integer (nullable = false)
 |-- nominalrate_498L_flag: integer (nullable = false)
 |-- numberofcontrsvalue_258L_flag: integer (nullable = false)
 |-- numberofcontrsvalue_358L_flag: integer (nullable = false)
 |-- numberofinstls_229L_flag: integer (nullable = false)
 |-- numberofinstls_320L_flag: integer (nullable = false)
 |-- numberofoutstandinstls_520L_flag: integer (nullable = false)
 |-- numberofoutstandinstls_59L_flag: integer (nullable = false)
 |-- numberofoverdueinstlmax_1039L_flag: integer (nullable = false)
 |-- numberofoverdueinstlmax_1151L_flag: integer (nullable = false)
 |-- numberofoverdueinstlmaxdat_148D_flag: integer (nullable = false)
 |-- numberofoverdueinstlmaxdat_641D_flag: integer (nullable = false)
 |-- numberofoverdueinstls_725L_flag: integer (nullable = false)
 |-- numberofoverdueinstls_834L_flag: integer (nullable = false)
 |-- outstandingamount_354A_flag: integer (nullable = false)
 |-- outstandingamount_362A_flag: integer (nullable = false)
 |-- overdueamount_31A_flag: integer (nullable = false)
 |-- overdueamount_659A_flag: integer (nullable = false)
 |-- overdueamountmax2_14A_flag: integer (nullable = false)
 |-- overdueamountmax2_398A_flag: integer (nullable = false)
 |-- overdueamountmax2date_1002D_flag: integer (nullable = false)
 |-- overdueamountmax2date_1142D_flag: integer (nullable = false)
 |-- overdueamountmax_155A_flag: integer (nullable = false)
 |-- overdueamountmax_35A_flag: integer (nullable = false)
 |-- overdueamountmaxdatemonth_284T_flag: integer (nullable = false)
 |-- overdueamountmaxdatemonth_365T_flag: integer (nullable = false)
 |-- overdueamountmaxdateyear_2T_flag: integer (nullable = false)
 |-- overdueamountmaxdateyear_994T_flag: integer (nullable = false)
 |-- periodicityofpmts_1102L_flag: integer (nullable = false)
 |-- periodicityofpmts_837L_flag: integer (nullable = false)
 |-- prolongationcount_1120L_flag: integer (nullable = false)
 |-- prolongationcount_599L_flag: integer (nullable = false)
 |-- refreshdate_3813885D_flag: integer (nullable = false)
 |-- residualamount_488A_flag: integer (nullable = false)
 |-- residualamount_856A_flag: integer (nullable = false)
 |-- totalamount_6A_flag: integer (nullable = false)
 |-- totalamount_996A_flag: integer (nullable = false)
 |-- totaldebtoverduevalue_178A_flag: integer (nullable = false)
 |-- totaldebtoverduevalue_718A_flag: integer (nullable = false)
 |-- totaloutstanddebtvalue_39A_flag: integer (nullable = false)
 |-- totaloutstanddebtvalue_668A_flag: integer (nullable = false)

None

+------------------+------------------+--------------------+--------------------+--------------------+----------------+---------------+-------------------------------+-------------------------------+---------------------------+---------------------------+--------------------+
|dateofcredend_289D|dateofcredend_353D|dateofcredstart_181D|dateofcredstart_739D|dateofrealrepmt_138D|lastupdate_1112D|lastupdate_388D|numberofoverdueinstlmaxdat_148D|numberofoverdueinstlmaxdat_641D|overdueamountmax2date_1002D|overdueamountmax2date_1142D|refreshdate_3813885D|
+------------------+------------------+--------------------+--------------------+--------------------+----------------+---------------+-------------------------------+-------------------------------+---------------------------+---------------------------+--------------------+
|2020-08-06        |NULL              |NULL                |2018-08-06          |NULL                |2019-01-11      |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |NULL                |
|2023-06-20        |NULL              |NULL                |2018-06-20          |NULL                |2019-01-24      |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |NULL                |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2019-01-28          |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2019-01-28          |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2019-01-28          |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |NULL                |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2019-01-03          |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2019-01-24          |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2018-11-02          |
|NULL              |NULL              |NULL                |NULL                |NULL                |NULL            |NULL           |NULL                           |NULL                           |NULL                       |NULL                       |2019-01-09          |
+------------------+------------------+--------------------+--------------------+--------------------+----------------+---------------+-------------------------------+-------------------------------+---------------------------+---------------------------+--------------------+
only showing top 10 rows

In [40]:
train_credit_bureau_a_1 = train_credit_bureau_a_1_date
train_credit_bureau_a_1.coalesce(1).write.mode("overwrite").parquet(
    fr"{caminho}\\data\interim\train_bureau_a_1.parquet"
)

### üìå Resumo do tratamento da tabela *train_credit_bureau_a_1*

- ‚úÖ A fun√ß√£o de **avalia√ß√£o do dataset** foi executada.  
- ‚úÖ A fun√ß√£o de **cria√ß√£o de flags de nulos** foi aplicada, gerando diversas novas colunas.  
- ‚úÖ A fun√ß√£o de **detec√ß√£o e convers√£o de datas** foi executada, convertendo v√°rias colunas para o tipo `date`.  
- üîé Ap√≥s avalia√ß√£o detalhada das colunas e seus valores, **n√£o foram necess√°rias novas altera√ß√µes**.  
- üíæ O dataset tratado foi salvo em formato **Parquet**.

## Tratamento da tabela train_credit_bureau_a_2

In [41]:
train_credit_bureau_a_2 = spark.read.parquet(fr"{caminho}\\data\raw\train\train_credit_bureau_a_2_*.parquet")

In [42]:
# Filtrar e selecionar
tabela_descritiva_filtrada = tabela_descritiva.filter(
    col('tabela') == 'train_credit_bureau_a_2_0'
).select('coluna', 'tipo_dado', 'Descricao')

# Mostrar para inspe√ß√£o
tabela_descritiva_filtrada.show(100, truncate=False)

# Transformar em Pandas
tabela_descritiva_pd = tabela_descritiva_filtrada.toPandas()

# Salvar como Markdown
md_path = fr"{caminho}\\docs\tabela_descritiva_credit_bureau_a_2.md"

with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

+-------------------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------+
|coluna                         |tipo_dado|Descricao                                                                                                                                      |
+-------------------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------+
|case_id                        |bigint   |NaN                                                                                                                                            |
|collater_typofvalofguarant_298M|string   |Tipo de avalia√ß√£o colateral (contrato ativo).                                                                                                  |
|collater_typofvalofguarant_407M|string   |Tipo de avalia√ß√£o colateral (contrato fechado).                                                                                                |
|collater_valueofguarantee_1124L|double   |Valor da garantia para contrato ativo.                                                                                                         |
|collater_valueofguarantee_876L |double   |Valor da garantia para contrato fechado.                                                                                                       |
|collaterals_typeofguarante_359M|string   |Tipo de garantia usada como garantia para um contrato fechado.                                                                                 |
|collaterals_typeofguarante_669M|string   |Tipo de garantia para o contrato ativo.                                                                                                        |
|num_group1                     |bigint   |NaN                                                                                                                                            |
|num_group2                     |bigint   |NaN                                                                                                                                            |
|pmts_dpd_1073P                 |double   |Dias devido ao pagamento pelo contrato ativo (NUM_GROUP1 - Contrato existente, NUM_GROUP2 - PAGAMENTO).                                        |
|pmts_dpd_303P                  |double   |Dias vencidos pelo pagamento pelo contrato rescindido de acordo com o Credit Bureau (NUM_GROUP1 - Contrato rescindido, Num_Group2 - Pagamento).|
|pmts_month_158T                |double   |M√™s de pagamento por um contrato fechado (NUM_GROUP1 - Contrato existente, NUM_GROUP2 - PAGAMENTO).                                            |
|pmts_month_706T                |double   |M√™s de pagamento para contrato ativo (NUM_GROUP1 - Contrato rescindido, NUM_GROUP2 - PAGAMENTO).                                               |
|pmts_overdue_1140A             |double   |Pagamento vencido por um contrato ativo (NUM_GROUP1 - Contrato existente, num_group2 - pagamento).                                             |
|pmts_overdue_1152A             |double   |Pagamento vencido por um contrato fechado (NUM_GROUP1 - Contrato rescindido, num_group2 - pagamento).                                          |
|pmts_year_1139T                |double   |Ano de pagamento por um contrato ativo (num_group1 - contrato existente, num_group2 - pagamento).                                              |
|pmts_year_507T                 |double   |Ano de pagamento por um contrato de cr√©dito fechado (NUM_GROUP1 - Contrato rescindido, NUM_GROUP2 - PAGAMENTO).                                |
|subjectroles_name_541M         |string   |Nome da fun√ß√£o de assunto no contrato de cr√©dito fechado (NUM_GROUP1 - Contrato rescindido, NUM_GROUP2 - Fun√ß√µes de sujeitos).                 |
|subjectroles_name_838M         |string   |Nome da fun√ß√£o de assunto no contrato de cr√©dito ativo (NUM_GROUP1 - Contrato existente, NUM_GROUP2 - Fun√ß√µes de sujeitos).                    |
+-------------------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------+

In [43]:
# Fun√ß√£o avaliar_dataset
df = train_credit_bureau_a_2
nome_dataset = "train_credit_bureau_a_2"

# Avalia√ß√£o
tabela_resultado, resumo = avaliar_dataset(df=df, pk="case_id")

# Visualiza√ß√£o
from IPython.display import display
display(tabela_resultado)
print(resumo)

# Nome e caminho do arquivo
nome_arquivo = f"{nome_dataset}_avaliar"
caminho_saida = fr"{caminho}\\docs\\{nome_arquivo}.csv"

# Salvar CSV
tabela_resultado.to_csv(caminho_saida, index=False, encoding="utf-8-sig")
print(f"‚úÖ Tabela salva em: {caminho_saida}")

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 1385287 duplicatas com base na chave 'case_id'

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,1385288,"[21899, 22129, 22165]",
1,collater_typofvalofguarant_298M,string,0.00,0,5,"[8fd95e4b, 9a0c095e, 06fb9ba8]",
2,collater_typofvalofguarant_407M,string,0.00,0,8,"[9276e4bb, 8fd95e4b, 9a0c095e]",
3,collater_valueofguarantee_1124L,double,98.54,185545117,83275,"[300000.0, 14307267.43, 3708826.34]",
4,collater_valueofguarantee_876L,double,96.34,181414202,148993,"[894952.08, 300000.0, 217000.0]",
5,collaterals_typeofguarante_359M,string,0.00,0,15,"[9276e4bb, 2fd21cf1, b1c5e678]",
6,collaterals_typeofguarante_669M,string,0.00,0,15,"[9276e4bb, 2fd21cf1, b1c5e678]",
7,num_group1,bigint,0.00,0,333,"[26, 29, 65]",
8,num_group2,bigint,0.00,0,101,"[26, 29, 19]",
9,pmts_dpd_1073P,double,81.25,152991152,4415,"[299.0, 934.0, 305.0]",
10,pmts_dpd_303P,double,60.26,113465446,4772,"[558.0, 692.0, 305.0]",
11,pmts_month_158T,double,64.88,122168636,13,"[8.0, 7.0, 1.0]",
12,pmts_month_706T,double,15.70,29568980,13,"[8.0, 7.0, 1.0]",
13,pmts_overdue_1140A,double,81.17,152850520,1115376,"[4907.272, 1231.566, 949.08606]",
14,pmts_overdue_1152A,double,60.21,113377640,3260906,"[96940.805, 4342.834, 3560.0422]",
15,pmts_year_1139T,double,64.88,122168636,14,"[2010.0, 2009.0, 2020.0]",
16,pmts_year_507T,double,15.70,29568980,27,"[2010.0, 2001.0, 2009.0]",
17,subjectroles_name_541M,string,0.00,0,11,"[ab3c25cf, 15f04f45, P28_48_88]",
18,subjectroles_name_838M,string,0.00,0,9,"[ab3c25cf, 15f04f45, P28_48_88]",

{'total_registros': 188298452, 'colunas_com_nulos': 10, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 1385287}
‚úÖ Tabela salva em: C:\Users\fred\meu_projeto_etl\\docs\\train_credit_bureau_a_2_avaliar.csv

In [44]:
# Executar a fun√ß√£o criar_flags_nulos
train_credit_bureau_a_2_flags = criar_flags_nulos(train_credit_bureau_a_2)

# Listar todas as flags criadas
flags_criadas = [c for c in train_credit_bureau_a_2_flags.columns if c.endswith("_flag")]
print("Flags criadas:", flags_criadas)

# Se quiser inspecionar algumas flags espec√≠ficas:
train_credit_bureau_a_2_flags.select(flags_criadas).limit(5).toPandas()

üü© Sem valores ausentes em: case_id (flag n√£o criada)
üü© Sem valores ausentes em: collater_typofvalofguarant_298M (flag n√£o criada)
üü© Sem valores ausentes em: collater_typofvalofguarant_407M (flag n√£o criada)
‚úÖ Flag criada: collater_valueofguarantee_1124L_flag
‚úÖ Flag criada: collater_valueofguarantee_876L_flag
üü© Sem valores ausentes em: collaterals_typeofguarante_359M (flag n√£o criada)
üü© Sem valores ausentes em: collaterals_typeofguarante_669M (flag n√£o criada)
üü© Sem valores ausentes em: num_group1 (flag n√£o criada)
üü© Sem valores ausentes em: num_group2 (flag n√£o criada)
‚úÖ Flag criada: pmts_dpd_1073P_flag
‚úÖ Flag criada: pmts_dpd_303P_flag
‚úÖ Flag criada: pmts_month_158T_flag
‚úÖ Flag criada: pmts_month_706T_flag
‚úÖ Flag criada: pmts_overdue_1140A_flag
‚úÖ Flag criada: pmts_overdue_1152A_flag
‚úÖ Flag criada: pmts_year_1139T_flag
‚úÖ Flag criada: pmts_year_507T_flag
üü© Sem valores ausentes em: subjectroles_name_541M (flag n√£o criada)
üü© Sem valores ausentes em: subjectroles_name_838M (flag n√£o criada)
Flags criadas: ['collater_valueofguarantee_1124L_flag', 'collater_valueofguarantee_876L_flag', 'pmts_dpd_1073P_flag', 'pmts_dpd_303P_flag', 'pmts_month_158T_flag', 'pmts_month_706T_flag', 'pmts_overdue_1140A_flag', 'pmts_overdue_1152A_flag', 'pmts_year_1139T_flag', 'pmts_year_507T_flag']

,collater_valueofguarantee_1124L_flag,collater_valueofguarantee_876L_flag,pmts_dpd_1073P_flag,pmts_dpd_303P_flag,pmts_month_158T_flag,pmts_month_706T_flag,pmts_overdue_1140A_flag,pmts_overdue_1152A_flag,pmts_year_1139T_flag,pmts_year_507T_flag
0,0,1,1,1,0,1,1,1,0,1
1,1,1,1,1,0,1,1,1,0,1
2,1,1,1,1,0,1,1,1,0,1
3,1,1,1,1,0,1,1,1,0,1
4,1,1,1,1,0,1,1,1,0,1

In [45]:
train_credit_bureau_a_2 = train_credit_bureau_a_2_flags
train_credit_bureau_a_2.coalesce(1).write.mode("overwrite").parquet(
    fr"{caminho}\\data\interim\train_bureau_a_2.parquet"
)

### üìå Resumo do tratamento da tabela *train_credit_bureau_a_2*

- ‚úÖ Execu√ß√£o da fun√ß√£o de **avalia√ß√£o do dataset**.  
- ‚úÖ **Avalia√ß√£o visual** do dataset.  
- ‚úÖ Execu√ß√£o da fun√ß√£o de **cria√ß√£o de flags** (valores nulos).  
- üíæ Dataset salvo em formato **Parquet**.

## Tratamento da tabela train_credit_bureau_b_1

In [46]:
train_credit_bureau_b_1 = spark.read.parquet(fr"{caminho}\\data\raw\train\train_credit_bureau_b_1.parquet")

In [47]:
# Filtrar e selecionar
tabela_descritiva_filtrada = tabela_descritiva.filter(
    col('tabela') == 'train_credit_bureau_b_1'
).select('coluna', 'tipo_dado', 'Descricao')

# Mostrar para inspe√ß√£o
tabela_descritiva_filtrada.show(100, truncate=False)

# Transformar em Pandas
tabela_descritiva_pd = tabela_descritiva_filtrada.toPandas()

# Salvar como Markdown
md_path = fr"{caminho}\\docs\tabela_descritiva_credit_bureau_b_1.md"

with open(md_path, "w", encoding="utf-8") as f:
    f.write(tabela_descritiva_pd.to_markdown(index=False))

+------------------------------+---------+------------------------------------------------------------------------------------------------------------------+
|coluna                        |tipo_dado|Descricao                                                                                                         |
+------------------------------+---------+------------------------------------------------------------------------------------------------------------------+
|case_id                       |bigint   |NaN                                                                                                               |
|amount_1115A                  |double   |Valor de cr√©dito do contrato ativo fornecido pelo Credit Bureau.                                                  |
|classificationofcontr_1114M   |string   |Classifica√ß√£o do contrato ativo.                                                                                  |
|contractdate_551D             |string   |Data do contrato do contrato ativo                                                                                |
|contractmaturitydate_151D     |string   |Data final do contrato ativo.                                                                                     |
|contractst_516M               |string   |Status do contrato.                                                                                               |
|contracttype_653M             |string   |Tipo de contrato                                                                                                  |
|credlmt_1052A                 |double   |Limite de cr√©dito de um empr√©stimo ativo.                                                                         |
|credlmt_228A                  |double   |Limite de cr√©dito para empr√©stimos fechados.                                                                      |
|credlmt_3940954A              |double   |Limite de cr√©dito para empr√©stimo ativo.                                                                          |
|credor_3940957M               |string   |Nome do credor                                                                                                    |
|credquantity_1099L            |double   |N√∫mero de cr√©ditos no Credit Bureau                                                                               |
|credquantity_984L             |double   |N√∫mero de cr√©ditos fechados no Credit Bureau.                                                                     |
|debtpastduevalue_732A         |double   |Valor de d√≠vida n√£o paga para contratos existentes.                                                               |
|debtvalue_227A                |double   |Valor pendente para contratos de d√≠vida existentes.                                                               |
|dpd_550P                      |double   |O n√∫mero de dias que prev√™ -se para empr√©stimos ativos, onde foi fornecida uma garantia.                          |
|dpd_733P                      |double   |Dias vencidos (DPD) para empr√©stimos garantidos que foram encerrados de acordo com os dados da ag√™ncia de cr√©dito.|
|dpdmax_851P                   |double   |Os dias de vencimento m√°ximo devido a contratos ativos no Credit Bureau.                                          |
|dpdmaxdatemonth_804T          |double   |M√™s em que o vencimento m√°ximo do dia vencido (DPD) ocorreu para contratos ativos nos registros do Credit Bureau. |
|dpdmaxdateyear_742T           |double   |Ano dos dias m√°ximos vencidos (DPD) em um contrato de cr√©dito ativo na ag√™ncia de cr√©dito.                        |
|installmentamount_644A        |double   |Valor de parcelas de um contrato de cr√©dito fechado e garantido.                                                  |
|installmentamount_833A        |double   |Valor de parcelas para um contrato seguro e ativo no Credit Bureau.                                               |
|instlamount_892A              |double   |Valor de parcela para contrato de cr√©dito ativo.                                                                  |
|interesteffectiverate_369L    |double   |Taxa de juros sobre contrato ativo.                                                                               |
|interestrateyearly_538L       |double   |Taxa de juros anual para contrato existente obtido do Credit Bureau.                                              |
|lastupdate_260D               |string   |√öltima data de atualiza√ß√£o para os contratos ativos.                                                              |
|maxdebtpduevalodued_3940955A  |double   |Dias vencidos no momento da d√≠vida m√°xima.                                                                        |
|num_group1                    |bigint   |NaN                                                                                                               |
|numberofinstls_810L           |double   |N√∫mero de parcelas para o contrato ativo.                                                                         |
|overdueamountmax_950A         |double   |Valor m√°ximo de vencimento m√°ximo para contrato ativo.                                                            |
|overdueamountmaxdatemonth_494T|double   |M√™s em que o valor vencido no m√°ximo foi registrado para um contrato ativo com o Credit Bureau.                   |
|overdueamountmaxdateyear_432T |double   |Ano em que ocorreu o valor vencido no m√°ximo para contrato ativo.                                                 |
|periodicityofpmts_997L        |string   |Frequ√™ncia de parcelas para contratos de cr√©dito ativos.                                                          |
|periodicityofpmts_997M        |string   |Frequ√™ncia de parcelas para contratos de cr√©dito ativos.                                                          |
|pmtdaysoverdue_1135P          |double   |N√∫mero de dias que prev√™em para contratos existentes no Credit Bureau.                                            |
|pmtmethod_731M                |string   |M√©todo de pagamento parcelado para contrato existente no Credit Bureau.                                           |
|pmtnumpending_403L            |double   |N√∫mero de pagamentos pendentes para contrato ativo.                                                               |
|purposeofcred_722M            |string   |Objetivo de cr√©dito para contratos ativos.                                                                        |
|residualamount_1093A          |double   |Quantidade residual de contrato de garantia fechada.                                                              |
|residualamount_127A           |double   |Quantidade residual de contrato de garantia ativa.                                                                |
|residualamount_3940956A       |double   |Valor residual para o contrato ativo.                                                                             |
|subjectrole_326M              |string   |Fun√ß√£o de sujeito no contrato de cr√©dito ativo.                                                                   |
|subjectrole_43M               |string   |Fun√ß√£o de sujeito no contrato de cr√©dito fechado.                                                                 |
|totalamount_503A              |double   |Quantidade total de cr√©dito garantido ativo para um cliente.                                                      |
|totalamount_881A              |double   |Montante total de cr√©dito garantido de contratos fechados.                                                        |
+------------------------------+---------+------------------------------------------------------------------------------------------------------------------+

In [48]:
# Fun√ß√£o avaliar_dataset
df = train_credit_bureau_b_1
nome_dataset = "train_credit_bureau_b_1"

# Avalia√ß√£o
tabela_resultado, resumo = avaliar_dataset(df=df, pk="case_id")

# Visualiza√ß√£o
from IPython.display import display
display(tabela_resultado)
print(resumo)

# Nome e caminho do arquivo
nome_arquivo = f"{nome_dataset}_avaliar"
caminho_saida = fr"{caminho}\\docs\\{nome_arquivo}.csv"

# Salvar CSV
tabela_resultado.to_csv(caminho_saida, index=False, encoding="utf-8-sig")
print(f"‚úÖ Tabela salva em: {caminho_saida}")

üìä Avalia√ß√£o do DataFrame...

üîç Chave prim√°ria 'case_id':
‚ö†Ô∏è Encontradas 27670 duplicatas com base na chave 'case_id'

,coluna,tipo,% nulos,qtd_nulos,valores_distintos,exemplo_valores,observacoes
0,case_id,bigint,0.00,0,36500,"[13248, 32954, 38996]",
1,amount_1115A,double,49.08,42110,20527,"[300000.0, 16596.0, 386322.4]",
2,classificationofcontr_1114M,string,0.00,0,10,"[ea6782cc, 436d55c2, 1cf4e481]",
3,contractdate_551D,string,4.54,3892,4076,"[2017-05-14, 2017-12-05, 2019-08-23]",
4,contractmaturitydate_151D,string,4.75,4079,4538,"[2019-08-08, 2019-08-23, 2020-02-26]",
5,contractst_516M,string,0.00,0,15,"[83931972, dd67cff0, 54132f86]",
6,contracttype_653M,string,0.00,0,25,"[1c9c5356, f4e17141, 60e784d6]",
7,credlmt_1052A,double,67.85,58210,9635,"[330000.0, 300000.0, 102197.6]",
8,credlmt_228A,double,81.20,69661,3536,"[20000.717, 300000.0, 79991.805]",
9,credlmt_3940954A,double,55.45,47573,9660,"[300000.0, 35734.0, 34401.402]",
10,credor_3940957M,string,0.00,0,151,"[a294b063, a2979b07, 74bd67a8]",
11,credquantity_1099L,double,38.20,32773,15,"[8.0, 7.0, 1.0]",
12,credquantity_984L,double,46.12,39563,73,"[8.0, 67.0, 69.0]",
13,debtpastduevalue_732A,double,5.33,4574,5854,"[5727.494, 7348.678, 4800.0]",
14,debtvalue_227A,double,49.08,42110,41242,"[42326.7, 1440.646, 67544.336]",
15,dpd_550P,double,38.20,32773,4872,"[502550.0, 56899.0, 1091827.0]",
16,dpd_733P,double,46.12,39563,43,"[67934.0, 90000.0, 8.0]",
17,dpdmax_851P,double,5.32,4567,20158,"[48002.0, 32121.0, 117647.0]",
18,dpdmaxdatemonth_804T,double,5.32,4567,13,"[8.0, 7.0, 1.0]",
19,dpdmaxdateyear_742T,double,5.32,4567,16,"[1900.0, 2010.0, 2009.0]",
20,installmentamount_644A,double,46.12,39563,84,"[683310.44, 2.4, 3009.0]",
21,installmentamount_833A,double,38.20,32773,41973,"[42326.7, 982.60004, 8040.8438]",
22,instlamount_892A,double,49.30,42298,31160,"[6555.6978, 4936.806, 6118.774]",
23,interesteffectiverate_369L,double,88.92,76285,2643,"[17.95, 35.17, 30.49]",
24,interestrateyearly_538L,double,66.40,56966,419,"[15.5, 14.9, 13.4]",
25,lastupdate_260D,string,4.54,3892,612,"[2019-08-08, 2020-02-26, 2020-04-13]",
26,maxdebtpduevalodued_3940955A,double,5.32,4567,1474,"[49.8, 462.4, 76.4]",
27,num_group1,bigint,0.00,0,21,"[19, 0, 7]",
28,numberofinstls_810L,double,49.30,42298,244,"[299.0, 184.0, 170.0]",
29,overdueamountmax_950A,double,5.32,4567,1835,"[244.8, 69.8, 558.0]",
30,overdueamountmaxdatemonth_494T,double,5.32,4567,13,"[8.0, 7.0, 1.0]",
31,overdueamountmaxdateyear_432T,double,5.32,4567,16,"[1900.0, 2010.0, 2009.0]",
32,periodicityofpmts_997L,string,97.64,83764,6,"[–ï–∂–µ–∫–≤–∞—Ä—Ç–∞–ª—å–Ω—ã–µ –ø–ª–∞—Ç–µ–∂–∏ - 90 –¥–Ω–µ–π, –í –¥–µ–Ω—å –∏—Å—Ç–µ...",
33,periodicityofpmts_997M,string,3.81,3272,11,"[842dca9f, 0a59e5b4, e4c51201]",
34,pmtdaysoverdue_1135P,double,5.33,4574,1634,"[558.0, 1051.0, 769.0]",
35,pmtmethod_731M,string,0.00,0,10,"[f6e26148, dbcbe8f8, daad4854]",
36,pmtnumpending_403L,double,49.09,42111,263,"[299.0, 147.0, 170.0]",
37,purposeofcred_722M,string,0.00,0,16,"[5065c2b8, 6ec903ee, 60c73645]",
38,residualamount_1093A,double,81.20,69666,3,"[0.0, 322.0]",
39,residualamount_127A,double,67.85,58210,17357,"[982.60004, 1437.4921, 111601.125]",
40,residualamount_3940956A,double,56.27,48272,21889,"[1437.4921, 18970.55, 18950.4]",
41,subjectrole_326M,string,0.00,0,6,"[ab3c25cf, 15f04f45, P28_48_88]",
42,subjectrole_43M,string,0.00,0,6,"[ab3c25cf, 15f04f45, fa4f56f1]",
43,totalamount_503A,double,38.20,32773,25798,"[300000.0, 330000.0, 386322.4]",
44,totalamount_881A,double,46.12,39563,29138,"[20000.717, 250039.4, 1373933.4]",

{'total_registros': 85791, 'colunas_com_nulos': 35, 'colunas_totalmente_nulas': 0, 'duplicatas_pk': 27670}
‚úÖ Tabela salva em: C:\Users\fred\meu_projeto_etl\\docs\\train_credit_bureau_b_1_avaliar.csv

In [49]:
train_credit_bureau_b_1.select('maxdebtpduevalodued_3940955A').show(30)

+----------------------------+
|maxdebtpduevalodued_3940955A|
+----------------------------+
|                         0.0|
|                        NULL|
|                        NULL|
|                         0.0|
|                         0.0|
|                         5.8|
|                         0.4|
|                        NULL|
|                       344.0|
|                        NULL|
|                       272.6|
|                         0.0|
|                   5.2000003|
|                        NULL|
|                        68.6|
|                         0.0|
|                         0.0|
|                         0.0|
|                         0.2|
|                         0.0|
|                        NULL|
|                         0.0|
|                    9.400001|
|                   6.2000003|
|                         0.0|
|                         0.0|
|                         0.0|
|                       162.6|
|                       260.0|
|                        19.4|
+----------------------------+
only showing top 30 rows

In [50]:
from pyspark.sql import functions as F

COL = "maxdebtpduevalodued_3940955A"  # coluna de dias
MAX_DIAS_PLAUSIVEL = 2000             # ajuste se necess√°rio

# 1) Filtrar valores absurdos (negativos ou > limite)
absurdos_df = (
    train_credit_bureau_b_1
    .filter((F.col(COL) < 0) | (F.col(COL) > F.lit(MAX_DIAS_PLAUSIVEL)))
)

qtd_absurdos = absurdos_df.count()

if qtd_absurdos == 0:
    # 2) Converter para inteiro (arredondando)
    train_credit_bureau_b_1 = train_credit_bureau_b_1.withColumn(COL, F.round(F.col(COL)).cast("int"))
    print(f"‚úÖ Sem valores absurdos detectados. Coluna '{COL}' convertida para int.")
else:
    print(f"‚ö†Ô∏è Encontrados {qtd_absurdos} valores absurdos em '{COL}'. Exemplos:")
    absurdos_df.select(COL).show(20, truncate=False)  # mostra at√© 20 exemplos

‚ö†Ô∏è Encontrados 4 valores absurdos em 'maxdebtpduevalodued_3940955A'. Exemplos:
+----------------------------+
|maxdebtpduevalodued_3940955A|
+----------------------------+
|147470.61                   |
|147448.8                    |
|147448.8                    |
|147470.61                   |
+----------------------------+

In [51]:
train_credit_bureau_b_1 = train_credit_bureau_b_1.withColumn(
    COL,
    F.when((F.col(COL) < 0) | (F.col(COL) > MAX_DIAS_PLAUSIVEL), None).otherwise(F.col(COL))
)
print("‚úÖ Valores absurdos substitu√≠dos por nulo.")

‚úÖ Valores absurdos substitu√≠dos por nulo.

In [52]:
from pyspark.sql import functions as F

COL = "maxdebtpduevalodued_3940955A"  # coluna de dias
MAX_DIAS_PLAUSIVEL = 2000             # ajuste se necess√°rio

# 1) Filtrar valores absurdos (negativos ou > limite)
absurdos_df = (
    train_credit_bureau_b_1
    .filter((F.col(COL) < 0) | (F.col(COL) > F.lit(MAX_DIAS_PLAUSIVEL)))
)

qtd_absurdos = absurdos_df.count()

if qtd_absurdos == 0:
    # 2) Converter para inteiro (arredondando)
    train_credit_bureau_b_1 = train_credit_bureau_b_1.withColumn(COL, F.round(F.col(COL)).cast("int"))
    print(f"‚úÖ Sem valores absurdos detectados. Coluna '{COL}' convertida para int.")
else:
    print(f"‚ö†Ô∏è Encontrados {qtd_absurdos} valores absurdos em '{COL}'. Exemplos:")
    absurdos_df.select(COL).show(20, truncate=False)  # mostra at√© 20 exemplos

‚úÖ Sem valores absurdos detectados. Coluna 'maxdebtpduevalodued_3940955A' convertida para int.

In [53]:
from pyspark.sql import functions as F

COL = "overdueamountmaxdateyear_432T"

df_check = (
    train_credit_bureau_b_1
    .select(
        F.count(F.when(F.col(COL).isNull(), 1)).alias("qtd_nulos"),
        F.count(F.when(F.col(COL) == 1900, 1)).alias("qtd_1900")
    )
)

df_check.show(truncate=False)

+---------+--------+
|qtd_nulos|qtd_1900|
+---------+--------+
|4567     |1       |
+---------+--------+

In [54]:
from pyspark.sql import functions as F

COL = "overdueamountmaxdateyear_432T"

anos_invalidos = (
    train_credit_bureau_b_1
    .filter((F.col(COL) < 1950) | (F.col(COL) > 2025))
    .groupBy(COL)
    .count()
    .orderBy("count", ascending=False)
)

anos_invalidos.show(truncate=False)

+-----------------------------+-----+
|overdueamountmaxdateyear_432T|count|
+-----------------------------+-----+
|1900.0                       |1    |
+-----------------------------+-----+

In [55]:
from pyspark.sql import functions as F

COL = "overdueamountmaxdateyear_432T"

train_credit_bureau_b_1 = train_credit_bureau_b_1.withColumn(
    COL,
    F.when(F.col(COL) == 1900, None).otherwise(F.col(COL))
)

print(f"‚úÖ Valores 1900 em '{COL}' foram substitu√≠dos por NULL.")

‚úÖ Valores 1900 em 'overdueamountmaxdateyear_432T' foram substitu√≠dos por NULL.

In [56]:
# Executar a fun√ß√£o criar_flags_nulos
train_credit_bureau_b_1_flags = criar_flags_nulos(train_credit_bureau_b_1)

# Listar todas as flags criadas
flags_criadas = [c for c in train_credit_bureau_b_1_flags.columns if c.endswith("_flag")]
print("Flags criadas:", flags_criadas)

# Se quiser inspecionar algumas flags espec√≠ficas:
train_credit_bureau_b_1_flags.select(flags_criadas).limit(5).toPandas()

üü© Sem valores ausentes em: case_id (flag n√£o criada)
‚úÖ Flag criada: amount_1115A_flag
üü© Sem valores ausentes em: classificationofcontr_1114M (flag n√£o criada)
‚úÖ Flag criada: contractdate_551D_flag
‚úÖ Flag criada: contractmaturitydate_151D_flag
üü© Sem valores ausentes em: contractst_516M (flag n√£o criada)
üü© Sem valores ausentes em: contracttype_653M (flag n√£o criada)
‚úÖ Flag criada: credlmt_1052A_flag
‚úÖ Flag criada: credlmt_228A_flag
‚úÖ Flag criada: credlmt_3940954A_flag
üü© Sem valores ausentes em: credor_3940957M (flag n√£o criada)
‚úÖ Flag criada: credquantity_1099L_flag
‚úÖ Flag criada: credquantity_984L_flag
‚úÖ Flag criada: debtpastduevalue_732A_flag
‚úÖ Flag criada: debtvalue_227A_flag
‚úÖ Flag criada: dpd_550P_flag
‚úÖ Flag criada: dpd_733P_flag
‚úÖ Flag criada: dpdmax_851P_flag
‚úÖ Flag criada: dpdmaxdatemonth_804T_flag
‚úÖ Flag criada: dpdmaxdateyear_742T_flag
‚úÖ Flag criada: installmentamount_644A_flag
‚úÖ Flag criada: installmentamount_833A_flag
‚úÖ Flag criada: instlamount_892A_flag
‚úÖ Flag criada: interesteffectiverate_369L_flag
‚úÖ Flag criada: interestrateyearly_538L_flag
‚úÖ Flag criada: lastupdate_260D_flag
‚úÖ Flag criada: maxdebtpduevalodued_3940955A_flag
üü© Sem valores ausentes em: num_group1 (flag n√£o criada)
‚úÖ Flag criada: numberofinstls_810L_flag
‚úÖ Flag criada: overdueamountmax_950A_flag
‚úÖ Flag criada: overdueamountmaxdatemonth_494T_flag
‚úÖ Flag criada: overdueamountmaxdateyear_432T_flag
‚úÖ Flag criada: periodicityofpmts_997L_flag
‚úÖ Flag criada: periodicityofpmts_997M_flag
‚úÖ Flag criada: pmtdaysoverdue_1135P_flag
üü© Sem valores ausentes em: pmtmethod_731M (flag n√£o criada)
‚úÖ Flag criada: pmtnumpending_403L_flag
üü© Sem valores ausentes em: purposeofcred_722M (flag n√£o criada)
‚úÖ Flag criada: residualamount_1093A_flag
‚úÖ Flag criada: residualamount_127A_flag
‚úÖ Flag criada: residualamount_3940956A_flag
üü© Sem valores ausentes em: subjectrole_326M (flag n√£o criada)
üü© Sem valores ausentes em: subjectrole_43M (flag n√£o criada)
‚úÖ Flag criada: totalamount_503A_flag
‚úÖ Flag criada: totalamount_881A_flag
Flags criadas: ['amount_1115A_flag', 'contractdate_551D_flag', 'contractmaturitydate_151D_flag', 'credlmt_1052A_flag', 'credlmt_228A_flag', 'credlmt_3940954A_flag', 'credquantity_1099L_flag', 'credquantity_984L_flag', 'debtpastduevalue_732A_flag', 'debtvalue_227A_flag', 'dpd_550P_flag', 'dpd_733P_flag', 'dpdmax_851P_flag', 'dpdmaxdatemonth_804T_flag', 'dpdmaxdateyear_742T_flag', 'installmentamount_644A_flag', 'installmentamount_833A_flag', 'instlamount_892A_flag', 'interesteffectiverate_369L_flag', 'interestrateyearly_538L_flag', 'lastupdate_260D_flag', 'maxdebtpduevalodued_3940955A_flag', 'numberofinstls_810L_flag', 'overdueamountmax_950A_flag', 'overdueamountmaxdatemonth_494T_flag', 'overdueamountmaxdateyear_432T_flag', 'periodicityofpmts_997L_flag', 'periodicityofpmts_997M_flag', 'pmtdaysoverdue_1135P_flag', 'pmtnumpending_403L_flag', 'residualamount_1093A_flag', 'residualamount_127A_flag', 'residualamount_3940956A_flag', 'totalamount_503A_flag', 'totalamount_881A_flag']

,amount_1115A_flag,contractdate_551D_flag,contractmaturitydate_151D_flag,credlmt_1052A_flag,credlmt_228A_flag,credlmt_3940954A_flag,credquantity_1099L_flag,credquantity_984L_flag,debtpastduevalue_732A_flag,debtvalue_227A_flag,...,overdueamountmaxdateyear_432T_flag,periodicityofpmts_997L_flag,periodicityofpmts_997M_flag,pmtdaysoverdue_1135P_flag,pmtnumpending_403L_flag,residualamount_1093A_flag,residualamount_127A_flag,residualamount_3940956A_flag,totalamount_503A_flag,totalamount_881A_flag
0,0,0,0,1,1,1,1,1,0,0,...,0,1,0,0,0,1,1,1,1,1
1,1,0,0,0,0,0,0,0,1,1,...,1,1,0,1,1,0,0,1,0,0
2,1,0,0,1,1,0,0,0,1,1,...,1,1,0,1,1,1,1,1,0,0
3,0,0,0,1,1,1,1,1,0,0,...,0,1,0,0,0,1,1,1,1,1
4,0,0,0,1,1,1,1,1,0,0,...,0,1,0,0,0,1,1,1,1,1

In [57]:
# Executar a fun√ß√£o detectar_e_converter_datas
train_credit_bureau_b_1_date, cols_conv = detectar_e_converter_datas(train_credit_bureau_b_1_flags)

print("Colunas convertidas:", cols_conv)

# Verificar schema ap√≥s convers√£o
print(train_credit_bureau_b_1_date.printSchema())

# Exibir amostra das colunas convertidas (sem coletar tudo)
train_credit_bureau_b_1_date.select(*cols_conv).show(10, truncate=False)

‚úÖ Coluna 'contractdate_551D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'contractmaturitydate_151D' convertida com formato: yyyy-MM-dd
‚úÖ Coluna 'lastupdate_260D' convertida com formato: yyyy-MM-dd
Colunas convertidas: ['contractdate_551D', 'contractmaturitydate_151D', 'lastupdate_260D']
root
 |-- case_id: long (nullable = true)
 |-- amount_1115A: double (nullable = true)
 |-- classificationofcontr_1114M: string (nullable = true)
 |-- contractdate_551D: date (nullable = true)
 |-- contractmaturitydate_151D: date (nullable = true)
 |-- contractst_516M: string (nullable = true)
 |-- contracttype_653M: string (nullable = true)
 |-- credlmt_1052A: double (nullable = true)
 |-- credlmt_228A: double (nullable = true)
 |-- credlmt_3940954A: double (nullable = true)
 |-- credor_3940957M: string (nullable = true)
 |-- credquantity_1099L: double (nullable = true)
 |-- credquantity_984L: double (nullable = true)
 |-- debtpastduevalue_732A: double (nullable = true)
 |-- debtvalue_227A: double (nullable = true)
 |-- dpd_550P: double (nullable = true)
 |-- dpd_733P: double (nullable = true)
 |-- dpdmax_851P: double (nullable = true)
 |-- dpdmaxdatemonth_804T: double (nullable = true)
 |-- dpdmaxdateyear_742T: double (nullable = true)
 |-- installmentamount_644A: double (nullable = true)
 |-- installmentamount_833A: double (nullable = true)
 |-- instlamount_892A: double (nullable = true)
 |-- interesteffectiverate_369L: double (nullable = true)
 |-- interestrateyearly_538L: double (nullable = true)
 |-- lastupdate_260D: date (nullable = true)
 |-- maxdebtpduevalodued_3940955A: integer (nullable = true)
 |-- num_group1: long (nullable = true)
 |-- numberofinstls_810L: double (nullable = true)
 |-- overdueamountmax_950A: double (nullable = true)
 |-- overdueamountmaxdatemonth_494T: double (nullable = true)
 |-- overdueamountmaxdateyear_432T: double (nullable = true)
 |-- periodicityofpmts_997L: string (nullable = true)
 |-- periodicityofpmts_997M: string (nullable = true)
 |-- pmtdaysoverdue_1135P: double (nullable = true)
 |-- pmtmethod_731M: string (nullable = true)
 |-- pmtnumpending_403L: double (nullable = true)
 |-- purposeofcred_722M: string (nullable = true)
 |-- residualamount_1093A: double (nullable = true)
 |-- residualamount_127A: double (nullable = true)
 |-- residualamount_3940956A: double (nullable = true)
 |-- subjectrole_326M: string (nullable = true)
 |-- subjectrole_43M: string (nullable = true)
 |-- totalamount_503A: double (nullable = true)
 |-- totalamount_881A: double (nullable = true)
 |-- amount_1115A_flag: integer (nullable = false)
 |-- contractdate_551D_flag: integer (nullable = false)
 |-- contractmaturitydate_151D_flag: integer (nullable = false)
 |-- credlmt_1052A_flag: integer (nullable = false)
 |-- credlmt_228A_flag: integer (nullable = false)
 |-- credlmt_3940954A_flag: integer (nullable = false)
 |-- credquantity_1099L_flag: integer (nullable = false)
 |-- credquantity_984L_flag: integer (nullable = false)
 |-- debtpastduevalue_732A_flag: integer (nullable = false)
 |-- debtvalue_227A_flag: integer (nullable = false)
 |-- dpd_550P_flag: integer (nullable = false)
 |-- dpd_733P_flag: integer (nullable = false)
 |-- dpdmax_851P_flag: integer (nullable = false)
 |-- dpdmaxdatemonth_804T_flag: integer (nullable = false)
 |-- dpdmaxdateyear_742T_flag: integer (nullable = false)
 |-- installmentamount_644A_flag: integer (nullable = false)
 |-- installmentamount_833A_flag: integer (nullable = false)
 |-- instlamount_892A_flag: integer (nullable = false)
 |-- interesteffectiverate_369L_flag: integer (nullable = false)
 |-- interestrateyearly_538L_flag: integer (nullable = false)
 |-- lastupdate_260D_flag: integer (nullable = false)
 |-- maxdebtpduevalodued_3940955A_flag: integer (nullable = false)
 |-- numberofinstls_810L_flag: integer (nullable = false)
 |-- overdueamountmax_950A_flag: integer (nullable = false)
 |-- overdueamountmaxdatemonth_494T_flag: integer (nullable = false)
 |-- overdueamountmaxdateyear_432T_flag: integer (nullable = false)
 |-- periodicityofpmts_997L_flag: integer (nullable = false)
 |-- periodicityofpmts_997M_flag: integer (nullable = false)
 |-- pmtdaysoverdue_1135P_flag: integer (nullable = false)
 |-- pmtnumpending_403L_flag: integer (nullable = false)
 |-- residualamount_1093A_flag: integer (nullable = false)
 |-- residualamount_127A_flag: integer (nullable = false)
 |-- residualamount_3940956A_flag: integer (nullable = false)
 |-- totalamount_503A_flag: integer (nullable = false)
 |-- totalamount_881A_flag: integer (nullable = false)

None
+-----------------+-------------------------+---------------+
|contractdate_551D|contractmaturitydate_151D|lastupdate_260D|
+-----------------+-------------------------+---------------+
|2016-10-25       |2019-10-25               |2019-01-10     |
|2011-06-15       |2031-06-13               |2019-01-20     |
|2019-01-04       |2021-08-04               |2019-01-20     |
|2018-12-31       |2019-01-29               |2019-01-27     |
|2018-07-25       |2019-12-25               |2019-01-28     |
|2014-11-27       |2021-11-27               |2019-01-15     |
|2015-01-30       |2021-01-30               |2019-01-19     |
|2014-09-12       |2021-09-12               |2019-01-13     |
|2010-06-27       |2013-07-15               |2019-01-30     |
|2012-10-08       |2022-10-08               |2019-01-28     |
+-----------------+-------------------------+---------------+
only showing top 10 rows

In [58]:
train_credit_bureau_b_1 = train_credit_bureau_b_1_date
train_credit_bureau_b_1.coalesce(1).write.mode("overwrite").parquet(
    fr"{caminho}\\data\interim\train_bureau_b_1.parquet"
)

### üìå Resumo do tratamento da tabela *train_credit_bureau_b_1*

- ‚úÖ Execu√ß√£o da fun√ß√£o para **avaliar dataset**.  
- ‚úÖ **Avalia√ß√£o visual** do dataset.  
- ‚úÖ **Corre√ß√£o de inconsist√™ncias** na coluna `maxdebtpduevalodued_3940955A`.  
- ‚úÖ Execu√ß√£o da fun√ß√£o para **cria√ß√£o de flags**.  
- ‚úÖ Execu√ß√£o da fun√ß√£o para **tratamento de datas**.  
- üíæ Arquivo final salvo em formato **Parquet**.